{% extends "geonode_base.html" %}
{% load i18n %}

{% block body %}

<div class="card w-100 border-dark rounded">
  <form id="invite-form" method="POST" action="{% url 'geonode.invitations:geonode-send-invite' %}">
    {% csrf_token %}
    <div class="card-header">
      <h3 class="text-center">{% trans "Invite Users" %}</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="id_email" style="margin-top: 1vh;">Email</label>
            <input type="text" name="email" id="id_email" value="{{ form.email.value }}" class="form-control" placeholder="{% trans 'Email' %}">
        </div>
        <div class="form-group">
          {% if not success_message %}
          {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
          {% endif %}
          {% if error_message %}
              <div class="alert alert-warning">{{ error_message }}</div>
          {% endif %}
          {% if success_message %}
              <div class="alert alert-success">{{ success_message }}</div>
          {% endif %}
        </div>
    </div>
    <div class="card-footer">
      <input type="submit" value="{% trans "Submit" %}" class="btn btn-save btn-block">
    </div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
  
{% endblock %}