{% extends 'geonode_base.html' %}
{% load activity_tags  social_tags i18n %}

{% block title %}{% trans "Recent activity" %}{% endblock %}

{% comment %}
{% block subnav %}
<li><a href="{% url "actstream_object_feed" content_type_id=ctype.pk  object_id=actor.pk %}">RSS</a></li>
<li><a href="{% url "actstream_object_feed_atom" content_type_id=ctype.pk  object_id=actor.pk %}">ATOM</a></li>
{% endblock %}
{% endcomment %}

{% block body %}
    <div class="card w-100 mb-1">
      <div class="card-header text-center"><h2>Recent Activity</h2></div>
      <div class="card-body">
        <ul class="nav nav-tabs" id="nav_recent_activity">
          <li class="active"><a href="#all" data-toggle="tab"><i class=""></i>{% trans "All" %}</a></li>
          <li><a href="#layers" data-toggle="tab"><i class="fa-regular fa-square rotate-45"></i> {% trans "Layers" %}</a></li>
          <li><a href="#maps" data-toggle="tab"><i class="fa-solid fa-map-location-dot"></i> {% trans "Maps" %}</a></li>
          <li><a href="#documents" data-toggle="tab">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.6001 6.40002C19.2858 6.40002 24.6001 5.05002 24.6001 3.40002C24.6001 1.75002 19.2858 0.400024 12.6001 0.400024C5.91438 0.400024 0.600098 1.75002 0.600098 3.40002C0.600098 5.05002 5.91438 6.40002 12.6001 6.40002ZM12.6001 19.9C5.91438 19.9 0.600098 18.55 0.600098 16.9V21.4C0.600098 23.05 5.91438 24.4 12.6001 24.4C19.2858 24.4 24.6001 23.05 24.6001 21.4V16.9C24.6001 18.55 19.2858 19.9 12.6001 19.9ZM12.6001 13.9C5.91438 13.9 0.600098 12.55 0.600098 10.9V15.4C0.600098 17.05 5.91438 18.4 12.6001 18.4C19.2858 18.4 24.6001 17.05 24.6001 15.4V10.9C24.6001 12.55 19.2858 13.9 12.6001 13.9ZM12.6001 7.90002C5.91438 7.90002 0.600098 6.55002 0.600098 4.90002V9.40002C0.600098 11.05 5.91438 12.4 12.6001 12.4C19.2858 12.4 24.6001 11.05 24.6001 9.40002V4.90002C24.6001 6.55002 19.2858 7.90002 12.6001 7.90002Z" fill="black"/>
            </svg>
          {% trans "Documents" %}</a></li>
          <li><a href="#comments" data-toggle="tab"><i class="fa-regular fa-comment"></i> {% trans "Comments" %}</a></li>
        </ul>
      </div>
    </div>
    <div class="tab-content w-100">
      <article id="all" class="tab-pane active">
        <ul class="no-style-list">
        {% for action in action_list %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="layers" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_layers %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="maps" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_maps %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="documents" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_documents %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="comments" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_comments %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
    </div>

{% endblock %}

{% block extra_script %}
{{ block.super }}
<script>
$(function () {
    $("#follow_button, #unfollow_button").click(function () {
        $.post($(this).attr("href"), {});
        $(this).parent().find("#follow_button, #unfollow_button").toggle();
        return false
    });
});
</script>
{% endblock %}
