{% load i18n %}
{% verbatim %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <article ng-repeat="group in results" ng-cloak class="ng-cloak">
      <div class="card">
          <a ng-if="group.group_profile.logo_url != ''" href="{{ group.detail_url }}"><img
              ng-if="group.group_profile.logo_url != ''"
              ng-src="{{ group.group_profile.logo_url }}" alt="{{ group.group_profile.title }}" class="card-img-top" /></a>
        <div class="card-body">
          <h5><a href="{{ group.detail_url }}">{{ group.title }}</a></h5>
          <!-- <a href="mailto:{{ group.email }}" ng-if="group.email != ''"><i class="fa-regular fa-envelope"></i></a> -->
          <p><small>{{ group.description | limitTo: 100 }}{{ group.description.length  > 100 ? '...' : ''}}</small></p>
        </div>
        <div class="card-footer">
            <ul class="row">
              <li class="col text-center">
                <a href="{{ group.detail_url }}">
                  <strong>{{ group.member_count }}</strong>
                  <ng-pluralize count="group.member_count" when="{'1': '{% trans "Member" %}', 'other': '{% trans "Members" %}'}"></ng-pluralize>
                </a>
              </li>
              <li class="col text-center">
                <a href="{{ group.detail_url }}">
                  <strong>{{ group.manager_count }}</strong>
                  <ng-pluralize count="group.manager_count" when="{'1': '{% trans "Manager" %}', 'other': '{% trans "Managers" %}'}"></ng-pluralize>
                </a>
              </li>
            </ul>
        </div>
      </div>
  </article>
</div>
{% endverbatim %}
