{% extends "groups/group_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Explore Group Categories" %} - {{ block.super }} {% endblock %}

{% block body_class %}{% trans "groups explore" %}{% endblock %}

{% block body %}
  <div class="card position-sticky fixed-top">
    <div class="card-body">
      <div class="row">
        {% with include_type_filter='true' %}
          {% with facet_type='groupcategories' %}
            {% include "search/_search_user_content.html" %}
          {% endwith %}
        {% endwith %}
        <div class="row w-100">
          {% if user.is_authenticated and not READ_ONLY_MODE %}
            <div class="col-3"><a href="{% url "group_category_create" %}" class="btn btn-secondary ml-2 btn--pill">{% trans "Create a New Group Category" %}</a></div>
          {% endif %}
          {% if SEARCH_FILTERS.TEXT_ENABLED %}
            {% include "search/_text_container.html" %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% with facet_type='groupcategories' %}
    {% include 'search/_result_user_content.html' %}
  {% endwith %}

  {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
  <script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='groupcategory' %}'
  </script>
  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
