{% extends "groups/group_base.html" %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Explore Group Categories" %} - {{ block.super }} {% endblock %}

{% block body_class %}{% trans "groups explore" %}{% endblock %}

{% block body %}
  <i class="fa-solid fa-angle-up" aria-hidden="true" id="jump_to_top" title="Jump to Top"></i>
  
  <div class="card">
    <div class="card-body">
      <div class="row">
        {% with include_type_filter='true' %}
          {% with facet_type='groupcategories' %}
            {% include "search/_search_user_content.html" %}
          {% endwith %}
        {% endwith %}
      </div>
    </div>
  </div>

  {% with facet_type='groupcategories' %}
    {% include 'search/_result_user_content.html' %}
  {% endwith %}

  {% include "modal/bulk_permissions.html" %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
  {% include 'search/search_scripts.html' %}

{% endblock %}

{% include "_events_handler.html" %}