{% extends "groups/group_base.html" %}
{% load i18n %}

{% block title %} {% trans "Explore Groups" %} - {{ block.super }} {% endblock %}

{% block body_class %}{% trans "groups explore" %}{% endblock %}

{% block body %}
  <div class="col-md-12 mb-4 float-right groupsList">
    <div class="card">
      <div class="card-body">
        <div class="row">
          {% with include_type_filter='true' %}
            {% with facet_type='groups' %}
              {% include "search/_search_user_content.html" %}
            {% endwith %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>

  {% with facet_type='groups' %}
    {% include 'search/_result_user_content.html' %}
  {% endwith %}

  {% include "modal/bulk_permissions.html" %}

{% endblock %}