{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}{% trans "groups explore" %}{% endblock %}

{% block body %}

{% endblock %}

{% block extra_script %}
<script>
  $(function() {
    const stretchCol = () => {
      $(".groupsList").removeClass('col-md-10').addClass('col-md-12');
    }
    $("#sidebarGC").on('click', function() {
      if (Modernizr.mq('(max-width: 1368px)'))
          if (!$("#sidebarGroup").hasClass('active')) {
            stretchCol();
          } else {
            $(".groupsList").removeClass('col-md-12').addClass('col-md-10');
          }
    })
  })
</script>
{% endblock extra_script %}