{% extends "groups/groupcategory_list.html" %}
{% load i18n %}
{% load guardian_tags %}

{% block title %}{{ object.name|default:object.slug }} — {{ block.super.super }}{% endblock %}

{% block body %}
  <div class="card border-dark rounded mb-4">
    <div class="card-header">
      <div class="row">
        <h3 class="col">{{ object.name|default:object.slug }}</h3>
        {% if is_owner %}
          <div class="col-md-4 float-right">
                <a class="btn btn-danger w-100" data-toggle="modal" data-target="#remove_gc_modal">{% trans "Delete Group Category" %}</a></li>
            </div>
            <div class="col-md-4 float-right">
                <a class="btn btn-primary w-100" href="{% url "group_category_update" object.slug %}">{% trans "Edit Group Category Details" %}</a></li>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img src="{{ object.logo_url }}" alt="{{ object.name }}" title="{{ object.name }}">
          </div>
          <div class="col-md-6">
              <p>{{ object.description|default_if_none:'' }}</p>
          </div>
        </div>
    </div>
  </div>
  <div class="card w-100">
    <div class="card-header"><h4 class="text-center">{% trans "Groups" %}</h4></div>
        <div class="card-body">
          <div class="tab-content paginate paginate-auto" id="search-content">
            {% include 'groups/_group_profile_list_item.html' %}
            </div>
        </div>
    </div>
  </div>

  {% include "modal/remove_group_categories.html" %}

{% endblock %}