{% extends "groups/group_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
<div class="card w-100 mb-4 rounded border-dark">
  <div class="card-header text-center"><h3>{%  trans "Edit Members for"  %} <a href="{% url "group_detail" group.slug %}">{{ group.title }}</a></h3></div>
  <div class="card-body bg-light">
    <h4 class="card-title">{%  trans "Current Members" %}</h4>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item col"><a class="nav-primary active" href="#all" data-toggle="tab"><i class=""></i>{% trans "All" %}</a></li>
          <li class="nav-item col"><a class="nav-primary" href="#managers" data-toggle="tab"><i class=""></i> {% trans "Managers" %}</a></li>
          <li class="nav-item col"><a class="nav-primary" href="#members" data-toggle="tab"><i class=""></i> {% trans "Members" %}</a></li>
        </ul>
        <div class="tab-content bg-light">
          <div id="all" class="tab-pane active">
            <ul class="no-style-list">
            {% for member in members %}
                {% include "groups/_current_members.html" %}
            {% endfor %}
            </ul>
          </div>
          <div id="managers" class="tab-pane">
            <ul class="no-style-list">
            {% for member in members %}
              {% if member.role == 'manager' %}
                  {% include "groups/_current_members.html" %}
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          <div id="members" class="tab-pane">
            <ul class="no-style-list">
            {% for member in members %}
              {% if member.role == 'member' %}
                  {% include "groups/_current_members.html" %}
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if member_form %}
  <form method="POST" action="{% url "group_members_add" group.slug %}">
    <div class="card w-100 rounded border-dark">
      <div class="card-header text-center"><h3>{% trans "Add new members" %}</h3></div>
      <div class="card-body">
          {% csrf_token %}
          <div id="member_form_container">
              {{ member_form|crispy }}<br/><br/>
          </div>
      </div>
      <div class="card-footer">
        <input type="submit" value="{% trans "Add Group Members" %}" class="btn btn-save btn-block"/>
      </div>
    </div>
  </form>
{% endif %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
{% with "none" as layer %}
  {% include "toast/permissions_form.html" %}
{% endwith %}



{% endblock extra_script %}
