{% extends "groups/group_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block body %}
<div class="card w-100 mb-4 rounded border-dark" infinite-scroll-directive="loadMoreResource()">
  <div class="card-header">
    <div class="row">
      <h3 class="col">{%  trans "Edit Members for"  %} <a href="{% url "group_detail" group.slug %}">{{ group.title }}</a></h3>
      <div class="align-self-center pr-4"><a role="button" data-toggle="modal" data-target="#add_group_member" class="text-decoration-none"><i class="icon-add_circle font-lg-2" title="Add Member"></i></a></div>
    </div>
  </div>
  <div class="card-body bg-light">
    <h4 class="card-title">{%  trans "Current Members" %}</h4>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="nav-item col"><a class="nav-primary active" href="#all" data-toggle="tab"><i class=""></i>{% trans "All" %}</a></li>
          <li class="nav-item col"><a class="nav-primary" href="#managers" data-toggle="tab"><i class=""></i> {% trans "Managers" %}</a></li>
          <li class="nav-item col"><a class="nav-primary" href="#members" data-toggle="tab"><i class=""></i> {% trans "Members" %}</a></li>
        </ul>
        <div class="tab-content bg-light">
          <div id="all" class="tab-pane active">
            <ul class="no-style-list">
            {% for member in members %}
                {% include "groups/_current_members.html" %}
            {% endfor %}
            </ul>
          </div>
          <div id="managers" class="tab-pane">
            <ul class="no-style-list">
            {% for member in members %}
              {% if member.role == 'manager' %}
                  {% include "groups/_current_members.html" %}
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          <div id="members" class="tab-pane">
            <ul class="no-style-list">
            {% for member in members %}
              {% if member.role == 'member' %}
                  {% include "groups/_current_members.html" %}
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "modal/add_group_member.html" %}

{% endblock %}

{% block extra_script %}
  {{ block.super }}
  {% with "none" as layer %}
    {% include "toast/permissions_form.html" %}
  {% endwith %}

{% endblock extra_script %}
