{% extends "groups/group_detail.html" %}
{% load i18n %}


{% block title %}{{ object.name|default:object.slug }} — {{ block.super.super }}{% endblock %}

{% block body %}

<div class="card w-100 border-dark rounded mb-4">
  <div class="card-header">
    <div class="row">
      <h3 class="col">{{ object.name|default:object.slug }}</h3>
      <div class="col-4 float-right">
        {% if request.user.is_staff or request.user.is_superuser %}
          <a class="btn btn-primary w-100" href="{% url "group_category_update" object.slug %}">{% trans "Edit Group Category Details" %}</a></li>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xs-12 col-md-12 group-details">
        <p class="group-desc">{{ object.description|default_if_none:'' }}</p>
      </div>
    </div>
  </div>
</div>
<div class="card w-100">
  <div class="card-header"><h4 class="text-center">{% trans "Groups" %}</h4></div>
      <div class="card-body">
        <div class="tab-content paginate paginate-auto" id="search-content">
          {% include 'groups/_group_profile_list_item.html' %}
          </div>
        {% include 'search/_pagination.html' %}
      </div>
  </div>
</div>
{% endblock %}


{% block extra_script %}
{{ block.super.super }}
  <script type="text/javascript">
  SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='groups' %}'+ '?group_profile__categories__slug='+ '{{ object.slug }}';
  </script>
  {% with include_spatial='false' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}


