{% extends "geonode_base.html" %}
{% load i18n %}

{% block middle %}

    <div class="row">
    <div class="col-md-12">
      <div class="col-md-8">
          <img src="../../static/geonode/img/anger.jfif" class='stretch' alt=''>
      </div>
      <div class="col-md-4">
        <h1>Arrrgghh...</h1>
        <p>What's wrong with your server???!!!! <br> Call your sysadmin!!!</p>
        <p><i>What you're looking for may have been misplaced <br> in Long Term Memory</i></p>
        <a class="error-link" id='back' href='#' onclick="goBack(); return false;">Back to memory</a>
      </div>
    </div>
  </div>

{% endblock %}
