{% load i18n %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js" integrity="sha512-7O5pXpc0oCRrxk8RUfDYFgn0nO1t+jLuIOQdOMRp4APB7uZ4vSjspzp5y6YDtDs4VzUSTbWzBFZ/LKJhnyFOKw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% if resource.data_citation %}
  <div class="card alert alert-info mt-2 cite-card">
    <div class="row">
        <div class="col-sm-11 pr-0 small" id="citation">
          <span class="mb-0">{{ resource.raw_data_citation|safe|escape }}</span>
        </div>
        <button class="btn" data-clipboard-target="#citation" id="citation_copy">
          <i class="fa-solid fa-copy" title="Copy to clipboard"></i>
        </button>
    </div>
  </div>
{% endif %}

<ul class="nav nav-tabs mt-2">
  <li><a class="nav-primary active" href="#info" data-toggle="tab"><i class="fa-solid fa-circle-info"></i>{% trans "Info" %}</a></li>
  {% if resource.polymorphic_ctype.name == 'layer' %}
  <li><a class="nav-primary" href="#attributes" data-toggle="tab"><i class="fa-solid fa-bars"></i>{% trans "Fields" %}</a></li>
  {% endif %}
  {% if resource.polymorphic_ctype.name == 'layer' %}
  <li><a class="nav-primary" href="#datasets" data-toggle="tab"><i class="fa-solid fa-database"></i>{% trans "Attributes" %}</a></li>
  {% endif %}
  {% if resource.is_mosaic %}
  <li><a class="nav-primary" href="#granules" data-toggle="tab"><i class="fa-solid fa-bars"></i>{% trans "Granules" %}</a></li>
  {% endif %}
  {% if DISPLAY_SOCIAL %}
  <li><a class="nav-primary" href="#share" data-toggle="tab"><i class="fa-solid fa-share"></i>{% trans "Share" %}</a></li>
  {% endif %}
  {% if DISPLAY_RATINGS and request.user.is_authenticated %}
  <li><a class="nav-primary" href="#rate" data-toggle="tab"><i class="fa-solid fa-thumbs-up"></i>{% trans "Ratings" %}</a></li>
  {% endif %}
  {% if DISPLAY_COMMENTS %}
  <li><a class="nav-primary" href="#comments" data-toggle="tab"><i class="fa-regular fa-comment"></i> {% trans "Comments" %}</a></li>
  {% endif %}
  {% if DISPLAY_VERSIONS %}
  <li><a class="nav-primary" href="#versions" data-toggle="tab"><i class="fa-solid fa-code-compare"></i> {% trans "Versions" %}</a></li>
  {% endif %}
  {% if EXIF_ENABLED and resource.polymorphic_ctype.name == 'dataset' and exif_data %}
  <li><a class="nav-primary" href="#exif" data-toggle="tab"><i class="fa-solid fa-image"></i> {% trans "Exif" %}</a></li>
  {% endif %}
</ul>

{% block extra_script %}
  <script type="text/javascript">
    $('#citation_copy').tooltip({
      trigger: 'click',
      placement: 'right'
    });
    
    function setTooltip(btn, message) {
      $(btn).tooltip('hide')
        .attr('data-original-title', message)
        .tooltip('show');
    }
    
    function hideTooltip(btn) {
      setTimeout(function() {
        $(btn).tooltip('hide');
      }, 1000);
    }
    
    // Clipboard
    var clipboard = new ClipboardJS("#citation_copy");
    clipboard.on('success', function(e) {
      setTooltip(e.trigger, 'Citation url copied!');
      hideTooltip(e.trigger);
    });
    
    clipboard.on('error', function(e) {
      setTooltip(e.trigger, 'Citation url failed!');
      hideTooltip(e.trigger);
    });
  </script>
{% endblock extra_script %}