{% load i18n %}

<div class="modal fade" id="_bulk_permissions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <form id="permission_form" accept-charset="UTF-8" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 text-center" id="myModalLabel">{% trans "Set permissions on selected resources" %}</h4>
          <div aria-label="Close" role="button" class="delete_search" style="top: 0;"><span data-dismiss="modal" class="dlt_span" role="button" tabindex="0" aria-label="Close" title="Close"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg></span></div>
        </div>
        <div class="modal-body text-center">
          {% include "_permissions.html" %}
        </div>
        <div class="alert hidden" id="bulk_perms_message">
          <p class="message">}</p>
          <p class="extra_content"></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
          <button class="btn btn-update" ng-click="bulk_perms_submit()" id="bulk_perms_submit" type="button">{% trans "Apply Changes" %}</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% include "_update_permissions_modal.html" %}
