{% load dialogos_tags %}
{% load pagination_tags %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load avatar_tags %}

{% load i18n %}
<div id="comments_section" class="comments paginate paginate-manual">
  <header>
    <h3>{% trans 'Comments' %} <span class="total">({% comment_count resource %} {% trans 'total' %})</span></h3>
  </header>

  {% if user.is_authenticated %}
  <div class="clearfix">
    <a href="#form_post_comment_div" role="button" class="btn float-right btn-primary" data-toggle="modal">{% trans 'Add Comment' %}</a>
  </div>
  {% else %}
  <div class="clearfix">
    <p class="float-right">{% trans 'Log in to add a comment' %}</p>
  </div>
  {% endif %}
  <div class="row">
  {% comments resource as comment_list %}
  {% autopaginate comment_list 5 %}
  {% for comment in comment_list %}
    <article class="col-md-12 card-body">
      <div class="row pl-2">
        <div class="avatar col-md-2 p-0"><a href="{{ comment.author.get_absolute_url }}">{% autoescape off %}{% avatar comment.author 40 %}{% endautoescape %}</a></div>
        <div class="comment-author col text-right">
          <p><a href="{{ comment.author.get_absolute_url }}" rel="author">{{ comment.author }}</a> {% trans "on" %} <time>{{ comment.submit_date|date:"M j, Y" }}</time></p>
          <span>
        </div>
      </div>
      <p class="mb-0">
        {{ comment.comment }}
          {% if comment|can_delete_comment:request.user %}
          <div class="comment-manage">
            <form method="POST" action="{% url 'delete_comment' comment.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-xs float-right">{% trans "Delete" %}</button>
            </form>
          </div>
          {% endif %}
      </p>
    </article>
  {% endfor %}
  </div>
  {% paginate %}
</div>

{% include "modal/comments.html" %}