{% load i18n %}

<style>
  .select2-selection.required {
    border-width: 3px; */
  }
</style>

<div class="card-body" id="permissions-body">
  <!-- view layer -->
  <nav class="filter">
    <div class="panel-heading">
      <h6 class="card-title">
        <a data-toggle="collapse" aria-expanded="true" class="nav-toggle" target="_self" href="#collapse1">
          {% trans "Who can view it?" %}
        </a>
      </h6>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="controls">
        <div class="chk_btn_toggle"><input type="checkbox" name="view_anonymous" id="perms_view_anyone" value="AnonymousUser" {% if DEFAULT_ANONYMOUS_VIEW_PERMISSION %}checked{% endif %} data-toggle="toggle" data-on="Anonymous" data-off="Registered Users" data-onstyle="primary" data-offstyle="info"></div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following users:" %}
            <select class="user-select" name="view_resourcebase_users" id="view_resourcebase_users" required></select>
          </label>
        </div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following groups:" %}
            <select class="group-select" name="view_resourcebase_groups" id="view_resourcebase_groups"></select>
          </label>
        </div>
      </div>
    </div>
  </nav>
  <!-- download layer -->
  <nav class="filter">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" aria-expanded="true" class="nav-toggle" target="_self" href="#collapse2">
          {% trans "Who can download it?" %}
        </a>
      </h6>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="controls">
        <div class="chk_btn_toggle"><input type="checkbox" name="download_anonymous" id="perms_download_resourcebase_anyone" value="AnonymousUser" {% if DEFAULT_ANONYMOUS_DOWNLOAD_PERMISSION %}checked{% endif %} data-toggle="toggle" data-on="Anonymous" data-off="Registered Users" data-onstyle="primary" data-offstyle="info"></div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following users:" %}
            <select class="user-select" name="download_resourcebase_users" id="download_resourcebase_users" required></select>
          </label>
        </div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following groups:" %}
            <select class="group-select" name="download_resourcebase_groups" id="download_resourcebase_groups"></select>
          </label>
        </div>
      </div>
    </div>
  </nav>
  <!-- change metadata -->
  <nav class="filter">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" aria-expanded="true" class="nav-toggle" target="_self" href="#collapse3">
          {% trans "Who can change metadata for it?" %}
        </a>
      </h6>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="controls">
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following users:" %}
            <select class="user-select" name="change_resourcebase_metadata_users" id="change_resourcebase_metadata_users" required></select>
          </label>
        </div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following groups:" %}
            <select class="group-select" name="change_resourcebase_metadata_groups" id="change_resourcebase_metadata_groups"></select>
          </label>
        </div>
      </div>
    </div>
  </nav>
  {% if is_layer %}
  <!-- change layer data -->
  <nav class="filter">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" aria-expanded="true" class="nav-toggle" target="_self" href="#collapse4">
          {% trans "Who can edit data for this layer?" %}
        </a>
      </h6>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="controls">
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following users:" %}
            <select class="user-select" name="change_layer_data_users" id="change_layer_data_users" required></select>
          </label>
        </div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following groups:" %}
            <select class="group-select" name="change_layer_data_groups" id="change_layer_data_groups"></select>
          </label>
        </div>
      </div>
    </div>
  </nav>
  <!-- change layer style -->
  <nav class="filter">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" aria-expanded="true" class="nav-toggle" target="_self" href="#collapse5">
          {% trans "Who can edit styles for this layer?" %}
        </a>
      </h6>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="controls">
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following users:" %}
            <select class="user-select" name="change_layer_style_users" id="change_layer_style_users" required></select>
          </label>
        </div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following groups:" %}
            <select class="group-select" name="change_layer_style_groups" id="change_layer_style_groups"></select>
          </label>
        </div>
      </div>
    </div>
  </nav>
  {% endif %}
  <!-- manage layer -->
  <nav class="filter">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" aria-expanded="true" class="nav-toggle" target="_self" href="#collapse6">
          {% trans "Who can manage it? (update, delete, change permissions, publish/unpublish it)" %}
        </a>
      </h6>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="controls">
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following users:" %}
            <select class="user-select" name="manage_resourcebase_users" id="manage_resourcebase_users" required></select>
          </label>
        </div>
        <div class="radio">
          <label class="autofit_label">
            {% trans "The following groups:" %}
            <select class="group-select" name="manage_resourcebase_groups" id="manage_resourcebase_groups"></select>
          </label>
        </div>
      </div>
    </div>
  </nav>
</div>
