{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "User Guide" %} - {{ block.super }} {% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    <h3 class="text-center" {% if contents.header_title_color %}style="color: {{ contents.header_title_color|safe }}"{% endif %}>
      {% if contents.header_title %}
        {{ contents.header_title|safe }}
      {% else %}
        {% trans "Help & Support" %}
      {% endif %}
    </h3>
  </div>

  <div class="card-body">
    <div class="col-md-12">
      {% if contents.contents %}
        {{ contents.contents|safe }}
      {% else %}
          <p class="h5">{% trans "This page provides helpful information about how to use the SDI. You can use the navbar links to navigate to what you want to know." %}</p>
          
          {% url 'catalogue_browse' as url_catalogue_browse %}
          {% url 'new_map' as url_new_map %}
          {% url 'dataset_upload' as url_dataset_upload %}
          {% url 'layer_upload' as url_layer_upload %}

          <nav id="navbar-browsing-layers" class="navbar bg-dark mt-2 mb-4">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link text-white" href="#browsing-data">Browsing Datasets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#creating-a-layer">Creating a Layer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#creating-a-dataset">Creating a Dataset</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#creating-a-map">Creating a Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#exporting-a-map">Exporting a Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#remixing-a-map">Remixing a Map</a>
              </li>
          </nav>

          {% blocktrans %}
          <p>The SDI provides access to data sets and a map editing application allows users to browse existing maps and contribute their own.</p>
  
          <h4 id="browsing-data">Catalogue (Home) Page</h4>
          <p>The <a href="{{ url_catalogue_browse }}">Catalogue</a> page allows you to browse data uploaded to this SDI.</p>
          <p>All data can be downloaded in a variety of formats, for use in other applications.</p>

          <h4 id="creating-a-layer">Creating a Layer</h4>
          <p>SDI lets you to <a href="{{ url_layer_upload }}">upload spatial data layers</a> in type of native formats: ESRI Shapefile (.shp, .shx, .dbf, .xml and .prj)
            .kml .kmz; .geojson. See <a href="{{ url_layer_upload }}">several tips before upload</a> and make sure your layers are clean and the projection system is well defined.</p>

          <h4 id="creating-a-dataset">Creating a Dataset</h4>
          <p>SDI lets you to <a href="{{ url_dataset_upload }}">upload multiple files</a> in variety of formats. All file types are supported for upload and download in their original format. If you are uploading Tabular Files (csv, tsv, sav, rdata, dta)
            SDI limits you to preview 1000 data in the dataset detail page.</p>
  
          <h4 id="creating-a-map">Creating a Map</h4>
          <p>To create a new map go to <a href="{{ url_new_map }}">this link</a>.</p>
          <p>This will take you to the <a href="{{ url_new_map }}">Map Composer</a> with a base layer loaded.</p>
          <p>To add data layers from the SDI click on the green plus button located below the layers tab on the left hand side of the screen. This will open a dialog listing all the layers available on the SDI.</p>
          <p>To add layers to your map select them and hit the <strong>Add Spatial Data</strong> button. When finished you may hit <strong>Done</strong> to close the dialog and go back to the map.</p>
  
          <h5>Reordering and Removing Layers</h5>
          <p>Change the display order of the layers listed in the data tab by simply dragging and dropping their names. The order in the map will be updated to reflect that. To turn a layer's visibility off simply uncheck it, and to remove it entirely select it and hit the red minus button.</p>
  
          <h5>Saving your map</h5>
          <p>Once a suitable set of layers and zoom level has been found it's time to save it so others can see it.  Click the Save button--the left most icon on the top toolbar, an image of a map with a disk--on the top menu and fill out the title and abstract of the map.</p>
  
          <h4 id="exporting-a-map">Publishing a Map</h4>
          <p>Any map from the SDI can be embedded for use in another site or blog. To publish a map:</p>
          <ol>
            <li>Select the from the list of maps on the community or map page and then hit the 'Publish map' button.</li>
            <li>Choose your desired height and width for the widget in the wizard.</li>
            <li>Copy the HTML snippet provided in the wizard to any HTML page or iFrame-supporting blog post.</li>
          </ol>
          <p>This will put an interactive widget showing you map in your web page or blog post.</p>
          <p>Note that the <a href="{{ url_new_map }}">Map Composer</a> also has a button to publish the map. Just be sure to save the map before publishing if there are changes that you want others to see. It publishes the last saved version, not the last viewed version.</p>
  
          <h4 id="remixing-a-map">Remixing a Map</h4>
          <p>Any map available can serve as a starting point for a new map.</p>
          <ol>
            <li>Open the map in the Map Composer.</li>
            <li>Add and remove layers as you like.</li>
            <li>Pan and zoom to highlight the area of interest.</li>
            <li><strong>IMPORTANT:</strong> Update the title, abstract, contact info and tags to reflect the new map.</li>
            <li>Save the map.</li>
          </ol>
          <p>You will be able to see your new map when you search for it from the <a href="{{ url_catalogue_browse }}">Catalogue</a> tab.</p>
          {% endblocktrans %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}

  

{% endblock %}