{% extends "geonode_base.html" %}
{% load markdownify %}
{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

<link rel="stylesheet" href="{% static "geonode/css/landing-page.css" %}" />
<link rel="stylesheet" href="{% static "geonode/css/vendor.css" %}" />

{% block middle %}
  {{ block.super }}

  {% block home %}
    {% include 'section/home.html' %}
  {% endblock home %}
  {% block showcase %}
    {% include 'section/showcase.html' %}
  {% endblock showcase %}
  {% block datasets %}
    {% include 'section/datasets.html' %}
  {% endblock datasets %}

  {% block cookielawinfo %}
    {% include 'section/cookie_law_info.html' %}
  {% endblock cookielawinfo %}

{% endblock middle %}

{% block extra_script %}
  <script src="{% static "lib/js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "geonode/js/base/modernizr.js" %}"></script>
  <script type="text/javascript" src="{% static "geonode/js/base/pace.min.js" %}"></script>
  <script type="text/javascript" src="{% static "geonode/js/base/plugins.js" %}"></script>
  <script type="text/javascript" src="{% static "geonode/js/base/main.js" %}"></script>
  <script type="text/javascript" src="{% static "geonode/js/cookie-law-info/cookie-law-info-public.js" %}"></script>
{% endblock extra_script %}