{% load i18n avatar_tags %}
{% load static %}
{% load account socialaccount %}
{% load base_tags %}
{% load client_lib_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Spatial Data Infrastructure (SDI) is a platform for sharing (geo)spatial data."/>


    <link rel="shortcut icon" href="{% if custom_theme.favicon %}{{SITEURL}}/uploaded/{{ custom_theme.favicon }} {% else %} {% static 'geonode/img/favicon.ico' %} {% endif %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preload" as="font" href="{% static "geonode/fonts/lato_regular.ttf" %}" crossorigin="" />
    <link rel="preload" as="font" href="{% static "geonode/fonts/lato_bold.ttf" %}" crossorigin="" />
    <link rel="preload" as="font" href="{% static "geonode/fonts/lato_light.ttf" %}" crossorigin="" />

    <link rel="stylesheet" href="{% static "geonode/css/home.css" %}" />
    <link rel="stylesheet" href="{% static "geonode/css/vendor.css" %}" />

    {% block head %}

    {% if DEBUG_STATIC %}
      <link href="{% static "lib/css/jquery.dataTables.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/select2.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap-treeview.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap4-toggle.min.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap-datetimepicker.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap-multiselect.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap-select.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap-table.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap-tokenfield.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/jquery-ui.theme.min.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/jquery-ui.structure.min.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/bootstrap-treeview.css" %}" rel="stylesheet"/>
      <link href="{% static "lib/css/cropper.css" %}" rel="stylesheet"/>
    {% else %}
      <link href="{% static "lib/css/assets.min.css" %}" rel="stylesheet"/>
    {% endif %}

    {% if DEBUG_STATIC %}
      <script src="{% static "lib/js/jquery.min.js" %}"></script>
      <script src="{% static "lib/js/jquery.dataTables.js" %}"></script>
      <script src="{% static "lib/js/bootstrap-treeview.js" %}"></script>
      <script src="{% static "lib/js/bootstrap-tokenfield.js" %}"></script>
      <script src="{% static "lib/js/bootstrap4-toggle.min.js" %}"></script>
      <script src="{% static "lib/js/select2.full.js" %}"></script>
      <script src="{% static "lib/js/jquery.timeago.js" %}"></script>
      <script src="{% static "lib/js/jq-ajax-progress.js" %}"></script>
      <script src="{% static "lib/js/jquery-ui.js" %}"></script>
      <script src="{% static "lib/js/jquery.raty.js" %}"></script>
      <script src="{% static "lib/js/bootstrap.js" %}"></script>
      <script src="{% static "lib/js/moment-with-locales.js" %}"></script>
      <script src="{% static "lib/js/bootstrap-datetimepicker.js" %}"></script>
      <script src="{% static "lib/js/json2.js" %}"></script>
      <script src="{% static "lib/js/waypoints.js" %}"></script>
      <script src="{% static "lib/js/underscore.js" %}"></script>
      <script src="{% static "lib/js/angular.min.js" %}"></script>
      <script src="{% static "lib/js/angular-cookies.js" %}"></script>
      <script src="{% static "lib/js/angular-openlayers-directive.min.js" %}"></script>
      <script src="{% static "lib/js/angular-leaflet-directive.min.js" %}"></script>
      <script src="{% static "lib/js/angular-sanitize.min.js" %}"></script>
      <script src="{% static "lib/js/pace.min.js" %}"></script>
    {% else %}
      <script src="{% static "lib/js/assets.min.js" %}"></script>
    {% endif %}
    
      <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>
      
      {% include "_custom_themes.html" %}
      
      {% block extra_head %}
      {% endblock %}
    {% endblock %}

    <link rel="search" type="application/opensearchdescription+xml" href="{% if SITEURL|default:""|slice:"-1:" == "/" %}{{SITEURL}}{% else %}{{SITEURL}}/{% endif %}catalogue/opensearch" title="{% trans "GeoNode Search" %}"/>

    <script>
        var siteUrl = '{{ SITEURL }}'.replace(/\/?$/, '/');
        var staticUrl = '{% static '' %}';
    </script>

    <!-- Autocomplete script for input boxes -->
    <script src="{% static "geonode/js/search/autocomplete.js" %}"></script>

    <script type="text/javascript">
      function thumbnailFeedbacks(data, status) {
        try {
          $("#_thumbnail_feedbacks").find('.modal-title w-100').text(status);
          $("#_thumbnail_feedbacks").find('.modal-body').text(data);
          $("#_thumbnail_feedbacks").modal("show");
        } catch (err) {
          console.log(err);
        } finally {
          return true;
        }
      }
    </script>

    <!-- RTL styles -->
    {% get_current_language_bidi as LANGUAGE_BIDI %}
    {% if LANGUAGE_BIDI %}
        {% if DEBUG_STATIC %}
          <link rel="stylesheet" type="text/css" href="{% static "geonode/css/geonode-rtl.css" %}">
        {% else %}
          <link rel="stylesheet" type="text/css" href="{% static "geonode/css/geonode-rtl.min.css" %}">
        {% endif %}
    {% endif %}
  </head>

  <body class="{% block body_class %}{% endblock %}" id="top">
    <!-- Loading Mask -->
    <div class='lmask'></div>
    
    {% block header %}
      <header class="s-header fixed-top" style="background-color: unset;">
        {% include 'section/header.html' %}
      </header>
    {% endblock header %}

    {% block navigation %}
      {% include 'section/navigation.html' %}
    {% endblock navigation %}

    {% block home %}
      {% include 'section/home.html' %}
    {% endblock home %}
    {% block showcase %}
      {% include 'section/showcase.html' %}
    {% endblock showcase %}
    {% block datasets %}
      {% include 'section/datasets.html' %}
    {% endblock datasets %}
      
    <div class="alert alert-danger alert-dismissible" role="alert" id="ieflag" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>{% trans "You are using an outdated browser that is not supported by SDI." %}</h1>
      <p>{% trans "Please use a <strong>modern browser</strong> like Mozilla Firefox, Google Chrome or Safari." %}</p>
    </div>


    {% block footer %}
      {% include 'section/footer.html' %}
    {% endblock footer %}


    <!-- Modal must stay outside the navbar -->
    {% include "modal/login.html" %}
    {% include "modal/forgot_password.html" %}
    <!-- End of Modal -->
      
    <script src="{% static "geonode/js/utils/utils.js" %}"></script>
    <script src="{% static "geonode/js/base/base.js" %}"></script>

    <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>

    <script type="text/javascript" src="{% static "geonode/js/base/plugins.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/js/modernizr.js" %}"></script>


    {% include "modal/resource_uploading.html" %}
    {% include "modal/thumbnail_processing.html" %}
    {% include 'modal/change_password.html' %}
    {% include 'modal/request_data.html' %}

  </body>
</html>