{% load i18n %}
{% load staticfiles %}

<script type="text/javascript">

{% autoescape off %}
    var select_button_active = false;

    var metadata_uri = $(location).attr('pathname').split('/').pop();
    var metadata_update_done = false;
    var metadata_preview = false;
    var is_advanced = (metadata_uri.match(/metadata_advanced/i) != null);
    var ui_mandatory_fields = {{ UI_MANDATORY_FIELDS }};

    var updateWizard = function() {
      var activeTab = $("#edit-metadata .wizard--progress li.is-active");
      var first = $("#edit-metadata .wizard--progress li:first-child");
      var last = $("#edit-metadata .wizard--progress li:last-child");
      var firstIndex= first && $(first[0]).data("step");
      var tabIndex = activeTab && $(activeTab[0]).data("step");
      var lastIndex = last && $(last[0]).data("step");

      // buttons visibility
      $('#btn_back_dwn').toggle(firstIndex !== tabIndex);
      $('#btn_next_dwn').toggle(lastIndex !== tabIndex);

      // wizard
      if (tabIndex >= 0) {
        var first;
        for (var i = 0; i < lastIndex; i++) {
          var nextTab = $("#edit-metadata .wizard--progress li[data-step=" + (i) + "]");
          if (nextTab) {
            if(i < tabIndex) {
              nextTab.toggleClass('is-complete', true);
            } else {
              nextTab.toggleClass('is-complete', false);
            }
          }
        }
      }
    };

    var prevNum = 0, totalNum = 0;
    var empty = 0;

    function getTab(number) {
        var activeTab = $("#edit-metadata .wizard--progress li.is-active");
        var tabIndex = activeTab && $(activeTab[0]).data("step");
        var nextTab = $("#edit-metadata .wizard--progress li[data-step=" + number + "]");
        if (nextTab) {
          activeTab.toggleClass('is-active');
          nextTab.tab('show');
          nextTab.toggleClass('is-active');
        }
        updateWizard();
    };
  
    function getPrevTab(){
        var activeTab = $("#edit-metadata .wizard--progress li.is-active");
        var tabIndex = activeTab && $(activeTab[0]).data("step");
        if (tabIndex >= 0) {
            getTab( tabIndex - 1 );
        }
    };
  
    function getNextTab(){
        var activeTab = $("#edit-metadata .wizard--progress li.is-active");
        var tabIndex = activeTab && $(activeTab[0]).data("step");
        if (tabIndex >= 0) {
            getTab( tabIndex + 1 );
        }
    };

    // done button tooltip variables
    var tooltipShown = false;
    var gotIt = false;
    var tooltipContent =  'All fields declared mandatory by the schema are completed, you can continue editing the optional fields or click on "Done" to save your changes and close this page. '
      + '<a id="close-popover-done" data-toggle="clickover" class="btn btn-small btn-primary pull-right">Got it</a><br/>';


    {% block completeness  %}
        var updateCompleteness = function(completeness) {
            {% block extendcompleteness %}{% endblock extendcompleteness %}
            $('#profileCompleteness .progress-bar').html(parseFloat(completeness).toFixed(0) + ' %').width(parseFloat(completeness).toFixed(2) + '%');
            $('#profileCompleteness .completed').toggle(completeness === 100);
            $('#profileCompleteness .not-completed').toggle(completeness !== 100);

            var mandatoryMissing = $('#mandatory').find('.input-empty').length > 0;
            if (mandatoryMissing) {
                var not_tinymce = true;
                var inputs = $('#mandatory').find('.input-empty:not([class^="select2"])');
                var empty = inputs.length;
                for (var i=0; i<inputs.length; i++) {
                    if (tinymce.get(inputs[i].id) !== null && tinymce.get(inputs[i].id).getContent().length == 0) {
                        empty++;
                        not_tinymce = false
                    } else if (typeof inputs[i].value !== undefined && inputs[i].value !== '' && not_tinymce) {
                        empty--;
                    };
                };
                mandatoryMissing = empty > 0;
            };
            /*
            var imgMissing = $('img#image').attr('src');
            if (imgMissing && imgMissing.includes('missing_thumb')) {
                mandatoryMissing = false;
            };
            */
            var licenseMissing = $('#licenses').find('.input-empty').length > 0;
            if (licenseMissing) {
                var not_tinymce = true;
                var inputs = $('#licenses').find('.input-empty');
                var empty = inputs.length;
                for (var i=0; i<inputs.length; i++) {
                    if (tinymce.get(inputs[i].id) !== null && tinymce.get(inputs[i].id).getContent().length == 0) {
                        empty++;
                        not_tinymce = false;
                    } else if (typeof inputs[i].value !== undefined && inputs[i].value !== '' && not_tinymce) {
                        empty--;
                    }
                };
                licenseMissing = empty > 0;
            };

            var contentMissing = $('#content').find('.input-empty:not([class^="select2"])').length > 0;
            if (contentMissing) {
                var not_tinymce = true;
                var inputs = $('#content').find('.input-empty:not([class^="select2"])');
                var empty = inputs.length;
                for (var i=0; i<inputs.length; i++) {
                    if (tinymce.get(inputs[i].id) !== null && tinymce.get(inputs[i].id).getContent().length == 0) {
                        empty++;
                        not_tinymce = false
                    } else if (typeof inputs[i].value !== undefined && inputs[i].value !== '' && not_tinymce) {
                        empty--;
                    };
                };
                contentMissing = empty > 0;
            };

            var validateMissing = function(classes, miss) {
                $('#completeness-hints .'+classes+'')
                .toggleClass('progress-bar-danger', miss)
                .toggleClass('progress-bar-success', !miss)
                .text(miss ? 'Mandatory' : 'Completed')
                .attr('title', miss ? gettext("some schema mandatory fields are missing") : gettext("Metadata Schema mandatory fields completed") )
                .tooltip('fixTitle');
            };

            {% if UI_REQUIRED_FIELDS %}
                var metadataMissing = $('#mandatory').find('.input-empty').length > 0;
                if (metadataMissing) {
                    var inputs = $('#mandatory').find('.input-empty');
                    var empty = inputs.length;
                    for (var i=0; i<inputs.length; i++) {
                        if (typeof inputs[i].value !== undefined && inputs[i].value !== '') {
                            empty--;
                        }
                    }
                    metadataMissing = empty > 0;
                };

                validateMissing('mandatory-hint', mandatoryMissing);
            {% endif %}

            validateMissing('mandatory-hint', mandatoryMissing);
            validateMissing('content-hint', contentMissing);
            validateMissing('licenses-hint', licenseMissing);

            //done button tooltip
            if(completeness === 100 && !tooltipShown && !gotIt) {
                tooltipShown = true;
                setTimeout(function() {
                    $('.metadata-edit-done').popover('show');
                    $(document).on('click', '#close-popover-done', function() {
                        $('.metadata-edit-done').popover('hide');
                        gotIt = true;
                    });
                }, 1500);
            } else if (completeness < 100) {
                tooltipShown = false;
                $('.metadata-edit-done').popover('hide');
            };
                // show/hide done button
            $('.metadata-edit-done').animate(completeness === 100 ? {width: '100px', opacity: 1} : {width: 0, opacity: 0});
        };
    {% endblock completeness  %}

    function containsEmpty(a) {
        return [].concat(a).sort().reverse().pop() === "";
    };
    var removeTotal = 0;
    var addedTotal = 0;

    var warningMessage = function(el) {
        var mandatoryWarning = "<p class='xxs-font-size mandatory-warning'><strong>* Field declared Mandatory by the Metadata Schema</strong></p>"
            // set proper classes to count empty fields and display them
        var setInputEmpty = function(el, empty) {
            $(el).toggleClass("input-empty", empty); 
        };

        const toggleTinyMCE = () => {
            let id = $(el)[0].id;
            let _this = "#"+id;
            var content = tinymce.get(id).save().replace(/(<p>)*/g, "").replace(/<(\/)?p[^>]*>/g, "");
            if (content.trim() !== "") {
                $(_this).parent().find(".mandatory-warning").remove();
                if (removeTotal === 0 && content.trim().length == 1) {
                    totalNum--, empty--, removeTotal++
                }
            } else {
                $(_this).parent().append(mandatoryWarning)
                if (addedTotal === 0) {
                    totalNum++, empty++, addedTotal++
                }
            }
            if ($(_this).parent().find(".mandatory-warning").length > 1) {
                $(_this).parent().find(".mandatory-warning").remove()
            }
        }

        const toggleWarningOthers = (fire=true) => {
            $(el).parent().find(".mandatory-warning").remove();
            if (fire) {
                if ($(el).hasClass("input-empty")) {
                    totalNum--, empty--
                };
                let attr = $(el).attr("class");
                // handle toggle for tinymce textarea
                if (typeof attr === 'undefined') {
                    toggleTinyMCE();
                } else if (attr.includes("select2")) {
                    $(el).next().removeClass("input-empty");
                }
            };
        };

        const appendWarning = (fire=true) => {
            $(el).parent().append(mandatoryWarning);
            let attr = $(el).attr("class");
            // handler for tinymce
            if (typeof attr === 'undefined') {
                toggleTinyMCE()
            } else {
                if (attr.includes("select2")) {
                    $(el).next().addClass("input-empty");
                }
                if (fire) empty++, totalNum++
            }
        };
        const toggleWarningBootstrap = () => {
            $(el).parent().parent().find(".mandatory-warning").remove();
            // bootstrap-select copies the select's classes, so it have to be removed
            if ($(el).parent().hasClass("input-empty")) {
                $(el).parent().removeClass("input-empty");
            };
            empty--, totalNum--
        };
        const appendWarningBootstrap = () => {
            $(el).parent().parent().append(mandatoryWarning);
            empty++, totalNum++
        };
        
        function setWarning(set) {
            set === true ? setInputEmpty(el, true) : setInputEmpty(el, false)
        };

        function toggleMultiple(fire=true) {
            let _bootstrapSelect = $(el).hasClass("selectpicker")

            // handle if the warning message initialize at first or whenever the input change
            if (fire) {
                // don't add another warning if the last trigger has a warn
                if (_bootstrapSelect) {
                    // handle if init has warning message and referesh bootstrap
                    if ($(el).parent().parent().find('.mandatory-warning').length !== 0) {
                        if (!$(el).val() || !$(el).val()[0]) {
                            setWarning(false);
                        } else {
                            setWarning(false);
                            toggleWarningBootstrap();
                        }
                    // then handle the trigger change input
                    } else {
                        if (!$(el).val() || !$(el).val()[0]) {
                            setWarning(true);
                            appendWarningBootstrap();
                        }
                    }
                } else {
                    if ($(el).parent().find('.mandatory-warning').length !== 0) {
                        setWarning(false);
                        toggleWarningOthers();
                        totalNum--, empty--
                    } else {
                        if (!$(el).val() || !$(el).val()[0]) {
                            setWarning(true);
                            appendWarning();
                        }
                    }
                }
            } else {
                setWarning(true);
                appendWarning(false);
            }
        };
        
        function addOthers(fire) {
            appendWarning(fire);
            setWarning(true);
        };

        function toggleWarning(fire) { 
            toggleWarningOthers(fire);
            setWarning(false);
        };
        
        return { 
            toggleMultiple: function(fire) {
                toggleMultiple(fire)
            }, 
            addOthers: function(fire) {
                addOthers(fire)
            },
            toggleWarning: function(fire) {
                toggleWarning(fire)
            } 
        }
    };

    var updatePercentage = () => {

        var perc = (1 / (totalNum + 1)) * 100;
            perc = isFinite(totalNum) ? perc : 100
        updateCompleteness(perc);

    };

    var isMandatoryField = function (el) {
        var is_mandatory = false;

        is_mandatory = ui_mandatory_fields.some(function(field) {
            return el.id == field;
        })
        
        return is_mandatory;
    };

    var onChangeMultiple = function(el) {

        $("#"+el).change(function() {
            var list_picking = $(this).val();
            if (containsEmpty(list_picking)) {
                $("#"+ el + " option:selected").prop("selected", false);
            }
            $("#"+el).selectpicker('refresh');
        });
        
    }

    // initialize all metadata field to check mandatory in edit metadata wizard
    var initMetadataWizard = function () {

        onChangeMultiple("category_form");
        onChangeMultiple("region_form");

        var selected_category = {{ category_form.initial }}
        $.each(selected_category, function(i,e) {
            $("#category_form option[value=" + e + "]").prop("selected", true);
        });

        var selected_region = {{ region_form.initial }}
        $.each(selected_region, function(i,e) {
            $("#region_form option[value=" + e + "]").prop("selected", true);
        });

        $('#edit-metadata :input').each(function(){
            if (isMandatoryField(this)) {
                if (!$(this).val() || !$(this).val()[0]) {
                    totalNum++;
                    $(this)[0].type === "select-multiple" ? warningMessage(this).toggleMultiple(false) : warningMessage(this).addOthers(false)
                }
            }
        });
        updatePercentage();
    };

    initMetadataWizard();
    
    {% block onInputChange %}
        var onInputChange = function(e){
            var e_target = null;
            var e_target_value = null;
            if (e.target.id == 'tinymce') {
                e_target = $('#' + $(e.target).data().id)[0];
                e_target_value = e.target.innerText;
            } else {
                e_target = e.target;
                e_target_value = e.target.value;
            };

            if (!e_target_value) {
                // validation check for empty or undefined value
                if (isMandatoryField(this)) {
                    e_target.type === "select-multiple" ? warningMessage(this).toggleMultiple() : warningMessage(this).addOthers()
                }
            } else {
                if (isMandatoryField(this)) {
                    e_target.type === "select-multiple" ? warningMessage(this).toggleMultiple() : warningMessage(this).toggleWarning()
                }
            };

            updatePercentage();
        };
    {% endblock onInputChange %}

    {% block hints %}
        $('#completeness-hints .mandatory-hint').click(getTab.bind(null, 1));
        $('#completeness-hints .licenses-hint').click(getTab.bind(null, 2));
        $('#completeness-hints .content-hint').click(getTab.bind(null, 3));
    {% endblock hints %}
    
    {% block trigger_onInputChange %}
        {{UI_MANDATORY_FIELDS}}.forEach(element => $('#' + element).change(onInputChange));
    
        var selection = document.querySelector('select[name="resource-keywords"]');
        if (selection  !== null) {
            selection.onchange=onInputChange
        };

        var ownerSelection = document.querySelector('select[name="resource-owner"]');
        if (ownerSelection  !== null) {
            ownerSelection.onchange=onInputChange
        };

        var pocSelection = document.querySelector('select[name="resource-poc"]');
        if (pocSelection  !== null) {
            pocSelection.onchange=onInputChange
        };

        var authorSelection = document.querySelector('select[name="resource-metadata_author"]');
        if (authorSelection  !== null) {
            authorSelection.onchange=onInputChange
        };

    {% endblock trigger_onInputChange %}

    $(document).ready(function() {
        $('.metadata-edit-done').popover({
            placement: 'left',
            html: true,
            animation: true,
            content: tooltipContent
        });

        $("#id_resource-links").select2({
            placeholder: "Select an option",
            allowClear: true
        });

        $('.modal-forms').css('max-height', '500px').css('overflow-y', 'scroll');
        $('.modal-close-btn').css('margin','20px');
    
        $('.modal-close-btn').click(function(){
          $('.modal-forms').modal('hide');
        });
    
        $('#id_resource-poc').change(function(){
          if($(this).val() === ''){
            $('#poc_form').modal();
          }
        });

        $('#id_resource-metadata_author').change(function(){
            if($(this).val() === ''){
                $('#metadata_form').modal();
            }
        });

        var pickerOptions = {
            //format: 'YYYY-MM-DD hh:mm:ss',
            format: 'YYYY-MM-DD HH:mm',
            icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down'
            }
        };

        $('.has-external-popover').each(function(){
            var help_text = $(this).attr("data-content");
            
            // Removes the second help icon from select2 fields
            if (help_text) {
                var spanPopoverText = $('<span>', { class: 'external-popover', 'data-content': help_text  }).append("<strong><i class='fa fa fa-question-circle fa-1x'></i></strong>");
                $(this)
                    .closest("div")
                    .children("span:not(.input-group):not(.select2)")  // Removes the second help icon for select2
                    .append(spanPopoverText);
            }
        });

        $('.external-popover').each(function(){
            $(this).popover({'trigger':'hover'});
        });

        $("#preview_image").show();
        $("#preview_map").hide();
        $("#set_thumbnail").hide();

        var changeTxt = ["Edit", "Close"];

        $("#change_thumbnail").click(function () {
            $(this).text(changeTxt.reverse()[0]);
            $("#preview_map, #preview_image").toggle(1000);
            $("#set_thumbnail").toggle();
            {% if layer_form %}
            $('#preview_image_src').attr('src', '{{ layer_form.thumbnail_url.value }}');
            {% elif map_form %}
            $('#preview_image_src').attr('src', '{{ map_form.thumbnail_url.value }}');
            {% endif %}
        });

        // Dataset attributes sorting
        //Helper function to keep table row from collapsing when being sorted
        var fixHelperModified = function(e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function(index) {
              $(this).width($originals.eq(index).width())
            });
            return $helper;
        };
        //Renumber table rows
        function renumber_table(tableID) {
            $(tableID + " input[name$=display_order]").each(function() {
                //note: index 0 is for the header
                count = $(this).closest('tr').index(tableID +' tr');
                $(this).val(count);
            });
        };
        //Make table sortable
        $("#dataset tbody").sortable({
            items: "tr:not(.table-header)",
            helper: fixHelperModified,
            stop: function(event,ui) {renumber_table('#dataset table')}
        }).disableSelection();

        //change position on display_order field change
        $("#dataset table input[name$=display_order]").change(function(e) {
          if (e.originalEvent) {
            // user-triggered event
            var nextIndex = $( this ).val();
            if(nextIndex > 0) {
              var to = $('#dataset tbody');
              var currentPosition = $(this).closest('tr').index('#dataset tbody tr');
              if(currentPosition > nextIndex) { nextIndex--; }
              $(this).closest('tr').insertAfter(to.children().eq(nextIndex));
            }
            renumber_table('#dataset table')
          }
        });

        $(".wizard--progress li").click(function(){
          $(this).tab('show');
          $(".wizard--progress li.is-active").toggleClass('is-active', false);
          $(this).toggleClass('is-active', true);
          updateWizard();
        });

        $('#btn_back_up').click(function(){getPrevTab()});
        $('#btn_back_dwn').click(function(){getPrevTab()});

        $('#btn_next_up').click(function(){getNextTab()});

        $('#metadata_update input[type="text"]').blur(function() {
            if(!$(this).val()){
                $(this).addClass("error");
            } else{
                $(this).removeClass("error");
            }
        });

        $('#btn_next_dwn').click(function(){getNextTab()});

        var stateUpdate = 0;
        $('#btn_upd_md_up').click(function() {
            stateUpdate++;
            validateMetadataAdvanced() ? $('#btn_upd_md_done').css({'opacity': 100, 'width': '100px'}) : (stateUpdate >= 3 ? $('#btn_upd_md_done').css({'opacity': 100, 'width': '100px'}) : $('#error_mandatoryDialog').modal())
        });

        var stateUpdateDwn = 0;
        $('#btn_upd_md_dwn').click(function() {
            stateUpdateDwn++;
            validateFormInput() ? $('#thxDialog').modal() : (stateUpdateDwn >=3 ? : (stateUpdate >= 3 ? $('#btn_upd_md_done').css({'opacity': 100, 'width': '100px'}) : validateRequiredInput())
        });

        var validateMetadataAdvanced = () => {
            var validateForm = $('#metadata_update').find('.error').length > 0;

            return validateForm ? false : true
        };

        var validateFormInput = () => {
            var validateMandatory = $('#completeness-hints .mandatoryl-hint').text();
            var validateContent = $('#completeness-hints .content-hint').text();
            var validateLicense = $('#completeness-hints .licenses-hint').text();
            var validateAll = [validateMandatory, validateContent, validateLicense];
            if (validateAll.includes('Mandatory') || validateAll.includes('')) {
                return false;
            } else {
                return true;
            };
        };
        
        function validateRequiredInput() {
            validateFormInput() ? $('#btn_upd_md_done').css({'opacity': 100, 'width': '100px'}) : $('#error_mandatoryDialog').modal()
        };

        $('#btn_upd_md_done').click(function(){
            $('#preview_pleaseWaitDialog').modal();
            submitMetadata();
            metadata_update_done = true;
            metadata_preview = false;
        });
       
        
        $('#preview_tab').on('show.bs.tab', function(e) {
            $('#preview_pleaseWaitDialog').modal();
            try {
                $('#preview_encoder_iframe')[0].style.width='100%';
                $('#preview_encoder_iframe')[0].style.height='4500px';
                metadata_preview = true;
                $('#metadata_update').submit();

                // buttons visibility
                $('#btn_back_dwn').hide();
                $('#btn_next_dwn').hide();
                $('#btn_upd_md_dwn').hide();
            } catch(err) {
                // Log error
            }
        });
        
        $('#settings_tab').on('show.bs.tab', function() {
            // buttons visibility
            $('#btn_back_dwn').hide();
            $('#btn_next_dwn').hide();
            $('#btn_upd_md_dwn').show();
        });

        $('#metadata_edit_tab').on('show.bs.tab', function() {
          // buttons visibility
          $('#btn_upd_md_dwn').show();
          updateWizard();
        });

        var submitMetadata = () => {
            $('#metadata_update').submit(function(e) {
                e.preventDefault();

                var formData = $(this).serializeArray();
                formData.forEach(function(entry) {
                    try {
                        if((typeof entry["name"]) === "string" &&
                            entry["name"].includes("keywords")) {
                            entry["value"] = escape(entry["value"]);
                        }
                        else if((typeof entry["name"]) !== "string" &&
                            entry["name"].contains("keywords")) {
                            entry["value"] = escape(entry["value"]);
                        }
                    } catch(err){
                        console.log(err);
                    }
                });
                $.ajax({
                    url: "metadata",
                    type: "POST",
                    data: $.param(formData)
                }).done(function(data){
                    // Do something more fancy with your response
                    // $('.message').html(data.message);
                    if (!is_advanced) {
                        try {
                            $('#preview_encoder_iframe')[0].style.width='100%';
                            $('#preview_encoder_iframe')[0].style.height='100%';
                            $('#preview_encoder_iframe')[0].contentWindow.location.reload(true);
                        } catch(err) {
                            // Log error
                            console.log(err);
                        }
                    }
                    metadata_update_done = true;
                }).fail(function(xhr, status, error) {
                    // error handling
                    try {
                        if(xhr.responseJSON && xhr.responseJSON['errors']) {
                            var errors = "<ul>";
                            for(error in xhr.responseJSON['errors']) {
                                errors += "<li>" + error + ": " + xhr.responseJSON['errors'][error] + "</li>";
                            }
                            errors += "</ul>";
                            $("#preview_errorDialog .modal-body").html(errors);
                        } else {
                            if (xhr.responseText.indexOf('<!DOCTYPE html>') >= 0) {
                                $("#preview_errorDialog .modal-body").html("Unknown error occurred. Please ask your developer to resolve this issue.").addClass("text-center");
                            } else {
                                $("#preview_errorDialog .modal-body").html(xhr.responseText);
                            }
                        }
                    } catch(err) {
                        if (xhr.responseText.indexOf('<!DOCTYPE html>') >= 0) {
                            $("#preview_errorDialog .modal-body").html(err);
                        } else {
                            $("#preview_errorDialog .modal-body").html(xhr.responseText);
                        }
                    }
                    $('#preview_errorDialog').modal();
                    metadata_update_done = false;
                }).always(function (a, textStatus, b) {
                    $('#preview_pleaseWaitDialog').modal('hide');
                    if(textStatus === 'success' && metadata_update_done && !metadata_preview) {
                        if (new RegExp(".*/metadata$").test(e.target.action)) {
                            window.location.replace(e.target.action.replace('/metadata',''));
                        } else if(new RegExp(".*/"+metadata_uri+"$").test(e.target.action)) {
                            window.location.replace(e.target.action.replace('/'+metadata_uri,''));
                        }
                    }
                    
                });
    
            });
        };

        // updatePercentage();

        {% if layer.metadata_uploaded_preserve %}
            $('#metadata_update :input').attr('readonly','readonly');
        {% endif %}
        
        $('.has-popover').popover({'trigger':'hover'});

        /** 
        NOTE: This is commented as it needs updating to work with select2 and autocomlete light.
        
        var params = typeof FILTER_TYPE == 'undefined' ? {} : {'type': FILTER_TYPE};
        $.ajax({
            url: {% url 'h_keywords_api' %},
            params: params,
            success: function(data) {
                data = JSON.parse(data)
                var kws = parseKeywords(data);
                {% if freetext_readonly %}
                    $('#id_resource-keywords').tokenfield({
                        createTokensOnBlur: true,
                        autocomplete: {
                            source: kws,
                            delay: 100
                        },
                        showAutocompleteOnFocus: true
                    }).on('tokenfield:createtoken', function (event) {
                        var exists = false;
                        $.each(kws, function(index, value) {
                            if (event.attrs.value === value) {
                                exists = true;
                            }
                        });
                        if(!exists) {
                            event.preventDefault(); //prevents creation of token
                        }
                        var existingTokens = $(this).tokenfield('getTokens');
                        $.each(existingTokens, function(index, token) {
                            if (token.value === event.attrs.value)
                                event.preventDefault();  //prevents creation of token
                        });
                    });
                    $('#id_resource-keywords').tokenfield('readonly');
                    $('div.token .close').click(function() {
                        const token_close_button = $(this);
                        const token_item = token_close_button.parent();
                        token_item.remove();
                        return false;
                    }); 
                {% else %}
                    $('#id_resource-keywords').tokenfield({
                        createTokensOnBlur: true,
                        autocomplete: {
                            source: kws,
                            delay: 100
                        },
                        showAutocompleteOnFocus: true
                    }).on('tokenfield:createtoken', function (event) {
                        var existingTokens = $(this).tokenfield('getTokens');
                        $.each(existingTokens, function(index, token) {
                            if (token.value === event.attrs.value)
                                event.preventDefault();  //prevents creation of token
                        });
                    });
                {% endif %}
                if (window.location.href.match('/metadata_advanced$')) {
                    if (!select_button_active) {
                        const select_button = $('<button id="id_freetext_keyword_select" class="btn btn-primary">Select</button>');
                        const select_button_parent = $('#id_resource-keywords').parent().parent();
                        select_button_parent.append(select_button);
                        select_button_active = true;
                    }
                    $('#id_freetext_keyword_select').click(function() {
                        $('#id_resource-keywords-tokenfield').blur().focus();
                    });
                    const resource_group = $('#id_resource-group');
                    resource_group.empty();
                    resource_group.append('<option value="">-----</option>');
                    {% for group in metadata_author_groups %}
                        {% if resource.group == group.group %}
                            resource_group.append(
                                '<option value="{{ group.group.id }}" selected="selected">{{ group.group.name }}</option>'
                            );
                        {% else %}
                            resource_group.append(
                                '<option value="{{ group.group.id }}">{{ group.group.name }}</option>'
                            );
                        {% endif %}
                    {% endfor %}
                }
                $('#treeview').treeview({
                    color: "#428bca",
                    expandIcon: "fa fa-folder",
                    collapseIcon: "fa fa-folder-open",
                    nodeIcon: "fa fa-tag",
                    showTags: true,
                    showIcon: true,
                    showCheckbox: false,
                    data: data,
                    levels: 1,
                    onNodeSelected: function($event, $data) {
                        var kws = $('#id_resource-keywords').tokenfield('getTokens');
                        var newToken = $data.text
                        var exists = false
                        for (var i=0; i<kws.length; i++) {
                            if (kws[i]['value'].indexOf(newToken) >=0) {
                                exists = true
                            }
                        }
                        if (!exists) {
                            $('#id_resource-keywords').tokenfield('createToken', $data.text);
                        }
                        // $('#treeview-toggle').click();
                    }
                });
                $('#treeview-toggle').click((e, value) => {
                $('#treeview').toggle();
                var icon = $(this).find('i');
                icon.toggleClass('fa-folder').toggleClass('fa-folder-open');
                });
            }
        }); */

        var parseKeywords = function(data) {
            var kws = [];
            for (kw in data) {
                if (data[kw] && data[kw].text) {
                    kws.push(data[kw].text);
                    if (data[kw].nodes) {
                        var kwcs = parseKeywords(data[kw].nodes);
                        for (kwc in kwcs) {
                            kws.push(kwcs[kwc]);
                        }
                    }
                }
            }
            return kws;
        };
    });

{% endautoescape %}

</script>