{% extends "geonode_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load guardian_tags %}
{% load floppyforms %}
{% load static %}

{% block head %}
  {% comment %} <script src="{% static "lib/js/moment-with-locales.js" %}"></script> {% endcomment %}
  <script type="text/javascript" src={% static "tinymce/tinymce.min.js" %}></script>
  <script type="text/javascript" src={% static "django_tinymce/init_tinymce.js" %}></script>
  <link rel="stylesheet" type="text/css" id="mce-u0" href= {% static "tinymce/skins/ui/oxide/skin.min.css" %}>

{{ block.super }}
{% endblock head %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}data{% endblock body_class %}

{% block body %}

{% include "modal/metadata.html" %}
{% endblock body %}

{% block extra_script %}
{{ block.super }}
    {% include 'metadata_form_js.html' %}

    {% if GEONODE_SECURITY_ENABLED %}
     {% include "_permissions_form_js.html" %}
    {% endif %}
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_resource-regions').selectpicker();
        });

        $('#set_thumbnail').click(function(){
          createMapThumbnail();
        });
    </script>

    <script text="javascript">
      var app = angular.module('category', [])
      .controller("CategoryList", function($scope, $http) {
          $http.get(siteUrl + 'api/v2/categories')
              .then(function(response) {
                  $scope.categories = response.data.categories;
              });
      });
      angular.bootstrap(document, ['category']);
    </script>

{% endblock extra_script %}
