{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}{% trans "data" %}{% endblock body_class %}

{% block body %}

{% endblock body %}

{% block extra_script %}
<script text="javascript">
  var app = angular.module('category', [])
  .controller("CategoryList", function($scope, $http) {
      $http.get(siteUrl + 'api/v2/categories')
          .then(function(response) {
              $scope.categories = response.data.categories;
          });
  });
  angular.bootstrap(document, ['category']);
</script>
{% endblock extra_script %}