{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ layer.alternate }} — {{ block.super }}{% endblock %}

{% block body_class %}{% trans "layers" %}{% endblock %}

{% block body %}
{% if error %}
<div class="position-fixed bottom-0 right-0 p-3 toast-container" style="z-index: 9999; right: 0; bottom: 0;">
  <div class="toast-message alert alert-error">{{ error }}</div>
</div>
{% endif %}

<div class="card">
  <div class="card-header">
    <div class="row">
      <h3 class="col">{% blocktrans with layer.alternate as layer_title %}
        Manage Available Styles for <a href="/layers/{{ layer_title }}">{{ layer_title }}</a>
      {% endblocktrans %}</h3>
      <div class="col-2">
        <a href="{% url "catalogue_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn btn-info btn-block">{% trans "Explore Catalogue" %}</a>
      </div>
    </div>
  </div>
</div>

<form action="{% url "layer_style_manage" layer.service_typename %}" method="POST">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <fieldset>
          <div class="card-title">
            <h4>{% trans "Layer Default Style" %}</h4>
          </div>
          <div class="card-text">
            <select id='default_style' name='default_style' required='required' class="selectpicker" data-width="100%">
              {% for style in layer_styles %}
                {% if style.0 == layer.default_style.name or style.0 == layer.default_style.name or style.1 == layer.default_style.sld_title %}
                <option value="{{ style.0 }}" selected>{% if style.1 %}{{ style.1 }}{% else %}{{ style.0 }}{% endif %}</option>
                {% else %}
                <option value="{{ style.0 }}">{% if style.1 %}{{ style.1 }}{% else %}{{ style.0 }}{% endif %}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <fieldset>
          <div class="card-title">
            <h4>{% trans "Available styles" %}</h4>
          </div>
          <div class="card-text">
            <select multiple="multiple" id="style-select" name="style-select" class="selectpicker" data-width="100%">
              {% for style in gs_styles %}
                {% if style.0 in layer_style_names %}
                <option value='{{ style.0 }}' selected>{% if style.1 %}{{ style.1 }}{% else %}{{ style.0 }}{% endif %}</option>
                {% else %}
                <option value='{{ style.0 }}'>{% if style.1 %}{{ style.1 }}{% else %}{{ style.0 }}{% endif %}</option>
                {% endif %}
              {% endfor %}
            </select>
            {% csrf_token %}
            <input type="hidden" value="{{ layer.service_typename }}" />
          </div>
          <div class="card-subtitle">
            <p>{% trans "Click on an available style in the upper box to assign it to this layer. Selected styles appear in the lower box." %}</p>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-footer">
      <input type="submit" value="{% trans "Update Available Styles" %}" class="btn btn-save btn-block" />
    </div>
  </div>
</form>

{% endblock %}
