{% extends "geonode_base.html" %}
{% load i18n %}

{% block body %}

  <div class="row">
    <div class="col-md-12">
      <div class="">
          <img src="../../../static/geonode/img/403.png" class='stretch' alt=''>
      </div>
      <div class="col-md-12">
        <h1 class="text-center">Ewwwww...</h1>
        <p class="font-lg-2 text-center">I want to look your restricted nerves! <br> Okay, caution. There is a dangerous smell, people. Hold on. What is this?</p>
        <p class="font-lg-2 text-center">
          {% if not request.user.is_anonymous %}
            {% if message %}
              <span>{% blocktrans %} {{ message}} {% endblocktrans %}</span>
              <br/>
              {% blocktrans %}Please <span class='text-danger'>ask permission</span> to the resource owner.{% endblocktrans %}
            {% else %}
              {% blocktrans %}Please login or register and retry.{% endblocktrans %}
            {% endif %}
          {% endif %}
        </p>
        <div class="row d-flex justify-content-center">
          <a class="nav-primary" id='back' href='' onclick="goBack(); return false;">Back to memory</a>
          <a class="nav-secondary" href='{% url "catalogue_browse" %}'>Back to home</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
