{% extends "geonode_base.html" %}
{% load i18n %}

{% block body %}

  <div class="row">
    <div class="col-md-12">
      <div class="">
          <img src="../../../static/geonode/img/404.png" class='stretch' alt=''>
      </div>
      <div class="col-md-12">
        <h1 class="text-center">Awwww... Don't cry :)</h1>
        <p class="font-lg-2 text-center">It's just a 404 error!</p>
        <p class="font-lg-2 text-center">What you're looking for may have been misplaced in the Long Term Memory.</p>
        <a class="error-link" id='back' href='' onclick="goBack(); return false;">Back to memory</a>
      </div>
    </div>
  </div>

{% endblock %}
