{% extends "geonode_base.html" %}
{% load i18n %}

{% block body %}

    <div class="row">
    <div class="col-md-12" style="margin-top: 160px;">
      <div class="col-md-8">
          <img src="../../../static/geonode/img/500.png" class='stretch' alt=''>
      </div>
      <div class="col-md-4 error_page" style="margin-top: 220px;">
        <h1>Arrrgghh...</h1>
        <p>What's wrong with your server???!!!! <br> Call your sysadmin!!!</p>
        <p>What you're looking for may have been misplaced in the Long Term Memory</p>
        <a class="error-link" id='back' href='#' onclick="goBack(); return false;">Back to memory</a>
      </div>
    </div>
  </div>

{% endblock %}
