{% extends "services/services_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Remote service unavailable" %}{% endblock %}

{% block body %}
<div class="card border-remote rounded bg-light">
  <div class="card-header">
    <div class="row">
      <h3 class="col text-remote">{% trans "Service unavailable" %}<small> {{ service.name }}</small></h3>
      <div class="col-4 text-right">
        <a href="{% url 'services' %}" class="btn btn-secondary btn-block" type="button">{% trans "Explore Remote Service" %}</a>
      </div>
    </div>
  </div>
  <div class="card-header alert-danger">
    <p class="text-center">{% trans "Could not contact" %} <a href="{{ service.base_url }}" target="_blank">{{ service.base_url }}</a></p>
  </div>
</div>
{% endblock %}
