{% extends "services/services_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block title %} {% trans "Register Service" %} - {{ block.super }} {% endblock %}

{% block body %}
  <div class="card border-dark rounded bg-light">
    <form method="POST" id="service_register_form" action="">
    <div class="card-header">
      <div class="row">
        <h3 class="col">{% trans "Register New Service" %}</h3>
        <div class="col-4 text-right">
          {% if not READ_ONLY_MODE %}
            <a href="{% url 'catalogue_browse' %}" class="btn btn-secondary btn-block" type="button">{% trans "Return to Home" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-body">
          {% csrf_token %}
          {{ form|crispy }}
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-save btn-block" id="submit_button">{% trans "Create" %}</button>
    </div>
    </form>
  </div>
  {% include "modal/manage_service.html" %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
  <script type="text/javascript">
  $(document).ready(function () {
      $('#service_register_form').submit(function () {
          $("#progressModal").modal("show");
      });
  })
  </script>
{% endblock %}
