{% extends "services/services_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}


{% endblock %}

{% block title %} {% trans "Edit Service" %} - {{ block.super }} {% endblock %}

{% block body_inner %}
<div class="row w-100">
  <h3 class="col-8">{% trans "Edit Service" %}</h3>
</div>
<form method="POST" id="service_edit_form">
  {% csrf_token %}
  {{ service_form|crispy }}
  <div class="mt-2">
    <p><input type="submit" class="btn btn-save" value="{% trans "Save" %}"/></p>
  </div>
</form>
{% endblock %}
