{% extends "services/services_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
{{ block.super }}

{% endblock %}

{% block title %} {% trans "Edit Service" %} - {{ block.super }} {% endblock %}

{% block body %}
<div class="card border-remote rounded bg-light">
  <div class="card-header">
    <div class="row">
      <h3 class="col text-remote">{% trans "Edit Service" %}</h3>
      <div class="col-sm-4 text-right">
        <a href="{% url 'services' %}" class="btn btn-secondary btn-block" type="button">{% trans "Explore Remote Service" %}</a>
      </div>
    </div>
  </div>
  <form method="POST" id="service_edit_form" action="">
      <div class="card-body">
        {% csrf_token %}
        {{ service_form|crispy }}
      </div>
      <div class="card-footer">
        <p><input type="submit" class="btn btn-save btn-block" value="{% trans "Save" %}"/></p>
      </div>
  </form>
</div>

{% endblock %}
