{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load static %}
{% load layer_tags %}

{% block body_class %}data data-list upload{% endblock %}

{% block title %} {% trans "Upload Layer Step: Set SRS" %} - {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block body %}
<div class="card rounded bg-light mb-2">
  <div class="card-header bg-layer">
    <div class="row">
      <h3 class="text-light"> {% trans "Provide CRS for " %} "{{ layer_name }}" </h3>
    </div>
  </div>
  {% if native_crs %}
    <div class="card-footer bg-warning">
      <p>
      {% blocktrans %}
          A coordinate reference system for this layer could not be determined.
          Locate or enter the appropriate ESPG code for this layer below.
          One way to do this is do visit:
          <a href="http://prj2epsg.org/search" target="_">prj2epsg</a>
          and enter the following:
      {% endblocktrans %}
      </p>
      <pre>
      {% if native_crs %}{{ native_crs }}{% else %}{% trans "Native CRS could not be found!" %}{% endif %}
      </pre>
    </div>
  {% endif %}
  <form method="POST" id="crsForm" role="form">
    {% csrf_token %}
      <div class="card-body">
          <h3>{% trans "Coordinate Reference System" %}</h3>
          <div title="{% trans "Provide EPSG code for Source SRS" %}" class="row">
              <label for="id_source" class="col-md-4">{% trans "EPSG Code (Source SRS)" %}  :</label>
              <select id="id_source" name="source" class="selectpicker form-control" title="Select a Source SRS" data-live-search="true" data-size="5" data-width="100%">
                {% for option in supported_crs %}
                  <option value="{{ option }}">{{ option|crs_labels }}</option>
                {% endfor %}
              </select>
              <span class="help-tip">
                  <p>{% blocktrans %}Source SRS EPSG Code is mandatory and represents the native data Spatial Reference System.
                      <br><br>
                      This must be coherent with the Geometry values (lon/lat coordinates as an instance) stored on the geospatial dataset.
                      <br><br>
                      If not specified on the geospatial data itself, it must be manually declared by the operator.
                      <br><br>
                      More information is provided at the bottom of the page in the "Additional Help" sections.
                      {% endblocktrans %}</p>
              </span>
          </div>
          
          <div id="upload-status" class="position-fixed bottom-0 right-0 p-3 toast-container" style="z-index: 9999; right: 0; bottom: 0;"></div>

          <div class="panel-group" id="accordion">
              <div class="mt-2"><h5>{% trans "Advanced Options" %}:</h5></div>
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">
                          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_id_target_srs">{% trans "Target SRS" %}</a>
                      </h4>
                  </div>
                  <div id="collapse_id_target_srs" class="collapse">
                      <div class="card-body">
                          <div class="row">
                            <label for="id_target" class="d-inline-block col-md-4">{% trans "EPSG Code (Target SRS)" %}  :</label>
                            <select id="id_target" name="target" class="selectpicker form-control" title="Select a Target SRS" data-live-search="true" data-size="5" data-width="100%">
                              {% for option in supported_crs %}
                                <option selected="EPSG:3857" value="{{ option }}">{{ option|crs_labels }}</option>
                              {% endfor %}
                            </select>
                          </div>
                      </div>
                  </div>
                  <div class="card-header">
                      <h4 class="card-title">
                          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_id_help">{% trans "Additional Help" %}</a>
                      </h4>
                  </div>
                  <div id="collapse_id_help" class="collapse">
                      <div id="srshelp" class="card-body">
                          <h4>{% trans "Spatial Reference System" %}</h4>
                          <p>{% blocktrans %}A spatial reference system (SRS) or coordinate reference system (CRS) is a coordinate-based local,
                              regional or global system used to locate geographical entities. A spatial reference system defines a specific map
                              projection, as well as transformations between different spatial reference systems. Spatial reference systems are
                              defined by the OGC's Simple feature access using well-known text, and support has been implemented by several
                              standards-based geographic information systems. Spatial reference systems can be referred to using a SRID integer,
                              including EPSG codes defined by the International Association of Oil and Gas Producers.
                              It is specified in ISO 19111:2007 Geographic information—Spatial referencing by coordinates, also published as
                              OGC Abstract Specification, Topic 2: Spatial referencing by coordinate.{% endblocktrans %}</p>
                          <h4>{% trans "Identifiers" %}</h4>
                          <p>
                          {% blocktrans %}
                          A Spatial Reference System Identifier (SRID) is a unique value used to unambiguously identify projected, unprojected,
                          and local spatial coordinate system definitions. These coordinate systems form the heart of all GIS applications.
                          Virtually all major spatial vendors have created their own SRID implementation or refer to those of an authority,
                          such as the European Petroleum Survey Group (EPSG).
                          {% endblocktrans %}
                          </p>
                          <p class="alert alert-info">{% blocktrans %}NOTE: As of 2005 the EPSG SRID values are now maintained by the International
                              Association of Oil & Gas Producers (OGP) Surveying & Positioning Committee{% endblocktrans %}</p>
                          <p>
                          {% blocktrans %}
                          SRIDs are the primary key for the Open Geospatial Consortium (OGC) spatial_ref_sys metadata table for the Simple
                          Features for SQL Specification, Versions 1.1 and 1.2, which is defined as follows:
                          {% endblocktrans %}
                          </p>
                          <pre>
      CREATE TABLE SPATIAL_REF_SYS
      (
          SRID      INTEGER   NOT NULL PRIMARY KEY,
          AUTH_NAME CHARACTER VARYING(256),
          AUTH_SRID INTEGER,
          SRTEXT    CHARACTER VARYING(2048)
      )
                          </pre>
                          <p>
                          {% blocktrans %}
                          In spatially enabled databases (such as IBM DB2, IBM Informix, Microsoft SQL Server, MySQL, Oracle RDBMS, Teradata, PostGIS and
                          SQL Anywhere), SRIDs are used to uniquely identify the coordinate systems used to define columns of spatial data or individual
                          spatial objects in a spatial column (depending on the spatial implementation). SRIDs are typically associated with a well known
                          text (WKT) string definition of the coordinate system (SRTEXT, above). From the Well Known Text Wikipedia page
                          {% endblocktrans %}
                          </p>
                          <p class="alert alert-info">{% blocktrans %}“A WKT string for a spatial reference system describes the datum, geoid, coordinate system,
                              and map projection of the spatial objects”.{% endblocktrans %}</p>
                          <p>
                          {% blocktrans %}
                          Here are two common coordinate systems with their EPSG SRID value followed by their well known text:
                          {% endblocktrans %}
                          </p>
                          <p>
                          {% blocktrans %}
                          UTM, Zone 17N, NAD27 — SRID 2029
                          {% endblocktrans %}
                          </p>
                          <pre>
      PROJCS["NAD27(76) / UTM zone 17N",
          GEOGCS["NAD27(76)",
              DATUM["North_American_Datum_1927_1976",
                  SPHEROID["Clarke 1866",6378206.4,294.9786982138982,
                      AUTHORITY["EPSG","7008"]],
                  AUTHORITY["EPSG","6608"]],
              PRIMEM["Greenwich",0,
                  AUTHORITY["EPSG","8901"]],
              UNIT["degree",0.01745329251994328,
                  AUTHORITY["EPSG","9122"]],
              AUTHORITY["EPSG","4608"]],
          UNIT["metre",1,
              AUTHORITY["EPSG","9001"]],
          PROJECTION["Transverse_Mercator"],
          PARAMETER["latitude_of_origin",0],
          PARAMETER["central_meridian",-81],
          PARAMETER["scale_factor",0.9996],
          PARAMETER["false_easting",500000],
          PARAMETER["false_northing",0],
          AUTHORITY["EPSG","2029"],
          AXIS["Easting",EAST],
          AXIS["Northing",NORTH]]
                          </pre>
                          <p>
                          {% blocktrans %}
                          WGS84 — SRID 4326
                          {% endblocktrans %}
                          </p>
                          <pre>
      GEOGCS["WGS 84",
          DATUM["WGS_1984",
              SPHEROID["WGS 84",6378137,298.257223563,
                  AUTHORITY["EPSG","7030"]],
              AUTHORITY["EPSG","6326"]],
          PRIMEM["Greenwich",0,
              AUTHORITY["EPSG","8901"]],
          UNIT["degree",0.01745329251994328,
              AUTHORITY["EPSG","9122"]],
          AUTHORITY["EPSG","4326"]]
                          </pre>
                          <p>
                          {% blocktrans %}
                          SRID values associated with spatial data can be used to constrain spatial operations — for instance, spatial operations cannot be performed
                          between spatial objects with differing SRIDs in some systems, or trigger coordinate system transformations between spatial objects in others.
                          {% endblocktrans %}
                          </p>
                          <h4>{% trans "EPSG Code (Source SRS)" %}</h4>
                          <p>{% blocktrans %}Source SRS EPSG Code is mandatory and represents the native data Spatial Reference System. This must be coherent with the
                              Geometry values (lon/lat coordinates as an instance) stored on the geospatial dataset. If not specified on the geospatial data itself, it
                              must be manually declared by the operator.{% endblocktrans %}</p>
                          <h4>{% trans "EPSG Code (Target SRS)" %}</h4>
                          <p>{% blocktrans %}Target SRS EPSG Code is optional. This must be used only if we need to re-project the coordinates from Source SRS to another one.
                          {% endblocktrans %}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col"><a href="{% url "layer_upload" %}" class="btn btn-secondary btn-block">{% trans "Cancel" %}</a></div>
        <div class="col">
          <button id='next' class="btn btn-primary btn-block" type="submit" value="{% trans 'Next' %}"> Next >></button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script data-main="{% static 'geonode/js/upload/srs.js' %}" src="{% static 'lib/js/require.js' %}"></script>
<script type="text/javascript">
{% autoescape off %}
{% if async_upload %}
//enableUploadProgress('timeForm');
{% endif %}
{% endautoescape %}
</script>
{% endblock %}
