{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load static %}

{% block body_class %}data data-list upload{% endblock %}

{% block title %} {% trans "Upload Layer Step: CSV Field Mapping" %} - {{ block.super }} {% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block body %}
<div class="card rounded bg-light mb-2">
  <div class="card-header bg-layer">
    <div class="row">
      <h3 class="text-light"> {% trans "Geospatial Data " %} "{{ layer_name }}" </h3>
    </div>

    <form method="POST" id="csvForm" role="form">
        <div class="card-body">
          {% csrf_token %}
          {% if present_choices %}
              <p>{% trans "Please indicate which attributes contain the latitude and longitude coordinates in the CSV data." %}</p>
              {% if guessed_lat_or_lng %}
                  <p>{% blocktrans %}With this data, GeoNode was able to guess which attributes contain the
                      latitude and longitude coordinates, but please confirm that the correct
                      attributes are selected below.{% endblocktrans %}</p>
              {% endif %}
              <div>
                <label for="lat" style="display: inline-block; width: 75px">{% trans "Latitude" %}</label>
                <select id="lat" name="lat">
                  <option value="None">{% trans "Select an attribute" %}</option>
                  {% for option in point_candidates %}
                  <option value="{{ option }}"
                  {% if selected_lat and selected_lat == option %}
                  selected="selected"
                  {% endif %}
                  >{{ option }}</option>
                  {% endfor %}
                </select>
              </div>
              <div style="margin: 10px 0">
                <label for="lat" style="display: inline-block; width: 75px">{% trans "Longitude" %}</label>
                <select id="lng" name="lng">
                  <option value="None">{% trans "Select an attribute" %}</option>
                  {% for option in point_candidates %}
                  <option value="{{ option }}"
                  {% if selected_lng and selected_lng == option %}
                  selected="selected"
                  {% endif %}
                  >{{ option }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="upload-status" class="position-fixed bottom-0 right-0 p-3 toast-container" style="z-index: 9999; right: 0; bottom: 0;"></div>
              <div id="csv-status">
                <div id="status">
                </div>
              </div>
        </div>
        {% if error %}
          <div class="card-footer">
            <div class="row">
                <div class="msg alert alert-error">{{ error }}</div>
            </div>
          </div>
        {% endif %}
        <div class="card-footer">
            <div class="row">
              <div class="col"><a href="{% url "layer_upload" %}" class="btn btn-primary btn-block">{% trans "Cancel" %}</a></div>
              <div class="col"><button id='next' class="btn btn-primary btn-block" type="submit" value="{% trans 'Next' %}"> Next >></button></div>
            </div>
        </div>
    </form>

    {% else %}
        <p>{% blocktrans %}We did not detect columns that could be used for the latitude and longitude.
        Please verify that you have two columns in your csv file that can be used for
        the latitude and longitude.{% endblocktrans %}</p>
    {% endif %}
</div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script data-main="{% static 'geonode/js/upload/csv.js' %}" src="{% static 'lib/js/require.js' %}"></script>
<script type="text/javascript">
{% autoescape off %}
{% if async_upload %}
//enableUploadProgress('timeForm');
{% endif %}
{% endautoescape %}
</script>
{% endblock %}
