{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load static %}

{% block title %} {% trans "Upload Layer"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}{% trans "layers upload" %}{% endblock %}

{% block head %}
  {{ request.user.username|json_script:"username" }}
  {{ request.user.first_name|json_script:"first_name" }}
  {{ request.user.last_name|json_script:"last_name" }}
  {{ block.super }}
{% endblock %}

{% block body_inner %}

<div class="col-8">
<div class="card">
  <div class="card-body">
      <section class="widget" id="incomplete-download-list" style="display:none;">
        <h3>{% trans "Upload status" %}</h3>
        <table
          class="table table-bordered upload-progress-table"
          data-resume-tool-tooltip="{% trans 'This file needs additional configuration to complete the upload process. Please click on the button to fill the required configuration' %}"
          data-remove-tool-tooltip="{% trans 'Delete' %}"
          data-success-tool-tooltip="{% trans 'Upload process completed' %}"
          data-invalid-tool-tooltip="{% trans 'The upload process cannot be completed because the original file is no more available' %}"
        >
          <thead>
            <tr>
              <td scope="row">{% trans "Name" %}</td>
              <td>{% trans "Created" %}</td>
              <td>{% trans "Progress" %}</td>
              <td>{% trans "Edit Metadata" %}</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <nav aria-label="Upload progress navigation" class="text-center">
          <ul class="pagination pagination-sm"  style="margin-top:0;">
            <li class="upload-progress-prev-page">
              <a aria-label="Previous">
                <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
              </a>
            </li>
            <li class="upload-progress-page" style="display:none;">
              <a>
                {% trans "page" %}
                <span class="upload-progress-page-count"></span>
                {% trans "of" %}
                <span class="upload-progress-page-total"></span>
              </a>
            </li>
            <li class="upload-progress-next-page">
              <a aria-label="Next">
                <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
              </a>
            </li>
          </ul>
        </nav>
        
        {% include "modal/remove_incomplete_upload.html" %}
      </section>
    
        {% block additional_info %}{% endblock %}
      
        {% if errors %}
        <div class="position-fixed bottom-0 right-0 p-3 toast-container" style="z-index: 9999; right: 0; bottom: 0;">
          <div id="errors" class="toast-message alert alert-danger">
            {% for error in errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      
        <div id="upload-status" class="position-fixed bottom-0 right-0 p-3 toast-container" style="z-index: 9999; right: 0; bottom: 0;"></div>

        <section id="drop-zone" class="w-100 mb-2" onclick="document.getElementById('file-input').click();">
          <h3><i class="fa-solid fa-cloud-arrow-up fa-4x" style="color: cornflowerblue;"></i><br />{% trans "Drag and drop your " %}<span style="color:midnightblue">{% trans "shapefile or raster files" %}</span>{% trans " or click here to upload" %}</h3>
          <form id="file-uploader" method="post" enctype="multipart/form-data">
            <!-- UI change to hide the list of previously uploaded files from the user -->
            <input type="file" id="file-input" style="display: none;" accept=".shp,.shx,.dbf,.prj,.xml,.tif,.tiff,application/vnd.geo+json,.geojson,application/json,.json,application/vnd.google-earth.kml+xml,.kml,application/vnd.google-earth.kmz,.kmz,.zip" multiple>
          </form>
        </section>
        <div class="learn-more">
            <p>Learn more about supported file formats & tips<button type="button" class="btn" data-toggle="modal" data-target="#layer_format" style="background: none; border: none;"><i class="fa-solid fa-circle-info" aria-hidden="true"></i></button> </p>
        </div>
      
        <section class="widget">
          <ul id="global-errors"></ul>
          <h4>{% trans "Files to be uploaded" %}</h4>
          <div id="file-queue"></div>
          <div class="checkbox" style="display:none;" id="metadata_uploaded_preserve_check">
              {% trans "Preserve Metadata XML" %} <input type="checkbox" name="metadata_uploaded_preserve" id="id_metadata_uploaded_preserve"/>
          </div>
        </section>
      
        <section class="charset">
          <p>{% trans "Select the charset or leave default" %}</p>
          <select id="charset" class="w-100">
            {% for charset in charsets %}
            {% if charset.0 == 'UTF-8' %}
            <option selected='selected' value={{ charset.0 }}>{{ charset.1 }}</option>
            {% else %}
            <option value={{ charset.0 }}>{{ charset.1 }}</option>
            {% endif %}
            {% endfor %}
          </select>
        </section>

        <div class="row mt-4">
            <div class="col-6">
              <a href="{% url "layer_upload" %}" class="btn btn-danger text-center w-100">{% trans "Clear" %}</a>
            </div>
            <div class="col-6">
              <button class="btn btn-upload text-center btn-block" id="upload-button" type="submit">{% trans "Upload files" %}</button>
            </div>
        </div>
  </div>
</div>
</div>

{% include "modal/layer_formats.html" %}
{% endblock %}

{% block body_sidebar %}
  {% display_change_perms_button resource request.user perms_list as display_perms_button %}
  {% if display_perms_button %}
  <div class="card col-4 p-0">
    <div class="card-header">
      <h3 class="text-center">{% trans "Permissions" %}</h3>
    </div>
    <form id="permission_form">
      {% with catalogue='layer' %}
        {% include "modal/permissions_form.html" %}
      {% endwith %}
    </form>
  </div>
  {% endif %}
{% endblock body_sidebar %}

{% block extra_script %}
{{ block.super }}
<script data-main="{% static 'geonode/js/upload/main.js' %}"
  src="{% static 'lib/js/require.js' %}">
</script>
<script type="text/javascript">
{% autoescape off %}

  csrf_token =  "{{ csrf_token }}",
  form_target = "{{ UPLOADER_URL }}",
  time_enabled = {{ TIME_ENABLED|lower  }},
  mosaic_enabled = {{ MOSAIC_ENABLED|lower  }},
  userLookup = "{% url "account_ajax_lookup" %}"

{% endautoescape %}

  $('#upload-button').on('click', function() {
      $('#upload-button').prop("disabled", true)
      setTimeout(function() {
        $('#upload-button').prop("disabled", false)
      }, 3000);
  });

</script>

{% include "toast/permissions_form.html" %}

{% endblock extra_script %}