{% extends "geonode_base.html" %}
{% load i18n %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}{% trans "data" %}{% endblock %}

{% block body_outer %}
<div class="row w-100">
  <h2 class="col-8">{% trans "Upload Layers" %}</h2>
  <a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn btn-primary col-4 float-right">{% trans "Explore Spatial Data" %}</a>
</div>
<div class="row">
  {% block body_inner %}{% endblock body_inner %}
  {% block body_sidebar %}{% endblock body_sidebar %}
</div>
{% endblock body_outer %}
