{% extends "metadata_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load base_tags %}
{% load guardian_tags %}
{% load floppyforms %}

{% block title %}{{ geoapp.title }} — {{ block.super }}{% endblock %}

{% block body_class %}data{% endblock body_class %}

{% block body %}

{{ block.super }}
<form id="metadata_update" class="form-horizontal" action="{{ geoapp.get_absolute_url }}/metadata" method="POST" novalidate>
  <div class="card border-info mb-2">
    <div class="card-header">
      <div class="row">
        <h3 class="col">{% trans "Metadata" %}&nbsp;{% blocktrans with geoapp.title as map_title %}for
          {{ map_title }}{% endblocktrans %}
        </h2>
        <div class="col-sm-4 text-right">
          <a href="{% url 'geoapp_detail' geoappid=resource.id %}" class="btn btn-primary btn-block">{% trans "Return to Apps" %}</a>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="progress" id="profileCompleteness">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progress-bar" id="progressCompleted" title="Metadata Completeness">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col"><input type="button" id="btn_back_dwn" class="btn btn-secondary btn-block" style="display: none" value="{% trans '&laquo; Previous' %}" /></div>
        <div class="col"><button class="btn btn-save metadata-edit-done btn-block d-none" id="btn_upd_md_done" type="submit">{% trans "Done" %}</button></div>
        <div class="col"><input type="button" id="btn_next_dwn" class="btn btn-secondary btn-block" value="{% trans 'Next &raquo;' %}" /></div>
      </div>
    </div>

    {% if geoapp.metadata_uploaded %}
      <div class="card-footer bg-warning">
          <div class="text-center">{% blocktrans %}Note: this geoapp's orginal metadata was populated by importing
            a metadata XML file.
            SDI's metadata import supports a subset of ISO, FGDC, and Dublin Core metadata elements.
            Some of your original metadata may have been lost.{% endblocktrans %}
          </div>
      </div>
    {% endif %}

    {% if geoapp_form.errors or category_form.errors or tkeywords_form.errors %}
      <div class="card-footer bg-danger">
        <div class="text-center">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}</div>
        <ul>
          {% for field in geoapp_form %}
          {% if field.errors %}
          <li>{{ field.label }}</li>
          {% endif %}
          {% endfor %}

          {% if category_form.errors %}
          <li>{{ category_form.errors.as_ul }}</li>
          {% endif %}
          {% if tkeywords_form.errors %}
          <li>{{ tkeywords_form.errors.as_ul }}</li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

  </div>

    {% csrf_token %}
    <div id="mdeditor_form" class="col-md-12 form-controls">
      {% form geoapp_form using "layouts/app_panels.html" %}
    </div>

    <div class="row">
      <div class="col-md-12 mt-2">
        <fieldset class="form-controls modal-forms modal hide fade" id="poc_form">
          <h2>{% trans "Point of Contact" %}</h2>
          {{ poc_form|crispy }}
          <button type='button' class="modal-close-btn btn btn-primary">{% trans "Done" %}</button>
        </fieldset>
        <fieldset class="form-controls modal-forms modal hide fade" id="metadata_form">
          <h2>{% trans "Metadata Provider" %}</h2>
          {{ author_form|crispy }}
          <button type='button' class="modal-close-btn btn btn-primary">{% trans "Done" %}</button>
        </fieldset>
      </div>
    </div>
</form>

{% endblock body %}