{% extends "apps/app_base.html" %}
{% load i18n %}
{% load static %}
{% load dialogos_tags %}
{% load pinax_ratings_tags %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load base_tags %}
{% load guardian_tags %}
{% load client_lib_tags %}

{% block title %}{{ resource.title }} — {{ block.super }}{% endblock %}

{% block head %}
{% if TWITTER_CARD %}
{% include "base/_resourcebase_twittercard.html" %}
{% endif %}
{% if OPENGRAPH_ENABLED %}
{% include "base/_resourcebase_opengraph.html" %}
{% endif %}

{{ block.super }}
{% endblock %}

{% block body_class %}{% blocktrans %}{{ resource.type }}{% endblocktrans %}{% endblock %}

{% block body %}
{% overall_rating resource "geoapp" as map_rating %}

<div class="card rounded bg-light mb-2">
	<div class="card-body">
		<div class="row">
      <h3 class="col-md-8">{{ resource.title }}</h3>
			<div class="col-md-4"><a href="{% url "catalogue_browse" %}" class="btn btn-info btn-block">{% trans "Explore Catalogue" %}</a></div>
		</div>
	</div>
</div>

<div class="row w-100">
  <div class="tab-resource-metadata {% if request.user_agent.is_mobile %}p-0 mb-2{% endif %}">

    <div id="embedded_map">
      <img src="{{ resource.thumbnail_url|default:resource.thumbnail_url }}" width='500'
        class="img-responsive" />
    </div>

    <div class="map-actions">
      {% include "_actions.html" %}
    </div>

    <div class="tab-content bg-light">
      <article id="info" class="tab-pane{% if tab == 'info' or not tab %} active{% endif %}">
        {% include "base/resourcebase_info_panel.html" %}
      </article>
      {% block social_links %}
      {% if DISPLAY_SOCIAL %}
      {% include "social_links.html" %}
      {% endif %}
      {% endblock %}

      {% if DISPLAY_COMMENTS %}
      <article class="tab-pane" id="comments">
        {% include "_comments.html" %}
      </article>
      {% endif %}

      {% if DISPLAY_RATINGS %}
      <article class="tab-pane" id="rate">
        <!-- TODO: Move this to a reusable template snippet -->
        {% if request.user.is_authenticated %}
        <h3>{% trans "Rate this" %} {{ resource.type }}</h3>
        {% user_rating request.user resource "geoapp" as user_geoapp_rating %}
        <div id="user_rating" class="category-map" data-score="{{ user_geoapp_rating }}"></div>
        {% endif %}
        <h3>{% trans 'Average Rating' %}</h3>
        {% overall_rating resource "geoapp" as geoapp_rating %}
        {% num_ratings resource as num_votes %}
        <div class="overall_rating row w-100 pl-3" style="float:left" data-score="{{ geoapp_rating }}"></div> ({{num_votes}})
      </article>
      {% endif %}

    </div>

  </div>

  <div class="tab-resource-settings {% if request.user_agent.is_mobile %}p-0{% endif %}">
    <ul class="list-group">
      {% if not request.user_agent.is_mobile %}
        <li class="list-group-item">
            {% include "upload/thumbnail.html" %}
        </li>
      {% endif %}
      <li class="list-group-item">
        <a class="btn btn-primary btn-md btn-block" href="{% url "geoapp_metadata_detail" resource.id %}">{% trans "Metadata Detail" %}</a>
      </li>

      {% if not READ_ONLY_MODE %}
        {% if "change_resourcebase" in perms_list  or "change_resourcebase_metadata" in perms_list %}
        <li class="list-group-item">
          <button class="btn btn-edit btn-md btn-block" data-toggle="modal" data-target="#edit-geoapp">{% trans "Editing Tools" %}</button>
        </li>
        {% endif %}
      {% endif %}

      {% display_edit_request_button resource request.user perms_list as display_request_button %}
      {% if display_request_button %}
        <li class="list-group-item">
          <a href="{% url "owner_rights_request" resource.id %}">
            <button class="btn btn-primary btn-md btn-block">{% trans "Request change" %}</button>
          </a>
        </li>
      {% endif %}
      <li class="list-group-item">
        {% if "change_resourcebase" not in perms_list and "change_resourcebase_metadata" not in perms_list %}
          <a href="{% url "geoapp_view" resource.id %}" class="btn btn-primary btn-md btn-block">{% trans "View" %}
            {{ resource.type }}</a>
        {% else %}
          <a href="{% url "geoapp_edit" resource.id %}" class="btn btn-primary btn-md btn-block">{% trans "View" %}
            {{ resource.type }}</a>
        {% endif %}
      </li>

      {% if GEONODE_SECURITY_ENABLED %}
        {% if "change_resourcebase_permissions" in perms_list %}
          {% if not READ_ONLY_MODE %}
            <li class="list-group-item">
              <h4>{% trans "Permissions" %}</h4>
              <p>{% trans "Specify which users can view or modify this map" %}</p>
              <button class="btn btn-edit btn-md btn-block" data-toggle="modal" data-target="#resourceModalPerms">{% trans "Change Permissions of this" %} {{ resource.type }}</button>
            </li>
          {% endif %}
        {% endif %}
        {% include "modal/permissions.html" %}
      {% endif %}

      {% include "base/_resourcebase_contact_snippet.html" %}
      {% include "modal/manage_apps.html" %}

    </ul>

  </div>

</div>

{% endblock %}

{% block extra_script %}
  {{ block.super }}
  {% if DISPLAY_SOCIAL %}
    {% include 'facebook_sdk.html' %}
  {% endif %}
  {% if request.user.is_authenticated %}
    {% user_rating_js request.user resource "geoapp" %}
  {% else %}
    {% overall_rating resource "geoapp" as the_map_rating %}
  {% endif %}
  {% include 'rating.html' %}
  <script type="text/javascript">
    $(function () {
      {% verbatim %}
          // Publish layer group
          // TODO: this should really not be inside a script tag...
          var $wmsBtn = $("#layer-group"),
            layerGroupElTpl;

          if ($wmsBtn.length > 0) {

            $wmsBtn.on("click", function (event) {
              event.preventDefault();

              $.ajax({
                  type: "PUT",
                  url: $wmsBtn.attr("href")
                })
                .done(function (data) {
                  layerGroupElTpl =
                    "<dt>WMS layer group for local map layers:</dt> \
                      <dd><em>{{layerGroupName}}</em> (on <a href='{{ows}}?service=WMS&request=GetCapabilities'>local OWS</a>)</dd>";
                  $.each(data, function (key, value) {
                    // client-side template hack
                    layerGroupElTpl = layerGroupElTpl.replace("{{" + key + "}}", value);
                  });
                })
                .fail(function () {
                  layerGroupElTpl = "<dt>Error:</dt> \
                      <dd>Layer group could not be created.</dd>";
                })
                .always(function () {
                  $("#layer-group-dl").html(layerGroupElTpl);
                });

            });
          }; 
      {% endverbatim %}
    });
    $("#comment_submit_btn").click(function (event) {
      $.ajax({
        type: "POST",
        url: $("#form_post_comment").attr('action'),
        data: $("#form_post_comment").serialize(),
        success: function () {
          $('#form_post_comment_div').modal().find('form')[0].reset();
          $('#form_post_comment_div').modal('hide');
          $('#comments_section').load(window.location.pathname + ' #comments_section',
            function () {
              $(this).children().unwrap()
            })
        }
      });
      return false;
    });
  </script>
  {% include "_responsive_tabs.html" %}

{% endblock extra_script %}