{% extends "metadata_base.html" %}
{% load i18n %}
{% load static %}
{% load base_tags %}
{% load crispy_forms_tags %}
{% load guardian_tags %}

{% block head %}
  <script src="{% static "geonode/js/crop_widget/crop_widget_es5.js" %}"></script>
  <link rel="stylesheet" href="{% static "geonode/css/crop_widget.css" %}">

  {{ block.super }}
{% endblock %}

{% block title %}{{ geoapp.title }} — {{ block.super }}{% endblock %}

{% block body_class %}{% trans "data" %}{% endblock %}

{% block body %}

{{ block.super }}

<!-- Required to make select2 fields work for autocomplete -->
<link href="{% static "vendor/select2/dist/css/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />
<link href="{% static "autocomplete_light/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />
<script type="text/javascript" src="{% static "autocomplete_light/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/select2/dist/js/select2.full.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/select2/dist/js/i18n/en.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/autocomplete.init.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/forward.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/select2.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/jquery.post-setup.js" %}"></script>

<i class="fa-solid fa-angle-up" aria-hidden="true" id="jump_to_top" title="Jump to Top"></i>

<form id="metadata_update" class="form-horizontal" action="{{ geoapp.get_absolute_url }}/metadata" method="POST">
  <div class="card" id="fixed-header">
    <h3 class="card-header text-center">
      {% blocktrans with geoapp.title as map_title %}
          Editing details for {{ map_title }}
        {% endblocktrans %}
    </h3>
    <div class="row w-100 m-0 mb-2">
      <div class="col-4 text-center p-3"><input type="submit" id="btn_upd_md_done" class="btn btn-save metadata-edit-done btn-block d-none" data-original-title="" title="Completed Metadata" value="Done"></div>
      <div class="col-4 text-center p-3"><a href="." class="btn btn-primary btn-block">{% trans "Return to GeoApp" %}</a></div>
      <div class="col-4 text-center p-3">
        <a href="{% url "apps_browse" %}" class="btn btn-info btn-block">{% trans "Explore Apps" %}</a>
      </div>
    </div>
    {% if geoapp.metadata_uploaded %}
      <div class="card-footer" style="background-color: orange;">{% blocktrans %}Note: this geoapp's orginal metadata was populated by importing a metadata XML file.
        SDI's metadata import supports a subset of ISO, FGDC, and Dublin Core metadata elements.
        Some of your original metadata may have been lost.{% endblocktrans %}
      </div>
    {% endif %}

    {% if geoapp_form.errors or category_form.errors %}
      <div class="card-footer" style="background-color: pink">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}
        <ul>
        {% for field in geoapp_form %}
            {% if field.errors %}
                <li>{{ field.label }}</li>
            {% endif %}
        {% endfor %}

        {% if category_form.errors %}
            <li>{{ category_form.errors.as_ul }}</li>
        {% endif %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-12">
      {% block advanced_edit_form %}

          {% csrf_token %}
          <!-- Added in the thesuarus field here since saving the form without it causes the thesuarus keywords to be removed. 
              Unfortunately this needs to appear at the top (or the bottom) of the form since tkeywords_form is a complete other django form. 
              There might be a better way to solve this. -->
          <div class="col-md-12 form-controls">
            <div class="row">
              {% block category %}
              <div class="col-md-6">
                <label class="control-label required-field">{% trans "Category" %}</label>
                <fieldset id="category_form">
                  {% autoescape off %}
                  {% for choice in category_form.category_choice_field.field.choices %}
                  <div class="col-md-6">
                    <label class="fancy-checkbox">
                        <input type="radio" name="category_choice_field" value="{{ choice.0 }}"
                          {% if choice.0 in category_form.initial %} checked="checked" {% endif %} />
                        {{ choice.1 }}
                    </label>
                  </div>
                  {% endfor %}
                  {% endautoescape %}
                </fieldset>
              </div>
              {% endblock category %}
              {% block thumbnail %}
                  <div class="col-md-6">
                    <img id="image">
                    <script>
                      const image = document.getElementById('image');
                      const path = location.pathname.split('/');
                      const id = path[path.length - 2];
                      const prefetch_url = "{{ resource.thumbnail_url }}";
                      const c_widget = new CropWidget(image,
                        parseInt(
                          id
                        ),
                        '/api/documents/',
                        prefetch_url
                      );
                      c_widget.init();
                    </script>
                  </div>
              {% endblock %}
            </div>

            {% block geoapp_fields %}
            {% for field in geoapp_form %}
              {% if field.name != 'use_featureinfo_custom_template' and field.name != 'featureinfo_custom_template' and field.name not in ADVANCED_EDIT_EXCLUDE_FIELD and field.name != 'thumbnail_url' %}
              <div class="mb-2">
                  <span><label for="{{ field.id }}">{{ field.label }}</label></span>
                  {{ field }}
                  </div>
              </div>
              {% endif %}
            {% endfor %}
            {% endblock geoapp_fields %}


            {% block thesauri %}
            {% if THESAURI_FILTERS %}
              {% for field in tkeywords_form %}
              <div class="form_item_spacing thesauri_keywords" id="tadv_req">
                <p>
                <label for="{{ field.thesaurus_id }}">{{ field.label }}</label>
                {{ field }}
                </p>
              </div>
              {% endfor %}
            {% endif %}
            {% endblock thesauri %}
          </div>
          <div class="row mt-2">
              <fieldset class="form-controls modal-forms modal hide fade" id="poc_form" >
                <h2>{% trans "Point of Contact" %}</h2>
                {{ poc_form|crispy }}
                <button type='button' class="modal-close-btn btn btn-primary">{% trans "Done" %}</button>
              </fieldset>
              <fieldset class="form-controls modal-forms modal hide fade" id="metadata_form">
                <h2>{% trans "Metadata Provider" %}</h2>
                {{ author_form|crispy }}
                <button type='button' class="modal-close-btn btn btn-primary">{% trans "Done" %}</button>
              </fieldset>

          </div>
      {% endblock advanced_edit_form %}
    </div>
  </div>
</form>
{% endblock %}
