{% load i18n %}

<div class="side-inner-right text-white" id="sidebar-right" ng-controller="CartList">
  {% if user.is_authenticated and not request.user_agent.is_mobile %}
  <resource-cart data-facet-type="{{ facet_type }}" selectedString='{% trans "Bulk Selection" %}'
    emptyString="{% trans "No list items selected. Use the + button to add." %}">
  </resource-cart>
  {% block bulk_perms_button %}
    <div role="group" aria-label="tools" ng-if="cart.getCart().items.length" style="margin-bottom: 5em;">
      <div class="btn-group btn-search-content" role="group">
        <button type="button" class="btn btn-upload" ng-disabled="!cart.getCart().items.length" data-toggle="modal"
          data-target="#bulkModalPerms">Set permissions</button>
      </div>
      <div class="btn-group btn-search-content" role="group">
        <button type="button" class="btn btn-save" ng-disabled="!cart.getCart().items.length" data-toggle="modal"
          data-target="#bulkMetadataForm">Set Metadata</button>
      </div>
      <div class="btn-group btn-search-content" role="group" ng-if="!cart.getCart().items.length">
        <button type="button" class="btn btn-primary" ng-disabled="cart.getCart().items[0].resource_type != dataset"
          ng-click="newMap()">Create a Map</button>
      </div>
    </div>
  {% endblock bulk_perms_button %}
  {% endif %}
</div>