{% load i18n %}
{% load base_tags %}

<nav class="header-nav__menu">
  <div class="row align-items-center">
    <h3>Information Categories</h3>
    <a href="#" class="header-nav__close" title="Close"><span>Close</span></a>
  </div>
  <div class="header-nav__content">
    <div>
      {% get_categories as categories %}
      <ul class="list-unstyled">
        {% for category in categories %}
        <li>
          <a data-value="{{ category.identifier }}" href="/catalogue?f4e493d={{ category.identifier }}"
            title="{{ category.title }}" class="btn btn_wrapper text-light text-left mb-2">
            {{ category.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</nav>

{% block extra_script %}
<script type="text/javascript">
  $(function() {

    $('.menu_categories').on('click', function() {
        $("body").toggleClass('mobilemenu-is-open');
    })
    
  });

</script>
{% endblock extra_script %}