{% load i18n %}
{% load static from staticfiles %}

<footer>
    <div class="row">
      <div class="logo col-md-6">
        <figure class="logo-image">
          <img src="{% if custom_theme.logo_footer %}{{SITEURL}}/uploaded/{{ custom_theme.logo_footer }} {% else %} {% static "geonode/img/logo-footer.png" %} {% endif %}" class="logo-footer">
        </figure>
      </div>
      <div class="col-md-6">
          <div class="text-right">
            <ul id="menu-footer-nav-copyright" class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'privacy-policy' %}" role="button">Privacy policy</a></li>
              <li class="list-inline-item"><span class="copyright-text">|&nbsp;&nbsp;&nbsp;© {% if custom_theme.footer_copyright %}{{ custom_theme.footer_copyright }} {% else %}SDI 2022{% endif %}</span></li>

            </ul>
            <ul id="menu-footer-nav-copyright" class="list-inline">
              <li class="list-inline-item"><span class="copyright-text">Powered by Geonode</span></li>
            </ul>
          </div>
      </div>
    </div>
</footer>