{% load i18n %}
{% load static %}

<footer class="footer-block">
    <ul id="menu-footer-nav-copyright" class="list-inline align-items-center text-center">
      <li class="list-inline-item">
        <a href="{% url 'privacy-policy' %}" role="button">Privacy policy</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'about' %}" role="button">About</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'help' %}" role="button">Help</a>
      </li>
    </ul>
</footer>