{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

<header class="s-header">

  <div class="header-logo">
    <a class="site-logo" href="{{ SITEURL }}">
      <img src="{% if custom_theme.logo %}{{SITEURL}}/uploaded/{{ custom_theme.logo }} {% else %} {% static "geonode/img/logo.png" %} {% endif %}" alt="Homepage">
    </a>
  </div>

  <a class="header-menu-toggle" href="#0">
    <span class="header-menu-text" style="display: none;">Menu</span>
    <span class="header-menu-icon"></span>
  </a>

</header>

{% include 'toast/logout.html' %}