{% load i18n %}
{% load static %}
{% load base_tags %}

{% block section_home %}
  
  <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% if custom_theme.jumbotron_bg %}uploaded/{{ custom_theme.jumbotron_bg }} {% else %} {% static "geonode/img/background.png" %}{% endif %}"
  data-natural-width=3000 data-natural-height=2000 data-position-y=center>
  
  <div class="overlay"></div>
  <div class="shadow-overlay"></div>
  
  <div class="home-content">
  
    <div class="auto-margin home-content__main">
      <div class="row m-1">
        <div class="col home-title__line">
        </div>
        <div class="col">
          <h3 class="text-light">
            {% if custom_theme.jumbotron_welcome_title %}
              {{ custom_theme.jumbotron_welcome_title }}
            {% else %}
            Information Sharing Platform
            {% endif %}
          </h3>
        </div>
      </div>
      
      <h1 class="pb-3">
        {% if custom_theme.jumbotron_welcome_content %}
          {{ custom_theme.jumbotron_welcome_content}}
        {% else %}
        The Accountability Framework Southeast Asia Coalition
        {% endif %}
      </h1>
  
      <div class="search-field mt-4">
        <form id="main_search" action="{% url "search" %}" class="row p-0 m-0">
            <div class="col-1">
              <button class="btn-search btn-block h-100" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                  </path>
                </svg>
              </button>
            </div>
            <div class="col">
              {% if HAYSTACK_SEARCH %}
              <input id="main_search_input" type="text" placeholder="{% trans 'What are you looking for?' %}" class="form-control pb-4" name="q" autocomplete="off" data-com.bitwarden.browser.user-edited="yes">
                    <input type="hidden" name="abstract__icontains" id="main_search_abstract_input" placeholder="{% trans 'Search' %}" >
                    <input type="hidden" name="purpose__icontains" id="main_search_purpose_input" placeholder="{% trans 'Search' %}" >
                    <input type="hidden" name="f_method" id="main_filtering_type" value="or" >
              {% else %}
              <input id="main_search_input" type="text" placeholder="What are you looking for?" class="form-control pb-4" autocomplete="off" name="title__icontains" data-com.bitwarden.browser.user-edited="yes">
                    <input type="hidden" name="abstract__icontains" id="main_search_abstract_input">
                    <input type="hidden" name="purpose__icontains" id="main_search_purpose_input">
                    <input type="hidden" name="f_method" id="main_filtering_type" value="or" >
              {% endif %}
            </div>
        </form>
      </div>
    </div>
  
    <div class="home-content__scroll">
      <a href="#showcase" class="scroll-link smoothscroll">
        <span>Scroll Down</span>
      </a>
    </div>
  
    <div class="home-content__line"></div>
  
  </div>
  </section>
{% endblock %}

{% block extra_script %}
 
  <script type="text/javascript">

      // running text of search bar
      function searchIt(words) {
        var letterIndex = 0;
        var wordIndex = 0;
        var placeholder = $("#main_search_input");

        (function nextWord() {
          var SI = setInterval(function() {
            placeholder.attr("placeholder", function() { return $(this).attr("placeholder") + words[wordIndex][letterIndex] });
            letterIndex++;
            if (letterIndex === words[wordIndex].length) {
              wordIndex = (wordIndex + 1) % words.length;
              letterIndex = 0;
              clearInterval(SI);
              setTimeout(function() {
                placeholder.attr("placeholder", "");
                nextWord();
              }, 1000); // delay between words
            }
          }, 70)       // delay between letters
        })();
      }

      $(function() {
        setTimeout(function() {
          searchIt([" ....", "forest", "peat", "concession", "oil palm", "type me!"]);
        }, 4000);
      });

  </script>
  <script type="text/javascript">

    $(document).ready(function() {
        var cfg = {
            scrollDuration: 800 // smoothscroll duration
        };

        /* Smooth Scrolling
        * ------------------------------------------------------ */
        $('.smoothscroll').on('click', function(e) {
            var target = this.hash,
                $target = $(target);

            e.preventDefault();
            e.stopPropagation();

            if (target) {
              $('html, body').stop().animate({
                  'scrollTop': $target.offset().top
              }, cfg.scrollDuration, 'swing').promise().done(function() {
    
                  // check if menu is open
                  if ($('body').hasClass('menu-is-open')) {
                      $('.header-menu-toggle').trigger('click');
                  }
    
                  window.location.hash = target;
              });
            }
        });
        
    });

  </script>
{% endblock extra_script %}