{% load i18n %}
{% load base_tags %}

{% block require_signin %}
  {% if not user.is_authenticated %}
  <div class="composition">
      <div class="composition-wrapper">
          <h1 class="ml13">Please sign in to see all available contents</h1>
      </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="text/javascript">
        var siteUrl = '{{ SITEURL }}'.replace(/\/?$/, '/');
        function animateLogin() {
            // Wrap every letter in a span
            $('.ml13').each(function(){
                $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter' data-toggle='modal' data-target='#SigninModal'>$&</span>"));
            });
            anime.timeline({loop: true})
            .add({
                targets: '.ml13 .letter',
                translateY: [100,0],
                translateZ: 0,
                opacity: [0,1],
                easing: "easeOutExpo",
                duration: 900,
                delay: function(el, i) {
                    return 300 + 30 * i;
                }
            })
            .add({
                targets: '.ml13 .letter',
                translateY: [0,-100],
                opacity: [1,0],
                easing: "easeInExpo",
                duration: 2200,
                delay: function(el, i) {
                    return 100 + 30 * i;
                }
            });
        }
        $(function() {
            animateLogin();

            $(document).mouseup(function(e) 
            {
                var container = $(".close-signin");

                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    $('.composition').hide();
                } else {
                    $('.composition').remove();
                }
            });

            $('<a href="#" class="close-signin">').insertBefore(".ml13");
        
            $(".ml13").hover(function() {
                $(".ml13").hide();
                $("<h1 class='ml14 animated bounce' onclick=\"window.location.href='{{SITEURL}}account/login/?next=/layers/';\">sign in</h1>").insertAfter(".ml13");
            });

            $('#jump_to_top').hide();
            $(window).scroll(function() {
                if ($(document).scrollTop() > 700) {
                    $('#jump_to_top').show();
                    $('#jump_to_top').animate({ scrollTop: 0 }, 'fast');
                }
                else {
                    $('#jump_to_top').hide();
                }
            });
            $("#jump_to_top").click(function() {
                $('html, body').animate({ scrollTop: 0 }, 'fast');
            });

        });
            
    </script>
  {% endif %}

{% endblock require_signin %}