{% load i18n %}
{% load base_tags %}
{% block showcase %}
    <section id="showcase" class="row s-showcase">
      <div class="col-lg-12">
        <div class="container text-center">
          <div class="auto-margin home-facets">
          {% with facet_type='home' %}
            {% facets as facets %}
            <div class="col-md-6">
              <p><a href="{% url "layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
              <h2><a href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Geospatial Data{% plural %}Geospatial Datasets{% endblocktrans %}</a></h2>
              <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
              {% if user.is_authenticated %}
              <p class="text-center l-space"><a class="btn btn--primary" href="{% url "layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
              {% else %}
              <p class="text-center l-space"><a class="btn btn--primary" href="{% url "layer_browse" %}" role="button">{% trans "Explore Spatial Data" %} &raquo;</a></p>
              {% endif %}
            </div>
            <div class="col-md-6">
              <p><a href="{% url "maps_browse" %}"><i class="fa fa-map-marker fa-4x"></i></a></p>
              <h2><a href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
              <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be saved, downloaded, shared publicly or restricted to specify users only." %}</p>
              {% if user.is_authenticated %}
              <p class="text-center l-space"><a class="btn btn--primary" href="{% url "new_map" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
              {% else %}
              <p class="text-center l-space"><a class="btn btn--primary" href="{% url "maps_browse" %}" role="button">{% trans "Explore maps" %} &raquo;</a></p>
              {% endif %}
            </div>
            <div class="col-md-6">
              <p><a href="{% url "document_browse" %}"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
              <h2><a href="{% url "document_browse" %}">{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Non-Spatial Data{% plural %}Non-Spatial Data{% endblocktrans %}</a></h2>
              <p>{% trans "As for the layers and maps SDI allows to publish tabular and text data, manage theirs metadata and associated documents." %}</p>
              {% if user.is_authenticated %}
              <p class="text-center l-space"><a class="btn btn--primary stretch" href="{% url "document_browse" %}" role="button">{% trans "Add Non Spatial Data" %} &raquo;</a></p>
              {% else %}
              <p class="text-center l-space"><a class="btn btn--primary stretch" href="{% url "document_browse" %}" role="button">{% trans "Explore Non Spatial Data" %} &raquo;</a></p>
              {% endif %}
            </div>
            <div class="col-md-6">
              <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-4x"></i></a></p>
              <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
              <p>{% trans "SDI allows registered users to easily upload geospatial data and various documents in several formats." %}</p>
              <p class="text-center l-space"><a class="btn btn--primary" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
            </div>
          {% endwith %}
          </div>
        </div>
      </div>
    </section>
	  {% endblock showcase %}