{% load i18n %}

<script type="text/javascript">
  $('#id_doc_file').on('change', function () {
    if ($('#id_title').val() == '') {
      var _text = $('#id_doc_file').val().replace("C:\\fakepath\\", "");
      var _title = _text.replace(/\.[^/.]+$/, "");
      var _fileName = _title.replace(/[_\W]+/g, " ") // remove non-word characters
      $('#id_title').val(_fileName);
      $(this).prev('label').text(_text);
    }
  });

  $("#id_links").select2({
      width: '100%'
  });

  $('#upload_form').submit(function () {
      $('#permissions').val(JSON.stringify($("#permission_form").serializeObject()));
  });

  $('#upload-button').click(function () {
      $('#_resource_uploading').modal('toggle');
  });
</script>