<div id="composerCart" class="card bg-sidebar">
    <div class="card-header text-center text-white font-weight-bold" ng-bind="(selectedString)"></div>
    <div ng-show="!cart.getCart().items.length" class="card-body p-2">
        <h6 class="text-white text-center">{{ emptyString }}</h6>
    </div>
    <ul class="list-group" ng-if="cart.getCart().items.length">
        <div class="row">
          <div class="col-md-12">
            <li data-toggle="tooltip" title="{{ resource.title }}" class="p-1"
                ng-if="resource && resource.title"
                ng-repeat="resource in cart.getCart().items">
                <span class="small p-1 col text-white">{{ resource.title | limitTo: 30 }}{{ resource.title.length > 30 ? '..' : '' }}</span>
                <button class="btn-danger btn-xs float-right" ng-click="cart.removeItem(resource)"><i class="fa-solid fa-remove fa-sm"></i></button>
            </li>
          </div>
        </div>
    </ul>
    <div class="card-footer" ng-if="cart.getCart().items.length >= 2">
      <div ng-click="cart.removeAll()">
          <button class="btn btn-danger btn-block">Remove all selected</button>
      </div>
    </div>
</div>