{% extends "catalogue_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Explore Catalogue" %} - {{ block.super }} {% endblock %}

{% block body_class %}catalogue catalogue-list explore{% endblock %}

<i class="fa-solid fa-angle-up" aria-hidden="true" id="jump_to_top" title="Jump to Top"></i>

{% block body_sidebar %}
<div class="col-md-10 float-right m-0 mb-4" id="catalogueList">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          {% with include_type_filter='true' %}
              {% with header='Resource Type' %}
                {% with filter='resource_type__in' %}
                {% include "search/_search_content.html" %}
              {% endwith %}
            {% endwith %}
          {% endwith %}
        </div>
      </div>
    </div>

    {% include 'base/_resourcebase_snippet.html' %}
</div>
{% endblock body_sidebar %}

{% block body_inner %}
  <div class="col-md-2">{% include "search/_search_sidebar.html" %}</div>
{% endblock body_inner %}

{% block extra_script %}
{{ block.super }}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base'%}'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}';
      {% endif %}

  </script>
  {% with include_spatial='true' %}
    {% include 'search/search_scripts.html' %}
  {% endwith %}

  {% include 'section/require_signin.html' %}
  
{% endblock extra_script %}