{% load i18n %}
{% load static %}
{% load avatar_tags %}
{% verbatim %}

  <div class="row row-cols-1 row-cols-md-2">
    <div ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak class="ng-cloak col mb-4">
          <div class="card rounded">
            <div class="card-header pb-0">
              <div class="row">
                <span class="item-category" ng-if="item.has_time"><i class="fa-solid fa-clock" aria-hidden="true" title="Temporal Serie"></i>Temporal Serie<br></span>
                <i ng-if="item.store_type == 'remoteStore'" title="Remote Service" class="fa-solid fa-arrow-up-right-from-square p-1"></i>
                <i ng-if="item.store_type == 'dataStore'" title="Vector Data" class="fa-solid fa-square-pen p-1"></i>
                <i ng-if="item.store_type == 'coverageStore'" title="Raster Data" class="fa-solid fa-image p-1"></i>
                <span ng-if="item.store_type == 'dataset'" title="File/Dataset"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.6001 6.40002C19.2858 6.40002 24.6001 5.05002 24.6001 3.40002C24.6001 1.75002 19.2858 0.400024 12.6001 0.400024C5.91438 0.400024 0.600098 1.75002 0.600098 3.40002C0.600098 5.05002 5.91438 6.40002 12.6001 6.40002ZM12.6001 19.9C5.91438 19.9 0.600098 18.55 0.600098 16.9V21.4C0.600098 23.05 5.91438 24.4 12.6001 24.4C19.2858 24.4 24.6001 23.05 24.6001 21.4V16.9C24.6001 18.55 19.2858 19.9 12.6001 19.9ZM12.6001 13.9C5.91438 13.9 0.600098 12.55 0.600098 10.9V15.4C0.600098 17.05 5.91438 18.4 12.6001 18.4C19.2858 18.4 24.6001 17.05 24.6001 15.4V10.9C24.6001 12.55 19.2858 13.9 12.6001 13.9ZM12.6001 7.90002C5.91438 7.90002 0.600098 6.55002 0.600098 4.90002V9.40002C0.600098 11.05 5.91438 12.4 12.6001 12.4C19.2858 12.4 24.6001 11.05 24.6001 9.40002V4.90002C24.6001 6.55002 19.2858 7.90002 12.6001 7.90002Z" fill="black"/>
                  </svg>
                </span>
                <i ng-if="item.store_type == 'map'" title="Map" class="fa-solid fa-map p-1"></i>
                <i ng-if="item.store_type == 'geoapp'" title="App" class="fa-solid fa-gears p-1"></i>
                <div class="col-md-9 p-0">
                  <a href="{{ item.detail_url }}" class="stretched-link" title="See details"></a>
                  <p>{{ item.title | limitTo: 35 }} <span>{{ item.title.length > 35 ? '...' : '' }}</span></p>
                </div>
                <span class="col-md-1 text-center">
                  <i id="download_icon" class="fa {{ resources(item.id)[0].icon }}" aria-hidden="true" style="margin-right: 8px; color: {{ resources(item.id)[0].color }};" title="{{ resources(item.id)[0].perms }}"></i>
                </span>
            </div>
            </div>
            <div class="card-body pt-2">
              <div class="row">
                <div class="avatar ml-2">
                  <a href="{{ item.site_url }}people/profile/{{ item.owner__username }}" class="card-link">{% endverbatim %}{% avatar profile 40 %}</a>
                  {% verbatim %}
                </div>
                <div class="col-10 pr-0 pl-2">
                  <div class="">
                    <a href="{{ item.site_url }}people/profile/{{ item.owner__username }}" class="card-link">{{ item.owner_name }}</a>
                    <i ng-repeat="(key, value) in item.category__fa_dict" class="fa {{ value }} fa-1x" style="margin-left: 3px; float: right; margin-top: 1vh;" title="{{ key }}" id="category_icon" ng-click="cart.category(key)" ng-if="cart"></i>
                  </div>
                  <div class="row pt-1 w-100">
                    <div class="ml-3 card-subtitle font-small"><a href="{{ item.detail_url }}#info" class="card-link text-muted"><i class="fa-solid fa-calendar-check"></i>{{ item.date|date:'d MMM y' }}</a></div>
                    <div class="col-7 pr-0 card-subtitle font-small"><span class="item-category" ng-if="item.group"><a href="{{ item.site_url }}groups/group/{{ item.group }}/activity/" class="card-link text-muted"><i class="fa-solid fa-user-group" aria-hidden="true"></i>{{ item.group_name }}</a><br></span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <p class="card-text text-justify card-content">{{ item.abstract | limitTo: 140 }} <span>{{ item.abstract.length > 140 ? '...' : '' }}</span></p>
            </div>
            <a href="{{ item.detail_url }}"><img class="card-img-top" ng-src="{{ item.thumbnail_url }}"></a>
            {% endverbatim %}
                  <div class="card-footer">
                    <div class="row">
                      {% endverbatim %}
                      {% if facet_type == 'layers' %}
                      <div class="col-3">
                        <button
                          class="btn btn-default btn-xs"
                          ng-if="cart"
                          ng-click="cart.toggleItem(item)"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          title="{% trans "Select" %}"><i ng-class="cart.getFaClass(item.id)" class="fa-solid fa-lg"></i></button>
                      </div>
                        {% verbatim %}
                        <div class="col-3 text-center"><a href="{{ item.detail_url }}" class="card-link text-muted"><i class="fa-solid fa-eye" title="See details"></i>{{ item.popular_count }}</a></div>
                        <div class="col-3 text-center"><a href="{{ item.detail_url }}#share" class="card-link text-muted"><i class="fa-solid fa-share" title="Share"></i>{{ item.share_count }}</a></div>
                        <div class="col-3 text-center"><a href="{{ item.detail_url }}#rate" class="card-link text-muted"><i class="fa-regular fa-star" title="Add to favorite"></i>{{ item.rating }}</a></div>
                        {% endverbatim %}
                      {% else %}
                        {% verbatim %}
                          <div class="col-4 text-center"><a href="{{ item.detail_url }}" class="card-link text-muted"><i class="fa-solid fa-eye" title="See details"></i>{{ item.popular_count }}</a></div>
                          <div class="col-4 text-center"><a href="{{ item.detail_url }}#share" class="card-link text-muted"><i class="fa-solid fa-share" title="Share"></i>{{ item.share_count }}</a></div>
                          <div class="col-4 text-center"><a href="{{ item.detail_url }}#rate" class="card-link text-muted"><i class="fa-regular fa-star" title="Add to favorite"></i>{{ item.rating }}</a></div>
                        {% endverbatim %}
                      {% endif %}
                    </div>
                  </div>
                    <em ng-if="item.store_type == 'remoteStore'">
                      <div class="card-footer text-center">
                        <span ng-if="item.online == true"><i class="fa-solid fa-power-off text-success"></i> {% trans "Service is" %} {% trans "online" %}</span>
                        <span ng-if="item.online == false"><i class="fa-solid fa-power-off text-danger"></i> {% trans "Service is" %} {% trans "offline" %}</span>
                      </div>
                    </em>
                    <em ng-if="item.processed == false">
                      <div class="card-footer text-center">
                        <i class="fa-solid fa-gear fa-spin fa-fw"></i>{% trans "Layer not ready yet. Still finalizing layer ingestion..." %}
                      </div>
                    </em>
                    <div class="alert alert-danger" ng-if="item.dirty_state == true">{% trans "SECURITY NOT YET SYNCHRONIZED" %}
                        <div class="card-footer text-center">{% verbatim %}<a href="{{ item.detail_url }}" class="btn btn-primary btn-block" data-dismiss="modal" ng-click="securityRefreshButton($event)">{% endverbatim %}{% trans "Sync permissions immediately" %}</a></div>
                    </div>
                    <div class="alert alert-warning card-footer text-center" ng-if="item.dirty_state == false && item.is_approved == false">{% trans "PENDING APPROVAL" %}</div>
                    <div class="alert alert-danger card-footer text-center" ng-if="item.dirty_state == false && item.is_approved == true && item.is_published == false">{% trans "UNPUBLISHED" %}</div>
                    {% verbatim %}
                  <div class="card-footer" ng-if="item.resource_type == 'layer'">
                    <a class="create_map" href="{% endverbatim %}{% url "new_map" %}?layer={% verbatim %}{{ item.detail_url.substring(8) }}">
                    <i class="fa-solid fa-map-location-dot" title="Create a Map"></i>Create a Map</a>
                  </div>
                    {% endverbatim %}
          </div>
    </div>
  </div>