{% load i18n %}
{% if iso_formats %}
      <div class="col-12">
          <div class="pb-4 mb-4 mt-4">
            <div class="text-center iso-categories">
                <h1 class="restyle-text">{% trans "Discover the available datasets." %}</h1>
                <div class="row text-center p-4 justify-content-center">
                  {% for iso_format in iso_formats %}
                  <div class="col-4 mb-5 mt-5" id="category_dataset">
                      <a class="text-decoration-none"
                      href="{% url "catalogue_browse" %}?category__identifier__in={{ iso_format.category__identifier }}">
                      <div class="category" data-toggle="tooltip" data-placement="auto"
                        title="{% trans iso_format.category__title %}" style="display: grid;">
                        <div class="mb-2">
                          {% if iso_format.category__svg %}
                            <img src="data:image/svg+xml;charset=UTF-8,{{ iso_format.category__svg }}" style="width: 80px;">
                          {% else %}
                            <i class="text-dark fa-solid fa-{{ iso_format.category__fa_class }} fa-5x"></i>
                          {% endif %}
                          <span class="badge badge-info p-2 rounded-pill btn">{{ iso_format.count }}</span>
                        </div>
                        <div class="mt-4">
                          <h4 class="text-decoration-none">{% trans iso_format.category__gn_description %}</h4>
                        </div>
                      </div>
                      </a>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
      </div>
{% endif %}