{% extends "maps/map_base.html" %}
{% load i18n %}
{% load static %}

{% block body_class %}maps explore{% endblock %}

{% block body_inner %}
  <i class="fa-solid fa-angle-up" aria-hidden="true" id="jump_to_top" title="Jump to Top"></i>
  <div class="row justify-content-between m-0 pb-2">
    {% if not READ_ONLY_MODE %}
      <div class="col-md-3"><a href="{% url "new_map" %}" class="btn btn-upload ml-2 btn--pill">{% trans "Create a New Map" %}</a></div>
    {% endif %}
    {% if SEARCH_FILTERS.TEXT_ENABLED %}
      {% include "search/_text_container.html" %}
    {% endif %}
    {% include "search/_search_content.html" %}
  </div>
  {% include "modal/bulk_permissions.html" %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "toast/permissions_form.html" %}
  {% endif %}
  <script type="text/javascript">
      SEARCH_URL = '{% url 'base-resources-list' %}?9fadb94=map';
      FILTER_TYPE = 'map';
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}
{% endblock extra_script %}
