{% load i18n %}

<ul class="nav nav-pills filter row" id="sort">
  {% comment %} <a data-value="all" data-filter="9fadb94" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "All contents" %}</a> {% endcomment %}
  <a class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "All contents" %}</a>
  <a data-value="dataset" data-filter="9fadb94" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "Datasets" %}</a>
  <a data-value="layer" data-filter="9fadb94" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "Layers" %}</a>
  <a data-value="map" data-filter="9fadb94" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "Maps" %}</a>
</ul>