{% load i18n %}

<ul class="nav nav-pills filter row" id="sort">
  <a data-value="all" data-filter="type__in" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "All contents" %}</a>
  <a data-value="layer" data-filter="type__in" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "Layers" %}</a>
  <a data-value="map" data-filter="type__in" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "Maps" %}</a>
  <a data-value="dataset" data-filter="type__in" class="col m-1 nav-primary" ng-click="single_choice_listener($event)">{% trans "Datasets" %}</a></div>
</ul>