{% extends "geonode_base.html" %}
{% load i18n %}

{% block body %}
<div class="row w-100">
  <h2 class="col-8">{% trans "Forgot Username" %}</h2>
</div>
<div class="row">
  <div class="col">
    <p class="lead">{% trans "Please enter your email address and click the submit button. <br />Your username will be sent to you." %}</p>
    {% if message %}
    <div class="alert alert-danger mt-2">{{ message }}</div>
    {% endif %}
  </div>
  <div class="modal-footer">
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
