{% extends "people/profile_base.html" %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}

{% block body_class %}{% trans "edit people" %}{% endblock %}

{% block body %}
<div class="card-deck w-100">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        {% if user == profile %}
          <h4 class="text-center">{% trans "Edit Your Profile" %}</h4>
        {% else %}
          <h4 class="text-center">{% trans "Edit Profile for" %} {{ profile.username }}</h4>
        {% endif %}
      </div>
      <div class="card-body">
        {% autoescape off %}{% avatar profile.username 240 %}{% endautoescape %}
        {% if user == profile %}
        <p class="mt-2"><a class="btn btn-edit btn-block" href="{% url 'avatar_change' %}">{% trans "Change your avatar" %}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="card">
    <form action="" method="post">
    <div class="card-body">
        {% csrf_token %}
        <div class="form-controls">
          {{ form|crispy }}
        </div>
    </div>
    <div class="card-footer form-actions">
      <input type="submit" class="btn btn-save btn-block" value="{% trans "Update profile" %}" />
    </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{{ block.super }}

  

{% endblock %}