{% extends "people/profile_base.html" %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}

{% block body_class %}{% trans "edit people" %}{% endblock %}

{% block body %}
<div class="card-deck w-100">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        {% if user == profile %}
        <h3 class="text-center">{% trans "Edit Your Profile" %}</h2>
        {% else %}
          <h3 class="text-center">{% trans "Edit Profile for" %} {{ profile.username }}</h2>
        {% endif %}
      </div>
      <div class="card-body">
        {% autoescape off %}{% avatar profile.username 240 %}{% endautoescape %}
        {% if user == profile %}
        <p class="x-space"><a class="btn btn-primary btn-block" href="{% url 'avatar_change' %}">{% trans "Change your avatar" %}</a></p>
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-controls">
          {{ form|crispy }}
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-primary w-100 mt-4" value="{% trans "Update profile" %}" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
