{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load base_tags %}
<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"> 
    <div class="modal-content rounded-0 m-modal-width">
      <div class="modal-header">
        <h3 class="light">Reset your password</h3>
        <button type="button" class="close col-2 float-right text-right" data-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center"> 
          <p class="mb-4 ">Please fill in the following information to change your password. </p>
            <form method="POST" class="mb-4" id="change-password">{% csrf_token %}
              {% csrf_token %}
              {{ change_pwd_form|crispy }}
        </div>
      </div>
      <div class="modal-footer">
        <p class="mb-0 cancel"><a href="#" data-dismiss="modal" class="btn btn-info">Maybe later</a></p>
        <input type="submit" class="btn btn-save" value="Submit"> 
        </form> 
      </div>
    </div>
  </div>
</div>
{% include 'toast/change_password.html' %}