{% load i18n %}

<div id="confirmMsgBoxModalSubmit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalSubmit" aria-hidden="true">
  <!-- How to use it:
    $("#confirmMsgBoxModalSubmit").find('.modal-title').text('{% trans "Title" %}');
    $("#confirmMsgBoxModalSubmit").find('.modal-body').text('{% trans "Message. Do you want to proceed?" %}');
    $("#confirmMsgBoxModalSubmit_control_field").val('your_control_value');
    $("#confirmMsgBoxModalSubmit").modal("show");

    $('#confirmMsgBoxModalSubmit').find('.modal-footer #confirm').on('click', function() {
      if ($("#control_field").val() == 'your_control_value') {
        CONFIRMED
      }
    });
  -->
  <div class="modal-dialog">
    <input type="hidden" class="form-control" id="confirmMsgBoxModalSubmit_control_field" />
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-primary">{% trans "Confirm" %}</h4>
        <button type="button" class="close col-2 float-right text-right" data-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>{% trans "Some text in the modal" %}.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" class="btn btn-save" type="submit">{% trans "Submit" %}</button>
      </div>
    </div>
  </div>
</div>