{% load i18n %}
{% load static %}
{% load base_tags %}
{% load layer_tags %}
{% load proxy_lib_tags %}

<div class="modal fade" id="download-layer" role="dialog" aria-labelledby="downloadModalLayer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="downloadModalLayer">{% trans "Download Layer" %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
        </button>
      </div>
      <div class="modal-body text-center">
          <ul class="nav nav-tabs" role="tablist">
            {% if links %}
              <li class="nav-item col"><a class="nav-primary active" role="tab" aria-controls="download_tab1" aria-selected="true" href="#download_tab1" data-toggle="tab">{% trans "Images" %}</a></li>
            {% endif %}
            {% if links_download %}
              <li class="nav-item col"><a class="nav-primary" href="#download_tab2" role="tab" aria-controls="download_tab2" aria-selected="false" data-toggle="tab">{% trans "Data" %}</a></li>
            {% endif %}
          </ul>
          <div class="tab-content bg-light">
            {% if links %}
              <div class="tab-pane active" id="download_tab1">
                <li class="active">
                  <ul class="mt-2">
                    {% for link in links %}
                      <li class="list-group-item p-0 border-0 mb-1"><a class="btn btn-upload btn-block" href="{{ link.url }}" target="_blank">{% trans link.name %}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </div>
            {% endif %}

            {% if links_download %}
                {% if not links %}
                  {#  if links doesn't exist, make this tab active by default #}
                  <div class="tab-pane active" id="download_tab2">
                {% else %}
                  <div class="tab-pane" id="download_tab2">
                {% endif %}
                <div class="mt-2 mb-2">
                  <a href="{% url "layer_export" resource.alternate %}" class="btn btn-save btn-block mb-3">{% trans "Advanced Export Filtered Data" %}</a>
                  <button class="btn btn-upload btn-block" type="button" data-toggle="collapse" data-target="#originalDownload" aria-expanded="false" aria-controls="originalDownload">{% trans "Download Original Dataset" %}</button>
                </div>

                <div class="collapse" id="originalDownload">
                  <div class="card card-body">
                    <h5>{% trans "Pick your download format:" %}</h5>
                    <ul>
                      {% for link in links_download %}
                        {% if link.name == 'Original Dataset' %}
                          {% original_link_available resource.id link.url as original_dwn_link_available %}
                          {% if original_dwn_link_available %}
                          <li class="list-group-item p-0 border-0 mb-1"><a class="btn btn-light btn-block" href="{{ link.url }}" target="_blank" id="{{ link.name | slugify }}">{% trans link.name %}</a></li>
                          {% else %}
                          <!-- Hide the link instead. Uncomment the lines below to present a warning to the users. -->
                          <!-- li><a href="javascript:thumbnailFeedbacks('{% trans "No data available for this resource. Please contact a system administrator or a manager." %}', '{% trans "Warning" %}');" id="{{ link.name | slugify }}" class="urls">{% trans link.name %}</a></li -->
                          {% endif %}
                        {% else %}
                        <li class="list-group-item p-0 border-0 mb-1"><a class="btn btn-light btn-block" href="{{ link.url }}" target="_blank" id="{{ link.name | slugify }}">{% trans link.name %}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                
          </div>
            {% endif %}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="download-metadata" tabindex="-1" role="dialog" aria-labelledby="downloadModalLayer" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="downloadModalLayer">{% trans "Download Metadata" %}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="mb-2">
          <h5 class="modal-title text-center" id="downloadModalLayer">
            {% trans "Full metadata" %}
          </h5>
          <ul>
            <li><a class="btn btn-light btn-block" target="_blank"
                href="{% url 'csw_render_extra_format_txt'  resource.uuid resource.title|slugify %}">
                {% trans "Text format" %} </a></li>
            <li><a class="btn btn-light btn-block" target="_blank"
                href="{% url 'csw_render_extra_format_html' resource.uuid resource.title|slugify %}">
                {% trans "HTML format" %} </a></li>
          </ul>
        </div>
        <div class="mb-2">
          <h5 class="modal-title text-center" id="downloadModalLayer">
            {% trans "Standard Metadata - XML format" %}
          </h5>
          <ul>
            {% for link in metadata %}
            <li><a class="btn btn-light btn-block" href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
            {% endfor %}
            <ul>
        </div>
        {% if resource.storeType == 'dataStore' %}
          <h5 class="modal-title text-center" id="downloadModalLayer">{% trans "Attribute Information" %}</h5>
          <ul>
            <li><a class="btn btn-light btn-block" href="{{ resource.get_absolute_url }}/feature_catalogue"
                target="_blank">{% trans "ISO Feature Catalogue" %}</a></li>
          <ul>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>