{% load i18n %}
{% load static %}
{% load base_tags %}
{% load crispy_forms_tags %}

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
        <div class="modal-content rounded-0">
            <form method="POST" class="mb-4" id="feedback-form">
              <div class="modal-header">
                <h5 class="modal-title text-center">Something went wrong</h5>
                <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
                  <i class="fa-solid fa-xmark" data-dismiss="modal" title="Close Panel"></i>
                </button>
              </div>
              <div class="modal-body text-left">
                  {% csrf_token %}
                  {{ feedback_form|crispy }}
                  <div class="card-footer">
                    <p class="text-center">Let us know if you have ideas that can help make our products better.</p>
                  </div>
              </div>
              <div class="modal-footer">
                <a href="#" data-dismiss="modal"class="btn btn-secondary">Maybe later</a>
                <input type="submit" class="btn btn-save form-actions" value="Submit">
              </div>
          </form>
        </div>
    </div>
</div>

{% include "toast/feedbacks.html" %}