{% load i18n %}
{% load static %}
{% load base_tags %}
<form method="POST" class="" id="reset-password" action="{% url 'account_reset_password' %}">
  <div class="modal fade" id="forgotPassModal" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0 m-modal-width">
        <div class="modal-header">
          <h3 class="light">Forgotten password?</h3>
          <button type="button" class="close col-2 float-right text-right" data-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
          </button>
        </div>
        <div class="modal-body">
          <p class="">Don't worry! Please enter your email below and we'll email you with instructions on how to reset your password.</p>
            {% csrf_token %}
            <input id="id_email_forgot" name="email" type="email" class="form-control mr-3" placeholder="Enter your email address"/>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-light">Maybe later</a>
          <input type="submit" class="btn btn-save form-actions" value="Submit">
        </div>
      </div>
    </div>
  </div>
</form>