{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

<div class="modal fade" id="forgotPassModal" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0 m-modal-width">
          <div class="p-4 to-front">
              <div class="text-center">
                  <h3 class="light">Forgot password?</h3>
                  <p class="mb-4 ">Please enter your email address below, and we'll authenticate to reset your password. </p>
                  <form action="#" class="d-flex mb-4">
                      <input type="email" class="form-control mr-3 x-input-space" placeholder="Enter your email address">
                      <input type="submit" class="btn btn-primary" value="Submit">
                  </form>
                  <p class="mb-0 cancel"><a href="#" data-dismiss="modal">Maybe later</a></p>
              </div>
          </div>
      </div>
  </div>
</div>