{% load i18n %}

<div class="modal fade" id="layer_format" tabindex="-1" role="dialog" aria-labelledby="layerFormatModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0 m-modal-width">
          <div class="modal-header">
            <h3 class="modal-title">List of supported file formats</h3>
            <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
              <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
            </button>
          </div>
          <div class="modal-body">
              <p>Shapefile data: .shp, .shx, .dbf, .xml and .prj</p>
              <p>Raster data: .tif</p><br/>
              <p>If you find yourself cannot uploaded the data and found some problem like</p><br/>
              <p><strong>Server Error: timeout</strong></p>
              <p><italic>Please check your network connection. In case of Layer Upload make sure GeoServer is running and accepting connections.</italic></p><br/>
              <p>Please <strong><a role="button" data-toggle="modal" data-target="#feedbackModal" target="_self" title="Submit Troubleshoot">submit feedback</a></strong> and provides supported screenshot or <a href="{% url 'message_create' %}" role="button">send an inbox</a> to Administrator.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>