{% load i18n %}
{% load static %}
{% load base_tags %}
<div class="modal fade" id="SigninModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="modal-body img d-flex img text-center d-flex align-items-center"
                         style="background-image: url({% if custom_theme.modal_login_bg %}{{ SITEURL }}/uploaded/{{ custom_theme.modal_login_bg }}{% else %}{% static "geonode/img/bg-sign.png" %}{% endif %});">
                    </div>
                </div>
                <div class="col-md-5 d-flex">
                    <div class="modal-body align-items-center p-0">
                        <div class="h-100 w-100">
                            <div class="d-flex tabs">
                                <ul class="nav nav-tabs border-0">
                                    <li class="nav-item" id="navSignIn">
                                        <a class="nav-link active"
                                           data-toggle="tab"
                                           href="#signin"
                                           id="SigninModalTitle">Sign In</a>
                                    </li>
                                    <li class="nav-item" id="navSignUp">
                                        <a class="nav-link" data-toggle="tab" href="#signup">Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content border-0">
                                <div class="tab-pane p-0 container active" id="signin">
                                    <div class="text w-100" style="margin-top: 20px;">
                                        <form class="form-signin" role="form" method="POST" id="form-signin">
                                            {% csrf_token %}
                                            <div class="form-group mb-3">
                                                <label class="" for="id_username">Username</label>
                                                <input id="id_username_login"
                                                       name="login"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Username">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="" for="id_password">Password</label>
                                                <input id="id_password"
                                                       name="password"
                                                       type="password"
                                                       class="form-control"
                                                       placeholder="Password">
                                            </div>
                                            <div class="form-group h-captcha"
                                                 name="captcha"
                                                 data-sitekey="c4422214-72cc-407a-96a7-a9a98469cc98"
                                                 data-theme="dark">
                                            </div>
                                            <div class="form-group m-space">
                                                <button type="submit"
                                                        class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                            </div>
                                            <div class="form-group d-md-flex">
                                                <div class="form-check w-100 col-md-12 p-0 mt-2">
                                                  <div class="chk_btn_toggle"><input name="remember" type="checkbox" class="fill-control-input" data-toggle="toggle" data-on="Remember Me" data-off="Go ahead, forget me" data-onstyle="primary" data-offstyle="info"></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="d-md-flex">
                                            <div class="w-50 col-md-6 text-left">
                                                <p>
                                                    Not a member?&nbsp&nbsp&nbsp<a data-toggle="tab" href="#signup" class="light" id="aSignUp">Sign Up</a>
                                                </p>
                                            </div>
                                            <div class="w-50 col-md-6 text-right">
                                                <a data-toggle="modal"
                                                   data-target="#forgotPassModal"
                                                   style="cursor: pointer;"
                                                   class="light">Forgotten Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-0 container fade" id="signup">
                                    <div class="text w-100" style="margin-top: 20px;">
                                        <form class="signup_form"
                                              role="form"
                                              method="POST"
                                              id="signup_form"
                                              {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                                            {% csrf_token %}
                                            <div class="form-group mb-3">
                                                <label class="" for="name">Full/User Name</label>
                                                <input id="id_username"
                                                       type="text"
                                                       name="username"
                                                       autocomplete="username"
                                                       class="form-control"
                                                       placeholder="admin">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="" for="email">Email Address</label>
                                                <input id="id_email"
                                                       type="email"
                                                       name="email"
                                                       autocomplete="email"
                                                       class="form-control"
                                                       placeholder="email@gmail.com">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="" for="password">Password</label>
                                                <input id="id_password1_login"
                                                       type="password"
                                                       name="password1"
                                                       autocomplete="new-password"
                                                       class="form-control"
                                                       placeholder="Password">
                                            </div>
                                            <div class="form-group mb-3">
                                                <label class="" for="password">Password Confirmation</label>
                                                <input id="id_password2_login"
                                                       type="password"
                                                       name="password2"
                                                       class="form-control"
                                                       placeholder="Password Confirmation">
                                            </div>
                                            <div class="h-captcha"
                                                 data-sitekey="c4422214-72cc-407a-96a7-a9a98469cc98"
                                                 data-theme="dark"></div>
                                            <div class="form-group">
                                                <button type="submit"
                                                        class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
                                            </div>
                                        </form>
                                        <p>
                                            I'm already a member! <a data-toggle="tab" href="#signin" class="light" id="aSignIn">Sign In</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-label="Close" role="button" class="ClsSgnM col-1 d-flex">
                    <span class="dlt_span"
                          role="button"
                          tabindex="0"
                          aria-label="Close"
                          title="Close"
                          data-dismiss="modal">
                        <svg focusable="false"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 24 24">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'toast/login.html' %}
{% include 'toast/signup.html' %}
{% block extra_script %}
    <script type="text/javascript">$(document).ready(function(){$("#aSignIn").click(function(){$("#navSignUp").removeClass("active"); $("#navSignIn").addClass("active");}); $("#aSignUp").click(function(){$("#navSignIn").removeClass("active"); $("#navSignUp").addClass("active");});}); </script><script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{% endblock %}
