{% load i18n %}
{% load static %}
{% load base_tags %}
{% load crispy_forms_tags %}

<div class="modal fade" id="SigninModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <div class="modal-body img d-flex img text-center d-flex align-items-center"
                         style="background-image: url({% if custom_theme.modal_login_bg %}{{ SITEURL }}/uploaded/{{ custom_theme.modal_login_bg }}{% else %}{% static "geonode/img/bg-sign.png" %}{% endif %});">
                    </div>
                </div>
                <div class="col-md-5 d-flex pr-0">
                    <div class="modal-body align-items-center p-0">
                        <ul class="nav" id="loginTab" role="tablist">
                          <li class="nav-item col-5 text-left pl-0" role="presentation">
                            <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true" >Sign In</a>
                          </li>
                          <li class="nav-item col-5" role="presentation">
                            <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false" >Sign Up</a>
                          </li>
                          <button type="button" class="close col-2 float-right text-right" data-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
                          </button>
                        </ul>
                        <div class="tab-content" id="loginTabContent">
                          <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                            <div class="text w-100">
                              <form class="form-signin" role="form" method="POST" id="form-signin" action='{% url "account_login" %}?next={{request.path}}'>
                                  {% csrf_token %}
                                  {{ login_form|crispy }}
                                  <div class="form-group h-captcha"
                                        name="captcha"
                                        data-sitekey="c4422214-72cc-407a-96a7-a9a98469cc98"
                                        data-theme="dark">
                                  </div>
                                  <div><button type="submit" class="form-control btn btn-primary rounded btn-login">Sign In</button></div>
                                  <div class="row w-100 mt-4">
                                    <p class="col-7 pr-0">
                                        Not a member?&nbsp&nbsp&nbsp<a data-toggle="tab" href="#signup" class="light" id="aSignUp">Sign Up</a>
                                    </p>
                                    <div class="col-5 p-0">
                                      <a data-toggle="modal" data-target="#forgotPassModal" style="cursor: pointer;" class="light">Forgotten Password?</a>
                                    </div>
                                  </div>
                              </form>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                              <div class="text w-100">
                                  <form class="signup_form"
                                        role="form"
                                        method="POST"
                                        id="signup_form"
                                        action='{% url "account_signup" %}'
                                        {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                                        {% csrf_token %}
                                        {{ signup_form|crispy }}
                                      <div class="h-captcha"
                                            data-sitekey="c4422214-72cc-407a-96a7-a9a98469cc98"
                                            data-theme="dark"></div>
                                      <div><button type="submit" class="form-control btn btn-primary rounded btn-login">Sign Up</button></div>
                                  </form>
                                  <span class="d-flex align-items-center">I'm already a member! <a data-toggle="tab" href="#signin" class="nav-link light" id="aSignIn" role="tab" aria-controls="signin" aria-selected="false">Sign In</a></span>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block extra_script %}
<script>
  $(function () {
    $('#signin-tab').tab('show')
  })
</script>
<script src="https://js.hcaptcha.com/1/api.js" async defer>
</script>
{% endblock %}
