{% load i18n %}
{% load static %}
{% load base_tags %}
{% load crispy_forms_tags %}

<div class="modal fade" id="SigninModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row w-100">
                {% if not request.user_agent.is_mobile %}
                  <div class="col-md-6 d-flex">
                      <div id="loginImg" class="modal-body img d-flex img text-center d-flex align-items-center"
                          style="background-image: url({% if custom_theme.modal_login_bg %}{{ SITEURL }}/uploaded/{{ custom_theme.modal_login_bg }}{% else %}{% static "geonode/img/bg-sign.png" %}{% endif %});">
                      </div>
                  </div>
                {% endif %}
                <div class="col d-flex pr-0">
                    <div class="modal-body align-items-center p-0">
                        <ul class="nav" id="loginTab" role="tablist">
                          <li class="nav-item col-5 text-left pl-0" role="presentation">
                            <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true" >Sign In</a>
                          </li>
                          <li class="nav-item col-5" role="presentation">
                            <a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false" >Sign Up</a>
                          </li>
                          <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
                          </button>
                        </ul>
                        <div class="tab-content" id="loginTabContent">
                          <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                            <div class="text w-100">
                              <form class="form-signin" role="form" method="POST" id="form-signin" action='{% url "account_login" %}?next={{request.path}}'>
                                  {% include "toast/_toast_form.html" %}
                                  {% crispy login_form %}
                                  <div class="row w-100 mt-4">
                                    <p class="col-7 pr-0">
                                        Not a member?&nbsp&nbsp<a data-toggle="tab" href="#signup" class="light" id="aSignUp" role="tab" aria-controls="signup">Sign Up</a>
                                    </p>
                                    <p class="col-5 p-0">
                                      <a data-toggle="modal" data-target="#forgotPassModal" style="cursor: pointer;" class="light">Forgotten Password?</a>
                                    </p>
                                  </div>
                              </form>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                              <div class="text w-100">
                                  <form class="signup_form" method="post" id="signup_form" action='{% url "account_signup" %}'>
                                      {% include "toast/_toast_form.html" %}
                                      <fieldset>
                                        {% crispy signup_form %}
                                      </fieldset>
                                  </form>
                                  <span class="d-flex align-items-center">I'm already a member! <a data-toggle="tab" href="#signin" class="nav-link light" id="aSignIn" role="tab" aria-controls="signin">Sign In</a></span>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block extra_script %}
<script>
  $(function () {
    $('#signin-tab').tab('show');
    $(".custom-control-label").remove();
  })
</script>
{% endblock %}