{% load i18n %}

{% if is_layer and subtype != "remote" and GEONODE_SECURITY_ENABLED and OGC_SERVER.default.BACKEND == 'geonode.geoserver' %}
  {% if user.is_superuser or "change_resourcebase_permissions" in perms_list %}
    <div class="tab-pane" id="permissions_tab2">
      <div class="col" id="gis_limits_map" style="height: 344px;width: 544px;"></div>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item col" role="presentation">
            <a class="nav-secondary active" role="tab" aria-controls="gis_limits_tab1" aria-selected="true" data-toggle="tab" href="#gis_limits_tab1">{% trans "Users" %}</a>
          </li>
          <li class="nav-item col" role="presentation">
            <a class="nav-secondary" role="tab" aria-controls="gis_limits_tab2" aria-selected="false" data-toggle="tab" href="#gis_limits_tab2">{% trans "Groups" %}</a>
          </li>
        </ul>
        <div class="tab-content bg-light">
          <div class="tab-pane fade show active" id="gis_limits_tab1" role="tabpanel" aria-labelledby="gis_limits_tab1">
              <div id="gis-limits-users">
                  <div class="row">
                    <div class="col mb-1">
                      <input class="search form-control" id="search-users" placeholder="{% trans "Search" %}">
                      <!-- button class="sort btn btn-primary" data-sort="gis-limits-user-name">Sort by name</button -->
                      <!-- button class="sort btn btn-primary" data-sort="gis-limits-user-title">Sort by title</button -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="card-body">
                      <div id="gis-limits-users-content" class="list-group list bt-scrollable" style="min-height: 200px; height: 500px; overflow-y: scroll">
                          <span id="gis-limits-users-list">
                      </div>
                    </div>
                  </div>
              </div>

          </div>
          <div class="tab-pane fade show" id="gis_limits_tab2" role="tabpanel" aria-labelledby="gis_limits_tab2">
              <div id="gis-limits-groups">
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <input class="search form-control" placeholder="{% trans "Search" %}" />
                      <!-- button class="sort btn btn-primary" data-sort="gis-limits-group-name">Sort by name</button -->
                      <!-- button class="sort btn btn-primary" data-sort="gis-limits-group-title">Sort by title</button -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="list-group list bt-scrollable">

                        {% for group in groups %}
                        <a href="javascript:void(0)" class="list-group-item">
                        <div class="card-body">
                          <div class="row">
                            <img src="{{ group.logo_url }}" class="avatar">
                            <div class="col-10 text-left">
                              <h4 class="list-group-item-heading gis-limits-group-name">{{ group.title }}</h4>
                              <p class="list-group-item-text gis-limits-group-title font-small card-subtitle">{{ group.description }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="row">
                            <div class="col-md-3 text-center">
                              <button id="group-load{{ group.id }}" type="button" class="btn btn-primary btn-sm deserialize-geo-limit"
                                data-toggle="tooltip" data-placement="top" title="{% trans "Show Geo Limits" %}" aria-pressed="true">
                                <i class="fa-solid fa-eye"></i>
                              </button>
                            </div>
                            <div class="col-md-3 text-center">
                              <button id="group-upload{{ group.id }}" type="button" class="btn btn-primary btn-sm"
                                data-toggle="tooltip" data-placement="top" title="{% trans "Upload Geo Limits" %}" aria-pressed="true">
                                <span data-toggle="modal" data-target="#_add_shp_zip" aria-hidden="true"><i class="fa-solid fa-folder-open"></i></span>
                              </button>
                            </div>
                            <div class="col-md-3 text-center">
                              <button id="group-save{{ group.id }}" type="button" class="btn btn-primary btn-sm serialize-geo-limit"
                                data-toggle="tooltip" data-placement="top" title="{% trans "Save Geo Limits" %}" aria-pressed="true">
                                <i class="fa-solid fa-floppy-disk"></i>
                              </button>
                            </div>
                            <div class="col-md-3 text-center">
                              <button id="group-remove{{ group.id }}" type="button" class="btn btn-primary btn-sm delete-geo-limit"
                                data-toggle="tooltip" data-placement="top" title="{% trans "Delete Geo Limits" %}" aria-pressed="true">
                                <i class="fa-solid fa-trash"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        </a>
                        {% endfor %}

                      </div>
                    </div>
                  </div>
              </div>

          </div>
        </div>
    </div>
  {% endif %}
{% endif %}