{% load i18n %}

<div class="modal fade" id="resourceModalPerms" tabindex="-1" role="dialog" aria-labelledby="modalPermissions" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalPermissions">{% trans "Set permissions for this resource" %}</h4>
          <button class="close float-right col-1" onclick="$('.collapse').collapse('hide');">
            <i class="fa-solid fa-minus" title="Minimize All Panel Tabs"></i>
          </button>
          <button type="button" class="close ml-3" data-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark" data-dismiss="modal" title="Close Panel"></i>
          </button>
        </div>
        <form id="permission-form" accept-charset="UTF-8" method="post" action="{% url "resource_permissions" resource.id %}">
          <div class="text-center">
            {% if is_layer and storeType != "remoteStore" and GEONODE_SECURITY_ENABLED and OGC_SERVER.default.BACKEND == 'geonode.geoserver' %}
              {% if user.is_superuser or "change_resourcebase_permissions" in perms_list %}
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item col"><a href="#permissions_tab1" data-toggle="tab" class="nav-primary active" role="tab" aria-controls="permissions_tab1" aria-selected="true">{% trans "People and Groups" %}</a></li>
                    <li class="nav-item col" id="geolimits-tab"><a href="#permissions_tab2" data-toggle="tab" class="nav-primary" role="tab" aria-controls="permissions_tab2" aria-selected="false">{% trans "Geo Limits" %}</a></li>
                </ul>
                {% endif %}
            {% endif %}
            <div class="tab-content bg-light">
              <div class="tab-pane active" id="permissions_tab1">
                {% include "modal/permissions_form.html" %}
              </div>
                {% include "modal/permissions_layer_geolimit.html" %}
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button class="btn btn-save" type="submit">Apply Changes</button>
          </div>
        </form>
      </div>
    </div>
</div>

{% include "modal/get_permissions.html" %}
{% if catalogue == 'layer' %}
  {% include "modal/permissions_layer.html" %}
{% endif %}
{% include "toast/permissions_form.html" %}