{% load i18n %}
{% load static %}
{% load base_tags %}

{% load layer_tags %}
<form id="remove_group" method="POST">
  {% csrf_token %}
  <div class="modal fade" id="remove_group_modal" tabindex="-1" role="dialog"
    aria-labelledby="removeGroupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0 m-modal-width">
        <div class="modal-header">
          <h3 class="modal-title">Delete Confirmation</h3>
          <button type="button" class="close col-2 float-right text-right" data-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
          </button>
        </div>
        <div class="modal-body text-center alert-danger">
          Are you sure you want to remove <span class="text-primary" id="group_title">{{ object.title|default:object.slug }}?
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn btn-secondary">Maybe later</a>
          <button type="submit" class="btn btn-danger">Yes, I am sure</button>
        </div>
      </div>
    </div>
  </div>
</form>

{% include 'toast/remove_group.html' %}
{% block extra_script %}
<script text="text/javascript">
  $(document).ready(function () {
    $(document).on('show.bs.modal', '.removeGroupModal', function () {
      $('#remove_group_modal').modal('hide');
      $('#wrap').addClass('blur-background');
    });
    $(document).on('hide.bs.modal', '.removeGroupModal', function () {
      $('#wrap').removeClass('blur-background');
    });
  });
</script>{% endblock %}