{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}
{% load document_tags %}

<div class="modal fade" id="edit-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Edit BigTIFF/Non-Spatial Data" %}</h4>
      </div>
      <div class="modal-body">

          <div class="row edit-modal">
            {% if "change_resourcebase_metadata" in perms_list %}
            <div class="col-sm-3">
              <i class="fa fa-list-alt fa-3x"></i>
              <h4>{% trans "Metadata" %}</h4>
              <a class="btn btn-default btn-block btn-xs" href="{% url "document_metadata" resource.id %}">{% trans "Wizard" %}</a>
              <a class="btn btn-default btn-block btn-xs" href="{% url "document_metadata_advanced" resource.id %}">{% trans "Advanced Edit" %}</a>
            </div>
            {% endif %}
            {% if "change_resourcebase" in perms_list %}
            <div class="col-sm-3">
              <i class="fa fa-photo fa-3x"></i>
              <h4>{% trans "Thumbnail" %}</h4>
              <a class="btn btn-default btn-block btn-xs" href="{% url "thumbnail_upload" resource.resourcebase_ptr.id %}">{% trans "Upload" %}</a>
            </div>
            {% endif %}
            {% if "change_resourcebase" in perms_list or "delete_resourcebase" in perms_list %}
            <div class="col-sm-3">
              <i class="fa fa-file-text-o fa-3x"></i>
              <h4>{% trans "Data" %}</h4>
              {% if "change_resourcebase" in perms_list %}
              <a class="btn btn-default btn-block btn-xs" href="{% url "document_replace" resource.id %}">{% trans "Replace" %}</a>
              {% endif %}
              {% if "delete_resourcebase" in perms_list %}
              <a id="removeDocumentModal" data-toggle="modal" class="btn btn-danger btn-block btn-xs" data-target="#removeDocumentsModal" style="cursor: pointer;">Remove</a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade removeDocumentsModal" id="removeDocumentsModal" tabindex="-1" role="dialog" aria-labelledby="removeDocumentsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content rounded-0 m-modal-width">
          <div class="p-4 to-front">
              <div class="text-center">
                  <h3 class="light" style="margin-bottom: 40px;">Are you sure you want to remove {{ resource.title }}?</h3>
                  <form id="remove_document" method="POST">
                    {% csrf_token %}
                    <div class="form-actions">
                      <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
                      <p class="mb-0 cancel l-space"><a href="#" data-dismiss="modal">Maybe later</a></p>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

{% include 'toast/remove_document.html' %}

{% block extra_script %}
<script text="text/javascript">
  $(document).ready(function() {
    
    $(document).on('show.bs.modal', '.removeDocumentsModal', function () {
      $('#edit-document').modal('hide');
      $('#wrap').addClass('blur-background');
    });

    $(document).on('hide.bs.modal', '.removeDocumentsModal', function () {
      $('#wrap').removeClass('blur-background');
    });

  });

</script>
{% endblock %}