{% load i18n %}{% load static %}{% load base_tags %}{% load layer_tags %}
<div class="modal fade" id="remove_group_modal" tabindex="-1" role="dialog"
  aria-labelledby="removeGroupModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0 m-modal-width">
      <div class="p-4 to-front">
        <div class="text-center">
          <h3 class="light">Are you sure you want to remove <span class="text-primary" id="group_title">{{ object.title|default:object.slug }}</span>?</h3>
          <form id="remove_group" method="POST">{% csrf_token %}<div class="form-actions"> <input type="submit"
                value="{% trans "Yes, I am sure" %}" class="btn btn-danger btn-block" />
              <p class="mb-0 cancel"><a href="#" data-dismiss="modal"class="btn_wrapper">Maybe later</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'toast/remove_group.html' %}
{% block extra_script %}
<script text="text/javascript">
  $(document).ready(function () {
    $(document).on('show.bs.modal', '.removeGroupModal', function () {
      $('#remove_group_modal').modal('hide');
      $('#wrap').addClass('blur-background');
    });
    $(document).on('hide.bs.modal', '.removeGroupModal', function () {
      $('#wrap').removeClass('blur-background');
    });
  });
</script>{% endblock %}