{% load i18n %}{% load static from staticfiles %}{% load base_tags %}{% load layer_tags %}<div class="modal fade"
  id="edit-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div aria-label="Close" role="button" class="delete_search" style="top: 0;"><span data-dismiss="modal"
            class="dlt_span" role="button" tabindex="0" aria-label="Close" title="Close"><svg focusable="false"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
              </path>
            </svg></span></div>
        <h4 class="modal-title w-100 text-center" id="myModalLabel">{% trans "Edit Layer" %}</h4>
      </div>
      <div class="modal-body text-center">
        <div class="row edit-modal">{% if "change_resourcebase_metadata" in perms_list %}<div class="col-sm-3"> <i
              class="fa-solid fa-rectangle-list fa-3x"></i>
            <h5>{% trans "Metadata" %}</h5> <a class="btn btn-primary btn-block btn-md"
              href="{% url "layer_metadata" resource.service_typename %}">{% trans "Wizard" %}</a> <a
              class="btn btn-primary btn-block btn-md"
              href="{% url "layer_metadata_advanced" resource.service_typename %}">{% trans "Advanced Edit" %}</a> <a
              class="btn btn-primary btn-block btn-md"
              href="{% url "layer_metadata_upload" resource.service_typename %}">{% trans "Upload Metadata" %}</a>
          </div>
          {% endif %}{% if GEOSERVER_BASE_URL and not resource.service %}{% if "change_layer_style" in layer_perms %}{% if resource.storeType != "remoteStore" %}
          <div class="col-sm-3"> <i class="fa-solid fa-tint fa-3x"></i>
            <h5>{% trans "Styles" %}</h5>{% if preview == 'react' or preview == 'leaflet' %}<a
              class="btn btn-edit btn-block btn-md style-edit" data-dismiss="modal"
              href="#">{% trans "Edit" %}</a>{% else %}<a class="btn btn-primary btn-edit btn-md style-edit"
              href="{% url "layer_sld_edit" resource.service_typename %}">{% trans "Edit" %}</a>{% endif %}<a
              class="btn btn-primary btn-block btn-md"
              href="{% url "layer_sld_upload" resource.service_typename %}">{% trans "Upload" %}</a> <a
              class="btn btn-primary btn-block btn-md"
              href="{% url "layer_style_manage" resource.service_typename %}">{% trans "Manage" %}</a>
          </div>{% endif %}{% endif %}{% endif %}{% if "change_resourcebase" in perms_list %}<div class="col-sm-3"> <i
              class="fa-solid fa-image fa-3x"></i>
            <h5>{% trans "Thumbnail" %}</h5>{% if resource.storeType != "remoteStore" %}<a
              class="btn btn-primary btn-block btn-md" href="#" id="set_thumbnail">{% trans "Set" %}</a>{% endif %}<a
              class="btn btn-primary btn-block btn-md"
              href="{% url "thumbnail_upload" resource.resourcebase_ptr.id %}">{% trans "Upload" %}</a>
          </div>
          {% endif %}{% if "change_resourcebase" in perms_list or "delete_resourcebase" in perms_list or "change_layer_data" in layer_perms %}
          <div class="col-sm-3"> <i class="fa-regular fa-square fa-3x rotate-45"></i>
            <h5>{% trans "Layer" %}</h5>
            {% if "change_resourcebase" in perms_list and resource.storeType != "remoteStore" %}<a
              class="btn btn-primary btn-block btn-md"
              href="{% url "layer_replace" resource.service_typename %}">{% trans "Replace" %}</a>{% endif %}{% if "change_resourcebase" in perms_list and resource.storeType != "remoteStore" %}<a
              class="btn btn-primary btn-block btn-md"
              href="{% url "layer_append" resource.service_typename %}">{% trans "Append Data" %}</a>{% endif %}{% if "change_layer_data" in layer_perms and OGC_SERVER.default.BACKEND == 'geonode.geoserver' %}{% if layer_type != "raster" and resource.storeType != "remoteStore" %}<a
              class="btn btn-primary btn-block btn-md"
              href="{% url "new_map" %}?layer={{resource.service_typename}}&storeType={{resource.storeType}}">{% trans "Edit data" %}</a>{% endif %}{% endif %}{% if "delete_resourcebase" in perms_list %}<a
              id="removeLayerModal" data-toggle="modal" class="btn btn-danger btn-block btn-md"
              data-target="#removeLayersModal" style="cursor: pointer;">Remove</a>{% endif %}
          </div>{% endif %}</div>
      </div><button type="button" class="btn btn-primary col-md-12" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
<div class="modal fade removeLayersModal" id="removeLayersModal" tabindex="-1" role="dialog"
  aria-labelledby="removeLayersModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0 m-modal-width">
      <div class="p-4 to-front">
        <div class="text-center">
          <h3 class="light">Are you sure you want to remove{{resource.title}}?</h3>
          <form id="remove_layer" method="POST">{% csrf_token %}<div class="form-actions"> <input type="submit"
                value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
              <p class="mb-0 cancel"><a href="#" data-dismiss="modal"class="btn_wrapper">Maybe later</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>{% include 'toast/remove_layer.html' %}{% block extra_script %}<script text="text/javascript">
  $(document).ready(function () {
    $(document).on('show.bs.modal', '.removeLayersModal', function () {
      $('#edit-layer').modal('hide');
      $('#wrap').addClass('blur-background');
    });
    $(document).on('hide.bs.modal', '.removeLayersModal', function () {
      $('#wrap').removeClass('blur-background');
    });
  });
</script>{% endblock %}