{% load i18n %}{% load static %}{% load base_tags %}{% load document_tags %}<div class="modal fade"
  id="edit-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center" id="myModalLabel">{% trans "Edit Datasets" %}</h4>
        <div aria-label="Close" role="button" class="delete_search" style="top: 0;"><span data-dismiss="modal"
            class="dlt_span" role="button" tabindex="0" aria-label="Close" title="Close"><svg focusable="false"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
              </path>
            </svg></span></div>
      </div>
      <div class="modal-body text-center">
        <div class="row edit-modal">{% if "change_resourcebase_metadata" in perms_list %}<div class="col-sm-3 p-1"> <i
              class="fa-solid fa-rectangle-list fa-3x"></i>
            <h5>{% trans "Metadata" %}</h5> <a class="btn btn-primary btn-block btn-md"
              href="{% url "document_metadata" resource.id %}">{% trans "Wizard" %}</a> <a
              class="btn btn-edit btn-block btn-md"
              href="{% url "document_metadata_advanced" resource.id %}">{% trans "Advanced Edit" %}</a>
          </div>{% endif %}{% if "change_resourcebase" in perms_list %}<div class="col-sm-3 p-1"> <i
              class="fa-solid fa-image fa-3x"></i>
            <h5>{% trans "Thumbnail" %}</h5> <a class="btn btn-upload btn-block btn-md"
              href="{% url "thumbnail_upload" resource.resourcebase_ptr.id %}">{% trans "Upload" %}</a>
          </div>{% endif %}{% if "change_resourcebase" in perms_list or "delete_resourcebase" in perms_list %}<div
            class="col-sm-3 p-1"> <i class="fa-regular fa-file-lines fa-3x"></i>
            <h5>{% trans "Data" %}</h5>{% if "change_resourcebase" in perms_list %}<a
              class="btn btn-edit btn-block btn-md"
              href="{% url "document_replace" resource.id %}">{% trans "Replace" %}</a>{% endif %}{% if "delete_resourcebase" in perms_list %}<a
              id="removeDocumentModal" data-toggle="modal" class="btn btn-danger btn-block btn-md"
              data-target="#removeDocumentsModal" style="cursor: pointer;">Remove</a>{% endif %}
          </div>{% endif %}</div>
      </div><button type="button" class="btn btn-primary col-md-12" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<div class="modal fade removeDocumentsModal" id="removeDocumentsModal" tabindex="-1" role="dialog"
  aria-labelledby="removeDocumentsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0 m-modal-width">
      <div class="p-4 to-front">
        <div class="text-center">
          <h3 class="light">Are you sure you want to remove{{resource.title}}?</h3>
          <form id="remove_document" method="POST">{% csrf_token %}<div class="form-actions"> <input type="submit"
                value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
              <p class="mb-0 cancel"><a href="#" data-dismiss="modal"class="btn_wrapper">Maybe later</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>{% include 'toast/remove_document.html' %}{% block extra_script %}<script text="text/javascript">
  $(document).ready(function () {
    $(document).on('show.bs.modal', '.removeDocumentsModal', function () {
      $('#edit-document').modal('hide');
      $('#wrap').addClass('blur-background');
    });
    $(document).on('hide.bs.modal', '.removeDocumentsModal', function () {
      $('#wrap').removeClass('blur-background');
    });
  });
</script>{% endblock %}