{% load i18n %}
{% load static %}
{% load base_tags %}
<div class="modal fade"
     id="requestDownloadLayer"
     tabindex="-1"
     role="dialog"
     aria-labelledby="requestDownloadLayerTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 m-modal-width">
            <div class="p-4 to-front">
                <div class="text-center">
                    <h3 class="light">Request Data</h3>
                    <p class="mb-4 ">
                        Please fill the information below, and we'll notify the owner about your request.
                    </p>
                    <form method="POST" class="mb-4" id="request-download-layer">
                        {% csrf_token %}
                        <div class="form-group col-lg-12">
                            <label class="col-12 text-center mb-2"
                                   for="requester_name">Name *</label>
                            <div class="col-12 p-0">
                                <input id="requester_name"
                                       type="text"
                                       name="requester_name"
                                       class="form-control"
                                       placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-12 text-center mb-2"
                                   for="requester_email">Email *</label>
                            <div class="col-12 p-0">
                                <input id="requester_email"
                                       type="email"
                                       name="requester_email"
                                       class="form-control"
                                       placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-12 text-center mb-2"
                                   for="requester_institution">
                                Institution *
                            </label>
                            <div class="col-12 p-0">
                                <input id="requester_institution"
                                       type="text"
                                       name="requester_institution"
                                       class="form-control"
                                       placeholder="Institution">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-12 text-center mb-2"
                                   for="requester_position">
                                Position *
                            </label>
                            <div class="col-12 p-0">
                                <input id="requester_position"
                                       type="text"
                                       name="requester_position"
                                       class="form-control"
                                       placeholder="Position">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-12 text-center mb-2"
                                   for="purposes">Purposes *</label>
                            <div class="col-12 p-0">
                                <input id="purposes"
                                       type="text"
                                       name="purposes"
                                       class="form-control"
                                       placeholder="Please briefly describe how you intend to use this data?">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-12 text-center mb-2"
                                   for="purposes">Data Retention</label>
                            <div class="col-12 p-0">
                                <select class="selectpicker form-control"
                                        name="retention" id="retentionInput" data-size="5">
                                </select>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-update form-actions w-100 mt-2" value="Submit">
                    </form>
                    <p class="mb-0 cancel">
                        <a href="#" data-dismiss="modal"class="btn_wrapper">Maybe later</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'toast/request_data.html' %}
