{% load i18n %}

<div class="modal fade" id="layer_style_format" tabindex="-1" role="dialog" aria-labelledby="styleFormatModal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content rounded-0">
    <div class="modal-header">
      <h3 class="modal-title">List of supported file formats</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
      </button>
    </div>
    <div class="modal-body">
      <p>Currently only styles in <strong>SLD 1.0 and 1.1</strong> format can be uploaded</p><br />
      <p>For more info, check the documentation in link below</p>
      <a target="_blank"
        href="https://docs.geonode.org/en/master/usage/managing_layers/layer_styling.html#uploading-styles">Geonode
        Uploading Styles Documentation</a>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>