{% load i18n %}
{% load base_tags %}

<div class="modal fade" id="_thumbnail_feedbacks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="thumbnailFeedbacksModal">{% trans "Thumbnail Feedbacks" %}</h3>
        <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
        </button>
      </div>
      <div class="modal-body text-center">
        ...
      </div>
      <button type="button" class="btn btn-primary col-md-12" data-dismiss="modal">Ok, I get it.</button>
    </div>
  </div>
</div>