{% load i18n %}

<div class="modal fade" id="timeSeriesModal" tabindex="-1" role="dialog" aria-labelledby="timeSeriesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="timeSeriesModalLabel">{% trans "Additional Help" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark" data-dismiss="modal" title="Close Panel"></i>
        </button>
      </div>
      <div class="modal-body">
        <h4>{% trans "Enabling Time" %}</h4>
        <p>{% blocktrans %}A dataset can support one or two time attributes. If a single
                        attribute is used, the dataset is considered to contain data that is valid at single points in time. If two
                        attributes are used, the second attribute represents the end of a valid period  hence the dataset is considered
                        to contain data that is valid at certain periods in time.{% endblocktrans %}</p>
        <h4>{% trans "Selecting an Attribute" %}</h4>
        <p>{% trans "A time attribute can be" %}:</p>
        <ul>
          <li>{% trans "An existing date" %}</li>
          <li>{% trans "Text that can be converted to a timestamp" %}</li>
          <li>{% trans "A number representing a year" %}</li>
        </ul>
        <p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>