{% load i18n %}

{% load avatar_tags %}
{% load groups_tags %}
{% load user_messages %}

<table class="table table-striped table-bordered">
    <tbody>
    {% for thread in threads %}
        {% random_uuid as input_id %}
        {% is_unread thread request.user as unread_flag %}
        {% format_senders thread request.user as senders_repr %}
        <tr>
            <td class="col-sm-1">
                <div class="inbox-checkbox">
                    <input name=thread_{{ thread.pk }} id={{ input_id }} type="checkbox">
                    <label for={{ input_id }} class="inbox-marker-checkmark"></label>
                </div>
            </td>
            <td class="col-md-3">
                <a href="{{ thread.get_absolute_url }}" style="{% if unread_flag %}font-weight:bold{% endif %}">{{ senders_repr }} <span
                            style="font-size:10px;">{{ thread.num_messages }}</span></a>
            </td>
            <td class="col-md-3">
                <a href="{{ thread.get_absolute_url }}" style="{% if unread_flag %}font-weight:bold{% endif %}">{{ thread.subject }} - {{ thread.latest_message.content|striptags|slice:"69" }}...</a>
            </td>
            <td class="col-md-2 small">
                {{ thread.latest_message.sent_at }}
            </td>
            <td class="col-md-2">
                <div class="row justify-content-between m-1">
                  <form method="POST" action={% url "msg_status" %} >
                    {% csrf_token %}
                    <input name="action_type" type="hidden" value="read">
                    <input name=thread_{{ thread.pk }} type="hidden" value="true">
                    <button type="submit" class="btn btn-info message_read_btn" title="{% trans "Mark as read" %}"><i class="fa-solid fa-check" title="{% trans "Mark selected as read" %}"></i></button>
                  </form>
                  <form method="POST" action={% url "msg_status" %} >
                    {% csrf_token %}
                    <input name="action_type" type="hidden" value="unread">
                    <input name=thread_{{ thread.pk }} type="hidden" value="true">
                    <button type="submit" class="btn btn-warning message_unread_btn" title="{% trans "Mark as unread" %}"><i class="fa-regular fa-envelope" title="{% trans "Mark selected as unread" %}"></i></button>
                  </form>
                  <form method="post" action="{% url "messages_thread_delete" thread.pk %}">
                      {% csrf_token %}
                      <button class="btn btn-danger message_delete_btn" title="Delete Message"><i class="fa-solid fa-trash"></i></button>
                  </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

