{% extends "geonode_base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load static %}

{% block title %}{% trans "Message Inbox" %} — {{ block.super }}{% endblock %}

{% block body %}
  <div class="card border-dark rounded bg-light">
      <div class="card-header">
        <div class="row">
          <h3 class="col">Messages</h3>
          <div class="col-4 text-right">
            {% if not READ_ONLY_MODE %}
              <a href="{% url 'message_create' %}" class="btn btn-primary btn-block" type="button">{% trans "Create Message" %}</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <ul class="nav nav-tabs w-100">
            <li class="col"><a href="#inbox" data-toggle="tab" class="nav-primary active">{% trans "Unread Messages" %}</a></li>
            <li class="col"><a href="#all" data-toggle="tab" class="nav-primary">{% trans "All" %}</a></li>
          </ul>            

          <div class="tab-content bg-light mt-2">
            <div class="col-md-12">
              <div class="d-flex justify-content-between" id="bulk_inbox">
                  <form method="POST" id="id-inbox-form" action={% url "msg_status" %} >
                      {% csrf_token %}
                      <input id="id-action-type" name="action_type" type="hidden" value="">
                      {% for thread in threads_all %}
                          <input name=thread_{{ thread.pk }} id=read_unread_{{ thread.pk }} type="hidden" value="">
                      {% endfor %}
                  </form>

                  <button type="submit" class="btn btn-info col-3" id="id-mark-as-read" title="{% trans "Mark selected as read" %}"><span class="mr-2">Mark selected as read</span><i class="fa-solid fa-check"></i></button>
                  <button type="submit" class="btn btn-warning col-3" id="id-mark-as-unread" title="{% trans "Mark selected as unread" %}"><span class="mr-2">Mark selected as unread</span><i class="fa-regular fa-envelope"></i></button>
                  <form method="POST" id="delete_bulk_form" action={% url "delete_bulk_messages" %} style="display: contents;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger col-3" id="delete_bulk_btn" title="Delete Bulk Message"><span class="mr-2">Delete Selected</span><i class="fa-solid fa-trash"></i></button>
                  </form>
              </div>
            </div>
            <article id="inbox" class="tab-pane active">
              {% with threads_unread as threads %}
                  {% include "user_messages/_message_snippet.html" %}
              {% endwith %}
            </article>
            <article id="all" class="tab-pane">
              {% with threads_all as threads %}
                  {% include "user_messages/_message_snippet.html" %}
              {% endwith %}
            </article>
          </div>
        </div>
      </div>
  </div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">
  $("#id-mark-as-unread").click(() => {
      $("#id-action-type").attr('value', 'unread');
      $("#id-inbox-form").submit();
  });

  $("#id-mark-as-read").click(() => {
      $("#id-action-type").attr('value', 'read');
      $("#id-inbox-form").submit();
  });

  $('#delete_bulk_btn').click(function() {
      $("#delete_bulk_form").submit(function(t) {
        t.preventDefault();
        $.ajax({
          type: "POST",
          url: $(this).attr('action'),
          data: {
            'delete': deleteList
          },
          success: function() {
            $('#all').load(window.location.pathname + ' #all');
            $('#inbox').load(window.location.pathname + ' #inbox');
          }
        });
        return false;
      })
  });

function prepare_read_unread_form(objectClicked) {
    if (objectClicked.type === 'checkbox') {
        $("#read_unread_" + objectClicked.name.split("_")[1])[0].value = objectClicked.checked;
    }
}

function prepare_delete_form(objectClicked) {
    if (objectClicked.type === 'checkbox') {
        deleteList.push(objectClicked.name.split("_")[1])
    }
}
var deleteList = [];

$('.tab-content').click(function(event) {
  const objectClicked = event.target;
  prepare_read_unread_form(objectClicked)
  prepare_delete_form(objectClicked)

  // If we clicked the delete button
  if ($(objectClicked)[0].className.indexOf('message_delete_btn') >= 0) {
    // Grab the correct form
    form = $(objectClicked).closest('form')[0];
    // Asynchronous delete thread and refresh on same page
    $.ajax({
      type: "POST",
      url: $(form).attr('action'),
      data: $(form).serialize(),
      success: function() {
        $('#all').load(window.location.pathname + ' #all');
        $('#inbox').load(window.location.pathname + ' #inbox');
      }
    });
    return false;
  }

  // If we clicked the unread button
  if ($(objectClicked)[0].className.indexOf('message_unread_btn') >= 0) {
    // Grab the correct form
    form = $(objectClicked).closest('form')[0];
    // Asynchronous unread thread and refresh on same page
    $.ajax({
      type: "POST",
      url: $(form).attr('action'),
      data: $(form).serialize(),
      success: function() {
        $('#all').load(window.location.pathname + ' #all');
        $('#inbox').load(window.location.pathname + ' #inbox');
      }
    });
    return false;
  }

  // If we clicked the read button
  if ($(objectClicked)[0].className.indexOf('message_read_btn') >= 0) {
    // Grab the correct form
    form = $(objectClicked).closest('form')[0];
    // Asynchronous read thread and refresh on same page
    $.ajax({
      type: "POST",
      url: $(form).attr('action'),
      data: $(form).serialize(),
      success: function() {
        $('#all').load(window.location.pathname + ' #all');
        $('#inbox').load(window.location.pathname + ' #inbox');
      }
    });
    return false;
  }
});
// Allow thread links to work
$('.tab-content a').click(function(event) {
  event.stopPropagation();
});

</script>
{% endblock extra_script %}
