{% extends "geonode_base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Create Message" %} — {{ block.super }}{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea#id_content',
        theme: 'silver',
        height: "680",
        plugins: [
            "print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons"
        ],
        toolbar: [
            "undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save | insertfile image media template link anchor codesample | ltr rtl"
        ],
        toolbar_sticky: "true",
        content_css: '//www.tiny.cloud/css/codepen.min.css',
        toolbar_mode: 'sliding',
        contextmenu: "link image imagetools table",
        cleanup_on_startup: true
    });

</script>

{% endblock extra_script %}


{% block body %}
<form id="msg_form" method="post" action="{% url 'message_create' %}">

    <div class="card">
        <div class="card-header text-center bg-primary">
            <h3 class="text-light">{% trans "Create Message" %}</h3>
        </div>
        <div class="card-body">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% if form_error_title %}
                <strong>{{ form_error_title }}</strong><br />
                {% endif %}
                {% if form.non_field_errors|length == 1 %}
                {{ form.non_field_errors|first }}
                {% else %}
                {{ form.non_field_errors }}
                {% endif %}
            </div>
            {% endif %}
            {{ form|crispy }}
        </div>
        <div class="card-footer">
            <div class="row">
              <div class="col pr-0"><a href="{% url "messages_inbox" %}" class="btn btn-secondary btn-block" type="button">{% trans "Back to Inbox" %}</a></div>
              <div class="col-6 pr-0">
                <input id="id_form_submit" type="submit" value="{% trans "Send message" %}" class="btn btn-save btn-block" type="button"/>
              </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}