{% load i18n %}
{% load static %}
{% load floppyforms %}

<!-- Required to make select2 fields work for autocomplete -->
<link href="{% static "autocomplete_light/select2.css" %}" type="text/css" media="screen" rel="stylesheet" />
<script type="text/javascript" src="{% static "autocomplete_light/jquery.init.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/select2/dist/js/select2.full.js" %}"></script>
<script type="text/javascript" src="{% static "vendor/select2/dist/js/i18n/en.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/autocomplete.init.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/forward.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/select2.js" %}"></script>
<script type="text/javascript" src="{% static "autocomplete_light/jquery.post-setup.js" %}"></script>

<script src="{% static "geonode/js/crop_widget/crop_widget_es5.js" %}"></script>
<link rel="stylesheet" href="{% static "geonode/css/crop_widget.css" %}">

<div class="row w-100 m-0 mb-2">
  <button class="btn btn-save metadata-edit-done col-12 d-none" id="btn_upd_md_done" type="submit">{% trans "Done!" %}</button>
</div>
{% block body %}
<div class="row w-100 m-0 mb-2">
  <ul id="md_tabs" class="nav nav-tabs w-100" role="tablist">
    <li class="nav-item col" role="presentation">
      <a id="edit-metadata-tab" class="nav-secondary active" role="tab" aria-controls="edit-metadata" aria-selected="true" data-toggle="tab" href="#edit-metadata"><i class="fa-solid fa-pencil"></i>{% trans "Edit" %}</a>
    </li>
    <li id="settings_tab" class="nav-item col" role="presentation">
      <a class="nav-secondary" role="tab" aria-controls="settings" aria-selected="false" data-toggle="tab" href="#settings"><i class="fa-solid fa-gear"></i> {% trans "Settings" %}</a>
    </li>
  </ul>
</div>

<div class="tab-content bg-light" id="edit-metadata-content">
  <div class="tab-pane fade show active" id="edit-metadata" role="tabpanel" aria-labelledby="edit-metadata-tab">
    <div id="completeness-hints" class="progress">
      <div class="mandatory-hint progress-bar" role="progressbar" aria-controls="mandatory" aria-selected="true" style="width:25%">
        {% trans "Mandatory" %}
      </div>
      <div class="licenses-hint progress-bar" role="progressbar" aria-controls="licenses" aria-selected="false" style="width:25%">
        {% trans "Mandatory" %}
      </div>
      <div class="content-hint progress-bar" role="progressbar" aria-controls="content" aria-selected="false" style="width:25%">
        {% trans "Mandatory" %}
      </div>
      <div class="optional-hint progress-bar bg-secondary" role="progressbar" aria-controls="optional" aria-selected="false" style="width:25%">
        {% trans "Optional" %}
      </div>
    </div>

    <ul class="wizard--progress wizard--progress--medium" role="tablist">
      <li data-step="1" id="nav-mandatory-tab" class="nav-item" data-toggle="tab" role="tab" aria-controls="mandatory" aria-selected="true" href="#mandatory">
        <a>{% trans "Content Citation" %}</a>
      </li>
      <li data-step="2" id="nav-licenses-tab" class="nav-item" data-toggle="tab" role="tab" aria-controls="licenses" aria-selected="false" href="#licenses">
        <a>{% trans "Location and Licenses" %}</a>
      </li>
      <li data-step="3" id="nav-content-tab" class="nav-item" data-toggle="tab" role="tab" aria-controls="content" aria-selected="false" href="#content">
        <a>{% trans "Content Description" %}</a>
      </li>
      <li data-step="4" id="nav-optional-tab" class="nav-item" data-toggle="tab" role="tab" aria-controls="optional" aria-selected="false" href="#optional">
        <a>{% trans "Optional Metadata" %}</a>
      </li>
    </ul>

    <div id="mandatory" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-mandatory-tab">
      <div class="card">
          <div class="card-body">
            <div class="row">
                <div id="basicDescriptiveInfo" class="row row-cols-2">
                  <div class="col-3">
                    <img id="image" style="max-height: 100%; max-width: 100%; min-height: 100%; min-width: 100%">
                    <script>
                      const image = document.getElementById('image');
                      const path = location.pathname.split('/');
                      const id = path[path.length - 2];
                      const prefetch_url = "{{ resource.curatedthumbnail.thumbnail_url }}";
                      const c_widget = new CropWidget(image,
                        parseInt(
                          id
                        ),
                        '/api/documents/',
                        prefetch_url
                      );
                      c_widget.init();
                    </script>
                  </div>
                  <div class="col-4">
                    <div>
                      <span><label for="{{ document_form.title|id }}"
                          class="control-label required-field">{{ document_form.title.label }}</label></span>
                      {{ document_form.title }}
                    </div>
                    <div>
                      <span><label for="{{ document_form.title|id }}">{{ document_form.links.label }}</label></span>
                      {{ document_form.links }}
                    </div>
                    <div>
                      <span><label
                          for="{{ document_form.abstract|id }}">{{ document_form.abstract.label }}</label></span>
                      {{ document_form.abstract }}
                    </div>
                  </div>
                  <div class="col-5">
                    <div>
                      <span><label for="{{ document_form.keywords|id }}"
                          class="control-label required-field">{{ document_form.keywords.label }}</label></span>
                      {{ document_form.keywords }}
                    </div>
                    {% if THESAURI_FILTERS %}
                    <div class="col-12 thesauri_keywords">
                      {{ tkeywords_form }}
                    </div>
                    {% endif %}
                    <div>
                      <span><label
                          for="{{ document_form.date_distribution|id }}">{{ document_form.date_distribution.label }}</label></span>
                      {{ document_form.date_distribution }}
                    </div>
                    <div>
                      <span><label
                          for="{{ document_form.date_type|id }}">{{ document_form.date_type.label }}</label></span>
                      {{ document_form.date_type }}
                    </div>
                    <div>
                      <span><label for="{{ document_form.date|id }}">{{ document_form.date.label }}</label></span>
                      {{ document_form.date }}
                    </div>
                    <div id="basicCategoryInfo">
                      <span><label for="{{ category_form.category_choice_field|id }}"
                          class="control-label required-field">{% trans "Category" %}</label></span>
                      <select title="{% trans "Choose one of the following..." %}" data-live-search="true" data-size="5"
                        name="category_choice_field" id="category_form" class="selectpicker form-control" multiple>
                        <option {% if not category_form.initial %} selected="selected" {% endif %} value="">---</option>
                        {% for choice in category_form.category_choice_field.field.choices %}
                        <option {% ifequal category_form.initial choice.0 %} selected="selected" {% endifequal %}
                          value="{{ choice.0 }}"
                          data-content="<span class='has-popover' data-container='body' data-toggle='popover' data-placement='top' data-content=' {{ choice.2.description }}' rigger='hover'><i class='fa fa-{{choice.2.fa_class}}'></i> {{ choice.2.gn_description }}<span>">
                          {{ choice.2.gn_description }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div id="basicGroupInfo">
                      <span><label for="id_resource-group" class="control-label">{% trans "Group" %}</label></span>
                      <select title="{% trans "Choose one of the following..." %}" data-live-search="true" data-size="5"
                        name="resource-group" id="id_resource-group" class="selectpicker form-control">
                        <option {% if not group %} selected="selected" {% endif %} value="">---</option>
                        {% for group in metadata_author_groups %}
                        <option value="{{ group.group.id }}" {% ifequal resource.group group.group %}
                          selected="selected" {% endifequal %}>
                          {{ group.title }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row mt-2">
              <div class="card-deck w-100">
                <div class="card">
                  <div class="card-header"><h5 class="text-center">{% trans "Responsible Parties" %}</h5></div>
                  <div class="card-body">
                    <span><label for="{{ document_form.poc|id }}">{{ document_form.poc.label }}</label></span>
                    {{ document_form.poc }}
                  </div>
                </div>
                <div class="card">
                  <div class="card-header"><h5 class="text-center">{% trans "Responsible and Permissions" %}</h5></div>
                  <div class="card-body">
                    <div>
                      <span><label for="{{ document_form.owner|id }}">{{ document_form.owner.label }}</label></span>
                      {{ document_form.owner }}
                    </div>
                    <div>
                      <span><label
                          for="{{ document_form.metadata_author|id }}">{{ document_form.metadata_author.label }}</label></span>
                      {{ document_form.metadata_author }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div id="content" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-content-tab">
      <div class="card">
        <div class="card-body">
          <div id="cdinfo">
            <div class="row">
              <div class="col-6">
                <div class="pr-1">
                  <span><label for="{{ document_form.data_type|id }}">{{ document_form.data_type.label }}</label></span>
                  {{ document_form.data_type }}
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="pl-1">
                  <span><label
                      for="{{ document_form.maintenance_frequency|id }}">{{ document_form.maintenance_frequency.label }}</label></span>
                  {{ document_form.maintenance_frequency }}
                </div>
              </div>
            </div>
            <div class="mb-4">
              <div>
                <span><label
                    for="{{ document_form.data_description|id }}">{{ document_form.data_description.label }}</label></span>
                {{ document_form.data_description }}
              </div>
              <div>
                <span><label
                    for="{{ document_form.related_publication|id }}">{{ document_form.related_publication.label }}</label></span>
                {{ document_form.related_publication }}
              </div>
              <div>
                <span><label
                    for="{{ document_form.data_citation|id }}">{{ document_form.data_citation.label }}</label></span>
                {{ document_form.data_citation }}
              </div>
              <div>
                <span><label
                    for="{{ document_form.data_quality_statement|id }}">{{ document_form.data_quality_statement.label }}</label></span>
                {{ document_form.data_quality_statement|safe }}
              </div>
              <div>
                <span><label for="{{ document_form.purpose|id }}">{{ document_form.purpose.label }}</label></span>
                {{ document_form.purpose }}
              </div>
              <div>
                <span><label
                    for="{{ document_form.constraints_other|id }}">{{ document_form.constraints_other.label }}</label></span>
                {{ document_form.constraints_other }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="licenses" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-licenses-tab">
      <div class="card">
          <div class="card-body">
            <div class="row" id="mdinfo">
              <div class="col-4">
                <div class="pr-1">
                  <span><label for="{{ document_form.license|id }}"
                      class="control-label required-field">{{ document_form.license.label }}</label></span>
                  {{ document_form.license }}
                </div>
                <div class="pr-1">
                  <span><label for="{{ document_form.restriction_code_type|id }}"
                      class="control-label required-field">{{ document_form.restriction_code_type.label }}</label></span>
                  {{ document_form.restriction_code_type }}
                </div>
              </div>
              <div class="col-4">
                <div class="pr-1">
                  <span><label for="{{ document_form.language|id }}">{{ document_form.language.label }}</label></span>
                  {{ document_form.language }}
                </div>
                <div id="regions_multiselect_container" class="pr-1">
                  <span><label for="{{ document_form.regions|id }}"
                      class="control-label required-field">Regions</label></span>
                  <select title="{% trans "Choose one of the following..." %}" data-live-search="true" data-size="5"
                    name="resource-regions" id="region_form" class="selectpicker form-control" multiple>
                    <option {% if not region_form.initial %} selected="selected" {% endif %} value="">---</option>
                    {% for choice in region_form.region_choice_field.field.choices %}
                    <option {% ifequal region_form.initial choice.0 %} selected="selected" {% endifequal %}
                      value="{{ choice.0 }}"
                      data-content="<span class='has-popover' data-container='body' data-toggle='popover' data-placement='top' data-content=' {{ choice.2.name }}' rigger='hover'> {{ choice.2.name }}<span>">
                      {{ choice.2.name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div>
                  <span><label for="{{ document_form.doi|id }}">{{ document_form.doi.label }}</label></span>
                  {{ document_form.doi }}
                </div>
                <div>
                  <span><label for="{{ document_form.edition|id }}">{{ document_form.edition.label }}</label></span>
                  {{ document_form.edition }}
                </div>
              </div>
              <div class="col-12">
                <div class="mb-4">
                  <div>
                    <span><label for="{{ document_form.author|id }}">{{ document_form.author.label }}</label></span>
                    {{ document_form.author }}
                  </div>
                  <div>
                    <span><label for="{{ document_form.source|id }}">{{ document_form.source.label }}</label></span>
                    {{ document_form.source }}
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div id="optional" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-optional-tab">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6 pr-1">
                <span><label
                    for="{{ document_form.distributor|id }}">{{ document_form.distributor.label }}</label></span>
                {{ document_form.distributor }}
            </div>
            <div class="col-6 pl-1">
              <span><label
                  for="{{ document_form.project_information|id }}">{{ document_form.project_information.label }}</label></span>
              {{ document_form.project_information }}
            </div>
            <div class="col-12">
              <div>
                <span><label
                    for="{{ document_form.supplemental_information|id }}">{{ document_form.supplemental_information.label }}</label></span>
                {{ document_form.supplemental_information }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="settings" class="tab-pane fade" style="overflow: hidden;">
    <div class="card">
      <div class="card-header"><h5 class="text-center">{% trans "Publishing" %}</h5></div>
      <div class="card-body">
        <div>
          <span><label
              for="{{ document_form.is_approved|id }}">{{ document_form.is_approved.label }}</label></span>
          {{ document_form.is_approved }}
        </div>
        <div>
          <span><label
              for="{{ document_form.is_published|id }}">{{ document_form.is_published.label }}</label></span>
          {{ document_form.is_published }}
        </div>
        <div>
          <span><label for="{{ document_form.featured|id }}">{{ document_form.featured.label }}</label></span>
          {{ document_form.featured }}
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
  $(function () {
    $("#nav-licenses-tab").click(function() {
      $("#licenses").toggleClass("show")
    })
    $("#nav-optional-tab").click(function() {
      $("#optional").toggleClass("show")
    })
    $("#nav-mandatory-tab").click(function() {
      $("#mandatory").toggleClass("show")
    })
    $("#nav-content-tab").click(function() {
      $("#content").toggleClass("show")
    })
  })
</script>
{% endblock extra_script %}