{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block body %}

<div class="card border-dark rounded bg-light">
  <div class="card-header">
    <div class="row">
      <h3 class="col">{% trans "E-mail Addresses" %}</h3>
      <div class="col-sm-4 text-right">
        <a href="{% url 'profile_detail' request.user %}" class="btn btn-primary w-100" type="button">{% trans "Back to your profile" %}</a>
      </div>
    </div>
  </div>

  <div class="card-body">
    {% if user.emailaddress_set.all %}
    <form action="{% url 'account_email' %}" class="email_list" method="post">
      {% csrf_token %}
      <div class="border border-dark rounded col-12">

        <div class="mt-2">
          <div class="w-100 mb-1"><span class="text-secondary">{% trans "The following e-mail addresses are associated with your account:" %}</span></div>
            {% for emailaddress in user.emailaddress_set.all %}
            <label for="email_radio_{{forloop.counter}}" class="w-100">

                <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>

                {{ emailaddress.email }}
                <div class="float-right">
                  {% if emailaddress.verified %}
                    <span class="badge badge-info d-inline">{% trans "Verified" %}</span>
                  {% else %}
                    <span class="badge badge-dark d-inline">{% trans "Unverified" %}</span>
                  {% endif %}
                  {% if emailaddress.primary %}
                    <span class="badge badge-primary d-inline">{% trans "Primary" %}</span>
                  {% endif %}
                </div>
            </label>
            <br/>
            {% endfor %}
          </div>

        <div class="row card-footer">
              <button class="btn btn-save col m-3" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
              <button class="btn btn-info col m-3" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
              <button class="btn btn-danger col m-3" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
        </div>

      </div>
    </form>

    {% else %}
    <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>
    {% endif %}

  </div>
  <div class="card-body">
    <div class="border border-info rounded col-12">
      <div class="mt-2">
        <div class="w-100 mb-1"><span class="text-info">{% trans "Add E-mail Address" %}</span></div>
        <form method="post" action="{% url 'account_email' %}" class="add_email">
          {{ add_email_form.as_p }}
          {% csrf_token %}
          <button name="action_add" type="submit" class="btn btn-save mb-2">{% trans "Add E-mail" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}

{% block extra_script %}
    
{% endblock %}