{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Log in" %}{% endblock %}
{% block middle %}
  <div class="row">
    <div class="col-md-12 form-body" style="margin-top: 120px; padding-right: 60px; padding-left: 60px;">
        <div id="login_container">
          {% get_providers as socialaccount_providers %}
          {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
            <div class="socialaccount_ballot">
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
              <div class="login-or">{% trans 'or' %}</div>
            </div>
          {% include "socialaccount/snippets/login_extra.html" %}
          {% else %}
            <h3>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</h3>
          {% endif %}
          <form id="form-signin" style="margin-top: 30px;" role="form" method="POST" action="{% url 'account_login' %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="form-group">
                <p><a href="{% url 'account_reset_password' %}">{% trans "Forgotten Password?" %}</a></p>
            </div>
            <div class="form-group h-captcha" name="captcha" data-sitekey="c4422214-72cc-407a-96a7-a9a98469cc98" data-theme="dark" style="margin-top: 30px;"></div>
            <button class="btn btn-primary btn-full l-space" type="submit" style="margin-bottom: 50px;">{% trans "Sign In" %}</button>
          </form>
        </div>
    </div>
  </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#login_container").css({"margin": "0 auto", "max-width": "740px"});
        });
    </script>
    <script
      src="https://js.hcaptcha.com/1/api.js"
      async
      defer
    ></script>
{% endblock %}