{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Log in" %}{% endblock %}
{% block body %}
  <div class="card border-dark rounded bg-light">
    <div class="card-header text-center">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <div class="login-or">{% trans 'or' %}</div>
        </div>
      {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
        <h3>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</h3>
      {% endif %}
    </div>
    <div class="card-body">
        <div id="login_container">
          <form id="form-signin" role="form" method="POST" action="{% url 'account_login' %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {% crispy login_form %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </form>
        </div>
    </div>
    <div class="card-footer">
      <div class="text-right">
          <a href="{% url 'account_reset_password' %}" class="btn btn-light col-md-3">{% trans "Forgotten Password?" %}</a></p>
      </div>
    </div>
  </div>
{% endblock %}