{% extends "account/base.html" %}
{% load base_tags %}
{% load i18n %}

{% block title %}{% trans "Log out" %}{% endblock %}

{% block body %}
  <div class="card w-100">
            <div class="card-header text-center">
              <h3>{% trans "Are you sure you want to log out from this site?" %}</h3>
            </div>
      <div class="card-body">
        <form method="POST" action="{% url "account_logout" %}" class="form-horizontal">
          <fieldset>
            {% csrf_token %}
            <div class="form-actions" style="text-align: center">
              <button type="submit" class="btn btn-primary w-100" id="logout-button">{% trans "LOG OUT" %}</button>
            </div>
          </fieldset>
        </form>
      </div>
  </div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">

  $(document).ready(function() {
    $("#wrap").css('background-color', 'black');
  });

</script>
{% endblock %}