{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Log out" %}{% endblock %}

{% block middle %}
  <div class="row" style="margin: 0px;">
    <div class="col-md-12">
      <div class="col-md-8">
          <img src="../../static/geonode/img/logout.jpg" class='stretch logout-img' alt=''>
      </div>
      <div class="col-md-4">
        <form method="POST" action="{% url "account_logout" %}" class="form-horizontal">
          <fieldset>
            {% csrf_token %}
            <p id="logout-style">{% trans "Are you sure you want to log out?" %}</p>
            <div class="form-actions" style="text-align: center">
              <button type="submit" class="btn btn-primary" id="logout-button">{% trans "LOG OUT" %}</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
