{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-12 text-center" style="margin-top: 120px; padding-right: 60px; padding-left: 60px;">
    <div class="col-md-12 form-body">
      <form method="POST" action="">
        <fieldset id="field_pwd_change">
        {% csrf_token %}
        {{ form|crispy }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary w-100">{% trans "Change my password" %}</button>
          </div>
        </fieldset>
    </form>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_script %}
  <script type="text/javascript">
    $("#id_email").focus();
    $("#field_pwd_change").css({"margin": "0 auto", "max-width": "740px"});
  </script>
{% endblock %}