{% extends "account/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block body %}
<div class="card border-dark rounded bg-light">
    <div class="card-header text-center">
      <h3>{% trans "Password Set" %}</h3>
    </div>
    <div class="card-body">
        <p class="text-center">{% trans "Set your password here" %}</p>
        <form method="POST" action="">
            <fieldset>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Set password" %}</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
