{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block middle %}
<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
        <img src="../../../../static/geonode/img/change-password.png" class='stretch' alt=''>
    </div>
    <div class="col-md-4 form-body">
      <form method="POST" action="">
        <fieldset>
        {% csrf_token %}
        {{ form|as_bootstrap }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-full">{% trans "Change my password" %}</button>
          </div>
        </fieldset>
    </form>
    </div>
  </div>
</div>
{% endblock %}
