{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block body %}
<div class="card">
  <form method="POST" action="">
    <div class="card-body">
          <fieldset id="field_pwd_change">
          {% csrf_token %}
          {{ form|crispy }}
          </fieldset>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">{% trans "Change my password" %}</button>
    </div>
  </form>
</div>
{% endblock %}