{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account %}

{% user_display request.user as user_display %}

{% block middle %}
  <div class="row" style="margin-right: 20px; margin-top: 10px;">
    <div class="col-md-12">
        <div class="col-md-8">
            <img src="../../../static/geonode/img/password-reset.jpg" class='stretch' alt='' id="passwordreset-img">
        </div>

        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <div class="col-md-4 form-body" id="forgot-pass">
          <h3>{% trans "Forgotten your password?" %}</h3>
          <p>{% blocktrans %}Enter your email address below, and we'll send you an email allowing you to reset :){% endblocktrans %}</p>
          <form method="POST" action="{% url 'account_reset_password' %}">
            <fieldset>
            {% csrf_token %}
            {{ form.as_p }}
              <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-full">{% trans "Reset my password" %}</button>
              </div>
            </fieldset>
          </form>
          <p class="grid-spacer">{% blocktrans %}If you have any trouble resetting your password, please contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        </div>
    </div>
  </div>
{% endblock %}
{% block extra_body %}
  <script>
    $("#id_email").focus();
  </script>
{% endblock %}
