{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Sign up" %}{% endblock %}
{% block body %}
    <div class="card border-dark rounded bg-light">
      <div class="card-header text-center">
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Sign up with one
                of your existing third party accounts{% endblocktrans %}</p>
            {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
            {% include "socialaccount/snippets/login_extra.html" %}
            <hr>
        {% else %}
          <h3>Sign up</h3>
        {% endif %}
      </div>
      <div class="card-body">
        <div id="signup_container">
          <form id="signup_form" method="post" action="{% url "account_signup" %}" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
              <fieldset>
                  {% csrf_token %}
                  {% crispy signup_form %}
                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
              </fieldset>
          </form>
        </div>
      </div>
    </div>
{% endblock %}