{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Sign up" %}{% endblock %}
{% block body %}
    <div class="card border-dark rounded bg-light">
      <div class="card-header text-center">
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Sign up with one
                of your existing third party accounts{% endblocktrans %}</p>
            {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
            {% include "socialaccount/snippets/login_extra.html" %}
            <hr>
        {% else %}
          <h3>Sign up</h3>
        {% endif %}
      </div>
      <div class="card-body">
        <div id="signup_container">
          {% if account_geonode_local_signup %}
          <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
              <fieldset>
                  {% csrf_token %}
                  {{ form|crispy }}
                  {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="form-group h-captcha" name="captcha" data-sitekey="c4422214-72cc-407a-96a7-a9a98469cc98" data-theme="dark" style="margin-top: 30px;"></div>
                  <div class="form-actions">
                      <button type="submit" class="btn btn-primary w-100">{% trans "Sign up" %}</button>
                  </div>
              </fieldset>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script
      src="https://js.hcaptcha.com/1/api.js"
      async
      defer
    ></script>
{% endblock %}
