{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify your email address" %}{% endblock %}

{% block body %}

<div class="card border-dark rounded bg-light">
  <div class="card-header text-center">
    <h3>{% trans "Verify your email address" %}</h3>
  </div>
  <div class="card-body">
    <p>We have sent an email to you for verification. Follow the
        link provided to finalize the signup process.</p>
    <p>Please contact us if you do not receive it within a few minutes. Check Spam/Junk folder to make sure you receive it well.</p>
  </div>
</div>


{% endblock %}