{% extends "geonode_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load guardian_tags %}
{% load pagination_tags %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}documents{% endblock %}

{% block body_outer %}
<div class="card">
	<div class="card-body">
		<div class="row">
			<h2 class="col-8">{% trans "Upload Datasets" %}</h2>
			<div class="col-4"><a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn btn-primary float-right">{% trans "Explore Datasets" %}</a></div>
			<p>{% trans "Allowed raw data types" %}:</p>
			<p class="allowed_doctype">
			{% for doc in ALLOWED_DOC_TYPES %}
				<span class="badge badge-pill badge-primary">.{{ doc }}</span>
			{% endfor %}
			</p>
		</div>
	</div>
</div>
<div class="row">
  {% block body_inner %}{% endblock body_inner %}
  {% block body_sidebar %}{% endblock body_sidebar %}
</div>
{% endblock body_outer %}
