{% extends "documents/document_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Explore Datasets" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents documents-list explore{% endblock %}

{% block body %}
  <i class="fa-solid fa-angle-up" aria-hidden="true" id="jump_to_top" title="Jump to Top"></i>
  <div class="card position-sticky fixed-top">
    <div class="card-body">
      <div class="row">
        {% with include_type_filter='true' %}
          {% with header='Document Type' %}
            {% with filter='doc_type__in' %}
              {% include "search/_search_content.html" %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
        <div class="row w-100">
          {% if user.is_authenticated and not READ_ONLY_MODE %}
            <div class="col-3"><a href="{% url "document_upload" %}" class="btn btn-upload ml-2 btn--pill">{% trans "Upload Datasets" %}</a></div>
          {% endif %}
          {% if SEARCH_FILTERS.TEXT_ENABLED %}
            {% include "search/_text_container.html" %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-2">
      {% include 'base/_resourcebase_snippet.html' %}
    </div>
  </div>
{% endblock %}

{% block extra_script %}
{{ block.super }}
  <script type="text/javascript">
      {% if HAYSTACK_SEARCH %}
          SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='documents'%}'
      {% else %}
          SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}';
      {% endif %}
    FILTER_TYPE = 'document';
  </script>
  {% with include_spatial='true' %}
    {% include 'search/search_scripts.html' %}
  {% endwith %}

  {% include 'section/require_signin.html' %}
  
{% endblock extra_script %}