{% extends "documents/document_upload_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} {% trans "Replace Document" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents replace{% endblock body_class %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data" action="{% url "document_replace" document.id %}">
  {% csrf_token %}
  <div class="card-header bg-warning">
    <div class="row">
      <h3 class="col">{% trans "Replace " %}{{ document.title }}</h3>
      <div class="col-4 text-right"><a href="{% url 'document_detail' docid=document.id %}" class="btn btn-light w-100">{% trans "Return to Datasets" %}</a></div>
    </div>
  </div>
  <div class="card-body">
    <div id="upload_form">
      {{ form.errors }}
      {% if document.doc_file %}
        {{ form.doc_file|as_crispy_field }}
      {% elif document.doc_url %}
        {{ form.doc_url|as_crispy_field }}
      {% endif %}
    </div>
    <div title="Preview Image" id="previewImageDiv" class="d-none">
      <div id="divPreview"><span><label id="doc_change_to"></label></span></div>
      <img id="previewImage" src="" class="mx-auto d-block" />
    </div>
    <div class="d-none" id="previewPdf">
      <canvas id="pdfRendererReplace" class="w-100"></canvas>
      <div class="row justify-content-center mt-2">
          <div>
            <input id="current_page_replace" value="1" type="text" disabled class="btn btn-light text-center mr-3" style="width: 60px; border: 1px solid var(--shadow-1) !important;">
            <span> / <span id="pageCountReplace"></span> </span>
          </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent">
    <div class="row">
      <button id="clear-button" type="reset" class="btn btn-info col m-3">{% trans "Clear" %}</button>
      <button id="upload-button" type="submit" class="btn btn-save col m-3" value="Update">{% trans "Replace Datasets" %}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_script %}
{{ block.super }}

<script src="{% static "geonode/js/base/pdf.min.js" %}"></script>
<script src="{% static "geonode/js/base/pdf.worker.min.js" %}"></script>
<link href="{% static "geonode/css/pdf_viewer.css" %}" rel="stylesheet" />

<script type="text/javascript">

  $('#doc_file-clear_id').attr('data-toggle', 'toggle');
  $('#doc_file-clear_id').attr('data-width', '100%');
  $('#doc_file-clear_id').attr('data-height', '50');
  $("#doc_file-clear_id").bootstrapToggle({
      on: 'Remove Current Datasets',
      off: 'Keep the Datasets'
  });
  $("#id_doc_file").prev().prev().css('display', 'none');
  $(".toggle").css('margin-top', '1em');

  $('#id_doc_file').on('change', function (e) {
    var _text = $('#id_doc_file').val().replace("C:\\fakepath\\", "");
    var _title = _text.replace(/\.[^/.]+$/, "");
    var _fileName = _title.replace(/[_\W]+/g, " ") // remove non-word characters
    var file = e.target.files[0];

    if (file.type == 'application/pdf') {
        $('#doc_change_to').text("Document Preview: " + _fileName);
        $('#divPreview').addClass('alert-box--notice mb-2');
        $('#previewPdf').removeClass('d-none');
        {% include "documents/pdf_replace.html" %}
    } else {
        $('#doc_change_to').text("Image Preview: " + _fileName);
        $('#divPreview').addClass('alert-box--notice mb-2');
        $('#previewImage').attr('src', URL.createObjectURL(e.target.files[0]));
        $('#previewImageDiv').removeClass('d-none')
    }

  });

  $('#clear-button').on('click', function(e) {
    $('#id_doc_file').val(null);
    $('#previewImageDiv').addClass('d-none');
    $('#previewPdf').addClass('d-none');
  })
</script>
{% endblock extra_script %}