{% extends "documents/document_upload_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Upload Document" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents upload{% endblock body_class %}

{% block body_inner %}

<div class="col-8">
  <div class="card">
    <div class="card-body">
      <form id="upload_form" method="post" enctype="multipart/form-data" action="{% url "document_upload" %}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        {{ form.title|as_crispy_field }}
        {% comment %} {{ form.doc_file|as_crispy_field }} {% endcomment %}
        <section id="drop-zone" class="w-100 mb-2" onclick="document.getElementById('doc_file').click();">
          <h3><i class="fa-solid fa-cloud-arrow-up fa-4x" style="color: cornflowerblue;"></i><br />{% trans "Drag and drop your " %}<span style="color:midnightblue">{% trans "datasets or tabular files" %}</span>{% trans " or click here to upload" %}</h3>
            <input type="file" name="doc_file" id="doc_file" style="display: none;">
        </section>
        {{ form.doc_url|as_crispy_field }}
        {{ form.links|as_crispy_field }}
        <input type="hidden" name="permissions" id="permissions">
        <input type="hidden" name="doc_ext" id="doc_ext">
        <button type="submit" class="btn btn-upload btn-block">{% trans "Upload" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block body_sidebar %}

{% display_change_perms_button resource request.user perms_list as display_perms_button %}
{% if display_perms_button %}
<div class="card col-4 p-0">
  <div class="card-header">
    <h3 class="text-center">{% trans "Permissions" %}</h3>
  </div>
  <form id="permission_form">
    {% with catalogue='document' %}
      {% include "modal/permissions_form.html" %}
    {% endwith %}
  </form>
</div>
{% endif %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% include "toast/permissions_form.html" %}

{% include "upload/documents.html" %}
{% endblock extra_script %}