{% extends "documents/document_upload_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load bootstrap_tags %}

{% block title %} {% trans "Upload Document" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents upload{% endblock body_class %}

{% block body %}

<div class="col-md-8">
  {% comment %} <form id="upload_form" method="post" enctype="multipart/form-data" action="{% url "document_upload" %}"> {% endcomment %}
  <form id="upload_form" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    {{ form.as_p }}
    <button type="submit" id="upload-button" class="btn btn-danger" onclick="remainingTime()">{% trans "Upload" %}</button>
  </form>
</div>

{% endblock %}

{% block sidebar %}

  {% display_change_perms_button resource request.user perms_list as display_perms_button %}
  {% if display_perms_button %}
  <div class="col-md-4">
    <h3>{% trans "Permissions"  %}</h3>
    <form id="permission_form">
      {% include "_permissions.html" %}
    </form>
  </div>
  {% endif %}

{% endblock %}

{% block extra_script %}
{{ block.super }}
{% include "_permissions_form_js.html" %}

<script type="text/javascript">
    $('#id_doc_file').on('change', function(){
        if($('#id_title').val() == ''){
            $('#id_title').val($('#id_doc_file').val().replace("C:\\fakepath\\", ""));
        }
    });
    $("#id_links").select2({
        width: '100%'
    });
    $('#upload_form').submit(function(){
      $('#permissions').val(JSON.stringify(permissionsString($('#permission_form'),'base')));
    });

    $('#upload-button').click(function(){
      $('#_resource_uploading').modal('toggle');
    });

    function remainingTime() {
      var start = new Date().getTime();
      $("#upload_form").submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: "{% url 'document_upload' %}",
            async: true,
            mode: "queue",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            xhr: function() {
                var req = $.ajaxSettings.xhr();
                if (req) {
                    req.upload.addEventListener('progress', function(evt) {
                        if(evt.lengthComputable) {
                            var pct = (evt.loaded / evt.total) * 100;
                            var end = new Date().getTime();
                            var duration = (end - start) / 1000;
                            var bps = evt.loaded / duration
                            var time = (evt.total - evt.loaded) / bps;
                            var seconds = time % 60;
                            var minutes = time / 60;
                            seconds = Math.floor(seconds);
                            minutes = Math.floor(minutes);
                            $("#remaining").text(minutes + " minutes " + seconds + " seconds remaining");
                            $('#prog-doc > .progress-bar').css('width', pct.toPrecision(3) + '%');
                        }
                    }, false);
                }
                return req;
            }
        });
      });
    }
</script>
{% endblock extra_script %}
