{% extends "documents/document_upload_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} {% trans "Replace Document" %} - {{ block.super }} {% endblock %}

{% block body_class %}documents replace{% endblock body_class %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data" action="{% url "document_replace" document.id %}">
  {% csrf_token %}
  <div class="card-header bg-warning">
    <div class="row">
      <h3 class="col">{% trans "Replace " %}{{ document.title }}</h3>
      <div class="col-4 text-right"><a href="{% url 'document_detail' docid=document.id %}" class="btn btn-light w-100">{% trans "Return to Datasets" %}</a></div>
    </div>
  </div>
  <div class="card-body">
    <div id="upload_form">
      {{ form.errors }}
      {% if document.doc_file %}
        {{ form.doc_file|as_crispy_field }}
      {% elif document.doc_url %}
        {{ form.doc_url|as_crispy_field }}
      {% endif %}
    </div>
    <div title="Preview Image">
      <div id="divPreview"><span><label id="doc_change_to"></label></span></div>
      <img id="previewImage" src="" class="mx-auto d-block" />
    </div>
  </div>
  <div class="card-footer bg-transparent">
    <div class="row">
      <button id="clear-button" type="reset" class="btn btn-info col m-3">{% trans "Clear" %}</button>
      <button id="upload-button" type="submit" class="btn btn-save col m-3" value="Update">{% trans "Replace Datasets" %}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_script %}
{{ block.super }}
<script type="text/javascript">

  $('#doc_file-clear_id').attr('data-toggle', 'toggle');
  $('#doc_file-clear_id').attr('data-width', '100%');
  $('#doc_file-clear_id').attr('data-height', '50');
  $("#doc_file-clear_id").bootstrapToggle({
      on: 'Remove Current Datasets',
      off: 'Keep the Datasets'
  });
  $("#id_doc_file").prev().prev().css('display', 'none');
  $(".toggle").css('margin-top', '1em');

  $('#id_doc_file').on('change', function (e) {
    var _text = $('#id_doc_file').val().replace("C:\\fakepath\\", "");
    var _title = _text.replace(/\.[^/.]+$/, "");
    var _fileName = _title.replace(/[_\W]+/g, " ") // remove non-word characters
    $('#doc_change_to').text("Preview Image: " + _fileName);
    $('#divPreview').addClass('alert-box--notice mb-2');
    $('#previewImage').attr('src', URL.createObjectURL(e.target.files[0]));
  });
</script>
{% endblock extra_script %}