{% load i18n %}

<nav class="filter" ng-cloak>
    <a href="#data_type" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Data Type</a>
    <ul class="collapse list-unstyled" id="data_type">
    {% verbatim %}
    <li ng-repeat="data_type in data_type">
      <a data-value="{{ data_type.identifier }}" data-filter="data_type__identifier__in" title="{{ data_type.title }}"ng-click="multiple_choice_listener($event)" class="{{data_type.active}}">{{ data_type.title }}
        <span class="badge float-right">{{ data_type.count }}</span>
      </a>
    </li>
    {% endverbatim %}
  </ul>
</nav>
