{% load i18n %}

{% verbatim %}
<div id="favorited_filter" class="btn_wrapper" data-value="true" data-filter="fcb5b87" title="Favorited Datasets" class="{{item.active}}" ng-click="single_choice_listener($event)">
  <input id="favorited_input" type="checkbox" value="true" class="mr-2">
  <span class="font-weight-bold">Favorites</span>
</div>
{% endverbatim %}

{% block extra_script %}
<script type="text/javascript">
  $(function() {

    $("#favorited_filter").on("click", function(e) {
        $(this).toggleClass('active selected');
        $('#favorited_filter').attr('data-value',$(this).attr('data-value')==='true'?'false':'true' );
        var checkBoxes = $("#favorited_input");
        (checkBoxes.prop("checked")==true)?checkBoxes.prop("checked", false):checkBoxes.prop("checked", true);
    });

  })
</script>
{% endblock extra_script %}