{% load i18n %}
<nav class="filter" ng-cloak>
  <a href="#dataset_type" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Data Extension</a>
  <ul class="collapse list-unstyled" id="dataset_type">
  {% verbatim %}
  <li ng-repeat="item in dataset_type" ng-if="item.count > 0">
    <a data-value="{{ item.extension }}" data-filter="link__extension__in" title="{{ item.extension }}"ng-click="multiple_choice_listener($event)" class="{{item.extension.active}}">{{ item.extension }}
      <span class="badge float-right">{{ item.count }}</span>
    </a>
  </li>
  {% endverbatim %}
</ul>
</nav>

{% if SEARCH_FILTERS.CATEGORIES_ENABLED %}
<nav class="filter" ng-cloak ng-if="categories">
    <a href="#categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Categories</a>
    <ul class="collapse list-unstyled" id="categories">
        {% verbatim %}
        <li ng-repeat="category in categories" ng-if="category.count > 0">
            <a data-value="{{ category.identifier }}" data-filter="category__identifier__in"
                title="{{ category.title }}" ng-click="multiple_choice_listener($event)"
                class="{{category.active}}">
                <div class="fa-stack text-right" ng-if="category.svg">
                    <div class="text-center">
                      <img src="data:image/svg+xml;charset=UTF-8,{{category.svg}}" style="max-width: 24px;">
                    </div>
                </div>
                <div class="fa-stack text-center" ng-if="!category.svg">
                    <i class="fa fa-{{category.fa_class}} justify-content-center" style="max-width: 24px;"></i>
                </div>
                {{ category.title | limitTo: 25 }}{{ category.title.length > 25 ? '...' : ''}}
                <span class="badge float-right">{{ category.count }}</span>
            </a>
        </li>
        {% endverbatim %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.OWNERS_ENABLED %}
<nav class="filter" ng-cloak>
    <a href="#owners" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Responsibles</a>
    <ul class="collapse list-unstyled" id="owners">
        {% verbatim %}
        <li ng-repeat="owner in owners" ng-if="owner.count > 0">
            <a data-value="{{ owner.username }}" data-filter="owner__username__in"
                ng-click="multiple_choice_listener($event)"
                class="{{ owner.active }}">{{ owner.full_name ? owner.full_name : owner.username }}
                <span class="badge float-right">{{ owner.count }}</span>
            </a>
        </li>
        {% endverbatim %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.GROUPS_ENABLED %}
{% verbatim %}
<nav class="filter" ng-cloak>
    <a href="#groups" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Groups</a>
    <ul class="collapse list-unstyled" id="groups">
        <li ng-repeat="group in groups" ng-if="group.resource_counts.layer.total > 0 || group.resource_counts.document.total > 0">
            <a data-value="{{ group.name }}" data-filter="group__group_profile__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ group.active }}">{{ group.group_profile.title }}
                <span class="badge float-right">{{ group.resource_counts.all.total }}</span>
            </a>
        </li>
        {% endverbatim %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.GROUP_CATEGORIES_ENABLED %}
{% verbatim %}
<nav class="filter" ng-cloak ng-repeat="groupCategory in groupCategories" ng-if="group.resource_counts.layer.total > 0 || group.resource_counts.document.total > 0">
    <a href="#group-categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Group Categories</a>
    <ul class="collapse list-unstyled" id="group-categories">
        <li>
            <a data-value="{{ groupCategory.slug }}" data-filter="group__group_profile__categories__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ groupCategory.active }}">{{ groupCategory.name }}
                <span class="badge float-right">{{ groupCategory.resource_counts.all.total }}</span>
            </a>
        </li>
        {% endverbatim %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.DATE_ENABLED %}
{% include "search/_date_filter.html" %}
{% endif %}
{% if SEARCH_FILTERS.REGION_ENABLED %}
{% include "search/_region_filter.html" %}
{% endif %}
{% if SEARCH_FILTERS.EXTENT_ENABLED %}
{% include "search/_extent_filter.html" %}
{% endif %}
{% block extrascript %}
<script text="text/javascript">
    $(function () {
        $("#inpDate2").datetimepicker({
            viewMode: 'years',
            format: 'L',
            minDate : '2022-01-01'
        });

        $("#inpDate1").datetimepicker({
            viewMode: 'years',
            format: 'L',
            minDate : '2022-01-01'
        });

    });
</script>

{% endblock extrascript %}