{% load i18n %}
{% if SEARCH_FILTERS.CATEGORIES_ENABLED %}
<nav class="filter" ng-cloak>
    <a href="#categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Categories</a>
    <ul class="collapse list-unstyled" id="categories">
        {% if facet_type == 'layers' %}
        {% verbatim %}
        <li ng-repeat="category in categories" ng-if="category.layers_count > 0">
            <a data-value="{{ category.identifier }}" data-filter="category__identifier__in"
                title="{{ category.gn_description }}" ng-click="multiple_choice_listener($event)"
                class="{{category.active}}">
                <div class="fa-stack">
                    <i class="fa fa-{{category.fa_class}} fa-stack-1x"></i>
                </div>
                {{ category.gn_description | limitTo: 25 }}{{ category.gn_description.length > 25 ? '...' : ''}}
                <span class="badge float-right">{{ category.layers_count }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% else %}
        {% verbatim %}
        <li ng-repeat="category in categories" ng-if="category.count > 0">
            <a data-value="{{ category.identifier }}" data-filter="category__identifier__in"
                title="{{ category.gn_description }}" ng-click="multiple_choice_listener($event)"
                class="{{category.active}}">
                <div class="fa-stack">
                    <i class="fa fa-{{category.fa_class}} fa-stack-1x"></i>
                </div>
                {{ category.gn_description | limitTo: 25 }}{{ category.gn_description.length > 25 ? '...' : ''}}
                <span class="badge float-right">{{ category.count }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% endif %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.OWNERS_ENABLED %}
<nav class="filter" ng-cloak>
    <a href="#owners" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Responsibles</a>
    <ul class="collapse list-unstyled" id="owners">
        {% verbatim %}
        <li ng-repeat="owner in owners" ng-if="owner.count > 0">
            <a data-value="{{ owner.username }}" data-filter="owner__username__in"
                ng-click="multiple_choice_listener($event)"
                class="{{ owner.active }}">{{ owner.full_name ? owner.full_name : owner.username }}
                <span class="badge float-right">{{ owner.count }}</span>
            </a>
        </li>
        {% endverbatim %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.GROUPS_ENABLED %}
<nav class="filter" ng-cloak>
    <a href="#groups" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Groups</a>
    <ul class="collapse list-unstyled" id="groups">
        {% if facet_type == 'layers' %}
        {% verbatim %}
        <li ng-repeat="group in groups" ng-if="group.resource_counts.layer.total > 0">
            <a data-value="{{ group.name }}" data-filter="group__group_profile__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ group.active }}">{{ group.group_profile.title }}
                <span class="badge float-right">{{ group.resource_counts.layer.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% elif facet_type == 'documents' %}
        {% verbatim %}
        <li ng-repeat="group in groups" ng-if="group.resource_counts.document.total > 0">
            <a data-value="{{ group.name }}" data-filter="group__group_profile__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ group.active }}">{{ group.group_profile.title }}
                <span class="badge float-right">{{ group.resource_counts.document.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% elif facet_type == 'maps' %}
        {% verbatim %}
        <li ng-repeat="group in groups" ng-if="group.resource_counts.map.total > 0">
            <a data-value="{{ group.name }}" data-filter="group__group_profile__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ group.active }}">{{ group.group_profile.title }}
                <span class="badge float-right">{{ group.resource_counts.map.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% elif facet_type == 'geoapps' %}
        {% verbatim %}
        <li ng-repeat="group in groups" ng-if="group.resource_counts.geoapp.total > 0">
            <a data-value="{{ group.name }}" data-filter="group__group_profile__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ group.active }}">{{ group.group_profile.title }}
                <span class="badge float-right">{{ group.resource_counts.geoapp.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% endif %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.GROUP_CATEGORIES_ENABLED %}
<nav class="filter" ng-cloak>
    <a href="#group-categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Group Categories</a>
    <ul class="collapse list-unstyled" id="group-categories">
        {% if facet_type == 'layers' %}
        {% verbatim %}
        <li ng-repeat="groupCategory in groupCategories" ng-if="groupCategory.resource_counts.layer.total > 0">
            <a data-value="{{ groupCategory.slug }}" data-filter="group__group_profile__categories__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ groupCategory.active }}">{{ groupCategory.name }}
                <span class="badge float-right">{{ groupCategory.resource_counts.layer.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% elif facet_type == 'documents' %}
        {% verbatim %}
        <li ng-repeat="groupCategory in groupCategories" ng-if="groupCategory.resource_counts.document.total > 0">
            <a data-value="{{ groupCategory.slug }}" data-filter="group__group_profile__categories__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ groupCategory.active }}">{{ groupCategory.name }}
                <span class="badge float-right">{{ groupCategory.resource_counts.document.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% elif facet_type == 'maps' %}
        {% verbatim %}
        <li ng-repeat="groupCategory in groupCategories" ng-if="groupCategory.resource_counts.map.total > 0">
            <a data-value="{{ groupCategory.slug }}" data-filter="group__group_profile__categories__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ groupCategory.active }}">{{ groupCategory.name }}
                <span class="badge float-right">{{ groupCategory.resource_counts.map.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% elif facet_type == 'geoapps' %}
        {% verbatim %}
        <li ng-repeat="groupCategory in groupCategories" ng-if="groupCategory.resource_counts.geoapp.total > 0">
            <a data-value="{{ groupCategory.slug }}" data-filter="group__group_profile__categories__slug__in"
                ng-click="multiple_choice_listener($event)" class="{{ groupCategory.active }}">{{ groupCategory.name }}
                <span class="badge float-right">{{ groupCategory.resource_counts.geoapp.total }}</span>
            </a>
        </li>
        {% endverbatim %}
        {% endif %}
    </ul>
</nav>
{% endif %}
{% if SEARCH_FILTERS.REGION_ENABLED %}
{% include "search/_region_filter.html" %}
{% endif %}
{% if SEARCH_FILTERS.EXTENT_ENABLED %}
{% include "search/_extent_filter.html" %}
{% endif %}
{% if SEARCH_FILTERS.DATE_ENABLED %}
{% include "search/_date_filter.html" %}
{% endif %}
{% block extrascript %}
<script text="text/javascript">
    $(function () {
        $(".datepicker").datetimepicker({
            viewMode: 'years'
        });

        $("#dltDate1").click(function () {
            $("#inpDate1").val('');
        });

        $("#dltDate2").click(function () {
            $("#inpDate2").val('');
        });

    });
</script>
{% endblock extrascript %}