{% verbatim %}
<div class="row row-cols-2 ml-1 mr-1">
    <article ng-repeat="group_profile in results" resource_id="{{ id }}" ng-cloak class="ng-cloak p-2">
        <div class="card">
            <a href="{{ group_profile.detail_url }}" class="card-link"><img class="card-img-top" ng-src="{{ group_profile.logo_url }}" alt="{{ group_profile.title }}"></a>

            <div class="card-body bg-{{ group_profile.access }}">
                <h4 class="card-title"><a href="{{ group_profile.detail_url }}" title="{{ group_profile.access }} group">{{ group_profile.title }}</a></h4>
                <p class="card-text">
                    {{ group_profile.description | limitTo: 300 }}
                    {{ group_profile.description.length > 300 ? '...' : ''}}
                </p>
            </div>
        </div>
        <div class="card-footer">
            <ul class="row">
                <li class="col text-center">
                    <a href="{{ group_profile.detail_url }}">
                        <strong>{{ group_profile.member_count }}</strong>
                        <ng-pluralize count="group_profile.member_count"
                                        when="{'1': 'Member', 'other': 'Members'}"></ng-pluralize>
                    </a>
                </li>
                <li class="col text-center">
                    <a href="{{ group_profile.detail_url }}">
                        <strong>{{ group_profile.manager_count == 0 ? '' : group_profile.manager_count }}</strong>
                        <ng-pluralize count="group_profile.manager_count"
                                        when="{'1': 'Manager', '0': 'No Manager', 'other': 'Managers'}"></ng-pluralize>
                    </a>
                </li>
                <li class="col text-center text-muted p-0"><i class="fa-solid fa-person-chalkboard" title="Owner"></i> <a href="{{ group_profile.profile_url }}" class="card-link">{{ group_profile.created_by }}</a></li>
            </ul>
        </div>
    </article>
</div>
{% endverbatim %}
