{% load i18n %}
{% load guardian_tags %}

<div class="row row-cols-md-3 row-cols-1 {% if not request.user_agent.is_mobile %} ml-1 mr-1 {% endif %}">
{% verbatim %}
  <article ng-repeat="groupcategory in results" resource_id="{{ groupcategory.id }}" ng-cloak class="ng-cloak p-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a href="{{ groupcategory.detail_url }}">{{ groupcategory.name }}</a></h4>
        <p class="card-text">
          {{ groupcategory.description | limitTo: 300 }}
          {{ groupcategory.description.length > 300 ? '...' : ''}}
        </p>
      </div>
      <div class="card-footer">
          <ul class="row">
            <li class="">
              <a href="{{ groupcategory.detail_url }}">
                <strong>{{ groupcategory.member_count }}</strong>
                <ng-pluralize count="groupcategory.member_count" when="{'1': 'Group', 'other': 'Groups'}">
                </ng-pluralize>
              </a>
            </li>
            <li class="col text-right text-muted p-0"><i class="fa-solid fa-person-chalkboard" title="Group Category Creator"></i> <a href="{{ groupcategory.profile_url }}" class="card-link">{{ groupcategory.created_by }}</a></li>
          </ul>
      </div>
    </div>
  </article>
{% endverbatim %}