{% load i18n %}

{% verbatim %}
<div class="row row-cols-3">
  <article ng-repeat="groupcategory in results" resource_id="{{ groupcategory.id }}" ng-cloak class="ng-cloak p-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a href="{{ groupcategory.detail_url }}">{{ groupcategory.name }}</a></h4>
        <p class="card-text">
          {{ groupcategory.description | limitTo: 300 }}
          {{ groupcategory.description.length > 300 ? '...' : ''}}
        </p>
      </div>
      <div class="card-footer">
          <ul class="row">
            <li class="col text-center">
              <a href="{{ groupcategory.detail_url }}">
                <strong>{{ groupcategory.member_count }}</strong>
                <ng-pluralize count="groupcategory.member_count" when="{'1': 'Member', 'other': 'Members'}">
                </ng-pluralize>
              </a>
            </li>
            <li class="col text-muted">Created at {{ groupcategory.created_at|date:"d/M/y" }}</li>
          </ul>
      </div>
    </div>
  </article>
</div>
{% endverbatim %}