{% load i18n %}
{% load thesaurus %}

{% verbatim %}
<label class="pl-2 mb-0 font-weight-bold">Keywords</label>
<div id="keywords_filter">
  <select title="Select Keywords" class="form-select selectpicker mb-2 remove-select" id="keywords" multiple data-live-search="true" data-size="8" data-width="100%" data-container="body" data-actions-box="true" data-deselect-all-text="Deselect">
    <option ng-repeat="keyword in keywords" data-content="
        <span class='badge badge-info w-auto d-inline' style='font-size: .9em;'>{{ keyword.name }}</span><span class='small span_count float-right'>{{ keyword.count }}</span>">
        {{ keyword.name }}
    </option>
  </select>
</div>
{% endverbatim %}

{% block extra_script %}
<script type="text/javascript">
  $(function() {
    var refrestSelectPicker = () => {
        $("#keywords").selectpicker('refresh');
        $('.span_count').parent().addClass('w-100 m-0 d-inline-block');
    }

    $("#keywords").on("changed.bs.select", function(e, clickedIndex, previousValue) {
        $('.filter-option-inner-inner .span_count').remove();

        var selected = [];
        $(".filter-option-inner-inner span.badge" ).each(function() {
            selected.push($( this ).text())
        });
        
        if (selected) {
            angular.element("body").scope().multiple_choice_listener(e, selected);
        }
    });

    // Event handler for autocomplete by querying input searchpicker; rendered the data after enter being pressed
    $('#keywords').on('loaded.bs.select', function (e, clickedIndex, isSelected, previousValue) {
      $("#keywords_filter .bootstrap-select .bs-searchbox input").on('change keyup paste',function(e){
          if (e.keyCode == 13) {
              var q = this.value;
              if (q) {
                $.ajax({
                    url: '{% url "keywords-list" %}',
                    headers:{"X-CSRFToken":'{{csrf_token}}'},
                    type: 'GET',
                    dataType: 'json',
                    data: {
                        q: q
                    },
                    success: function(data) {
                        if (data.total === 0) {
                          $(document.body).append(`{% with toast_title="Search Keywords" %}
                              {% with toast_message='No records were found that match with your query: `+ q +`' %}
                                {% with toast_alert='warning' %}
                                  {% include "toast/_trigger_toast.html" %}
                                {% endwith %}
                              {% endwith %}
                          {% endwith %}`);
                          $('.toast').toast('show');
                        }
                        var _data = data.keywords;
                        $("#keywords").empty();
                        $.each(_data, function(i, v) {
                            $('#keywords').append(`<option data-content="<span class='badge badge-info w-auto d-inline' style='font-size: .9em;'>`+v.name+`</span><span class='small span_count float-right'>`+v.count+`</span>">
                            `+v.name+`
                            </option>`)
                        });
                        refrestSelectPicker();
                    }
                })
              } else {
                  $.ajax({
                      url: '{% url "keywords-list" %}',
                      headers:{"X-CSRFToken":'{{csrf_token}}'},
                      type: 'GET',
                      dataType: 'json',
                      success: function(data) {
                          var _data = data.keywords;
                          $("#keywords").empty();
                          $.each(_data, function(i, v) {
                              $('#keywords').append(`<option data-content="<span class='badge badge-info w-auto d-inline' style='font-size: .9em;'>`+v.name+`</span><span class='small span_count float-right'>`+v.count+`</span>">
                              `+v.name+`
                              </option>`)
                          });
                          refrestSelectPicker();
                      }
                  })
              }
          }
      })
    });

    // Event handler for scroll and render the next page
    $('#keywords').on('shown.bs.select', function(e) {
        var page = 2;
        var ready = true;
        var $innerMenu = $(this).data('selectpicker').$menu.find('.inner'),
            _offset = $innerMenu.find('li').first().height();
        $innerMenu.scroll(function() {
            var scrollTop = $(this).scrollTop();
            var height = $(this).height();
            
            if(ready && (scrollTop / height) * _offset > (height / _offset) - 0.5) {
                ready = false;
                $.ajax({
                    url: '{% url "keywords-list" %}',
                    headers:{"X-CSRFToken":'{{csrf_token}}'},
                    type: 'GET',
                    dataType: 'json',
                    data: {
                      page: page++
                    },
                    success: function(data) {
                        var _data = data.keywords;
                        $.each(_data, function(i, v) {
                            $('#keywords').append(`<option data-content="<span class='badge badge-info w-auto d-inline' style='font-size: .9em;'>`+v.name+`</span><span class='small span_count float-right'>`+v.count+`</span>">
                            `+v.name+`
                            </option>`)
                        });
                        refrestSelectPicker();
                    }
                }).done(function() {
                    ready = true;
                })
            }    
        });
    })

  })
</script>
{% endblock extra_script %}