{% load i18n %}
{% load thesaurus %}

{% if SEARCH_FILTERS.KEYWORDS_ENABLED %}
<nav class="filter">
    <a href="#keywords" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Keywords</a>
    <ul class="collapse list-unstyled" id="keywords">
    {% comment %} <ul class="nav" id="keywords"> {% endcomment %}
      <li ng-repeat="keyword in keywords" ng-if="keyword.count > 0">
        {% verbatim %}
        <a data-value="{{ keyword.name }}" data-filter="keywords__slug__in" ng-click="multiple_choice_listener($event)"
          class="{{keyword.active}}">{{ keyword.name | limitTo: 25 }}{{ keyword.name.length > 25 ? '...' : ''}}
          <span class="badge float-right">{{ keyword.count }}</span>
        </a>
      </li>
      {% endverbatim %}
    </ul>
</nav>
{% endif %}