{% load i18n %}

{% verbatim %}
<label class="pl-2 mb-0 font-weight-bold">Regions</label>
<select title="Select Regions" class="form-select selectpicker mb-2" id="regions" data-live-search="true" data-size="10" data-width="100%" data-allow-clear="true" data-hide-disabled="true">
  <option ng-repeat="region in regions">{{ region.name }}</option>
</select>
{% endverbatim %}

{% block extra_script %}
<script type="text/javascript">
  $(function() {

    $("#regions").on("changed.bs.select", function(e) {
        var selected = e.target.value;
        angular.element("body").scope().single_choice_listener(e, selected);

    });

  })
</script>
{% endblock extra_script %}