{% load i18n %}

<div class="wrapper">
  <nav id="sidebar">
  
    {% if facet_type == 'layers' %}
    <resource-cart data-facet-type="{{ facet_type }}" selectedString='{% trans "Selection" %}'
      emptyString="{% trans "No list items selected. Use the selection fields to add." %}">
    </resource-cart>
    {% endif %}
    <div>  
        {% if user.is_authenticated and facet_type == 'layers' %}
          {% block bulk_perms_button %}
            <div class="btn-group btn-group-justified" role="group" aria-label="tools">
              <div class="btn-group btn-search-content" role="group">
                <button type="button" class="btn btn-primary" ng-disabled="!cart.getCart().items.length" data-toggle="modal"
                  data-target="#_bulk_permissions">{% trans "Set permissions" %}</button>
              </div>
              <div class="btn-group btn-search-content" role="group">
                <button type="button" class="btn btn-primary" ng-disabled="!cart.getCart().items.length"
                  ng-click="newMap()">{% trans "Create a Map" %}</button>
              </div>
            </div>
          {% endblock bulk_perms_button %}
        {% endif %}
  
        <div class="row justify-content-between mb-2 pt-2">
          <div class="col-4 ml-2 font-lg-1">{% trans "Filters" %}</div>
          <a href="." id="clear-search" class="col-4 text-center font-lg-1">{% trans "Clear" %}</a>
        </div>
        {% comment %} {% if SEARCH_FILTERS.TEXT_ENABLED %}
        {% include "search/_text_filter.html" %}
        {% endif  %} {% endcomment %}
        <div id="">
          {% block search_facet_lists %}
          {% if SEARCH_FILTERS.H_KEYWORDS_ENABLED %}
          {% include "search/_h_keywords_filter.html" %}
          {% endif %}
          {% if SEARCH_FILTERS.KEYWORDS_ENABLED %}
          {% include "search/_keywords_filter.html" %}
          {% endif %}
          {% if SEARCH_FILTERS.DATATYPE_ENABLED %}
          {% include "search/_datatype_filter.html" %}
          {% endif %}
          {% if SEARCH_FILTERS.T_KEYWORDS_ENABLED %}
          {% include "search/_t_keywords_filter.html" %}
          {% endif %}
          {% if SEARCH_FILTERS.TYPE_ENABLED and include_type_filter == 'true' %}
          {% include "search/_type_filters.html" %}
          {% endif %}
          {% include "search/_general_filters.html" %}
          {% endblock search_facet_lists %}
        </div>
    </div>
  </nav>
</div>