{% load i18n %}

<div class="side-inner bg-white" id="sidebar">
    <div class="row justify-content-between mb-2 pt-2">
      <div class="col-4 ml-2">{% trans "Filters" %}</div>
      <button type="button" id="clear-search" class="col-4 text-center delete_search_query">{% trans "Clear" %}</button>
      {% if request.user_agent.is_mobile %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-sidebar">
          <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
        </button>
      {% endif %}
    </div>
    {% comment %} {% if SEARCH_FILTERS.TEXT_ENABLED %}
    {% include "search/_text_filter.html" %}
    {% endif  %} {% endcomment %}
    <div id="filter-sidebar-content">
      {% include "search/_featured_filter.html" %}
      {% include "search/_favorited_filter.html" %}
      {% if SEARCH_FILTERS.H_KEYWORDS_ENABLED %}
        {% include "search/_h_keywords_filter.html" %}
      {% endif %}
      {% if SEARCH_FILTERS.KEYWORDS_ENABLED %}
        {% include "search/_keywords_filter.html" %}
      {% endif %}
      {% if SEARCH_FILTERS.REGION_ENABLED %}
        {% include "search/_region_filter.html" %}
      {% endif %}
      {% if SEARCH_FILTERS.OWNERS_ENABLED %}
        {% include "search/_owners_filter.html" %}
      {% endif %}
      {% if SEARCH_FILTERS.GROUPS_ENABLED %}
        {% include "search/_groups_filter.html" %}
      {% endif %}
      {% if SEARCH_FILTERS.T_KEYWORDS_ENABLED %}
        {% include "search/_t_keywords_filter.html" %}
      {% endif %}
      {% if SEARCH_FILTERS.TYPE_ENABLED %}
        {% include "search/_type_filters.html" %}
      {% endif %}
      {% include "search/_general_filters.html" %}
      {% if SEARCH_FILTERS.DATE_ENABLED %}
        {% include "search/_date_filter.html" %}
      {% endif %}
    </div>
</div>

{% block extra_script %}
<script type="text/javascript">
    $(function() {
        var showSidebar = () => {
            $('body').toggleClass('show-sidebar');
        };
        $('#sidebarFilter').on('click', function () {
            showSidebar();
        });
        $('#close-sidebar').on('click', function() {
            showSidebar();
        });
        $('.js-menu-toggle').on('click', function() {
            var $this = $(this);
            showSidebar();
            if ( $('body').hasClass('show-sidebar') ) {
                $this.removeClass('active');
            } else {
                $this.addClass('active');
            }
        });

        $(document).mouseup(function(e) {
            var container = $(".sidebar");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
              if ( $('body').hasClass('show-sidebar') ) {
                $('body').removeClass('show-sidebar');
                $('body').find('.js-menu-toggle').removeClass('active');
              }
            }

            var container_right = $(".sidebar-right");
            if (!container_right.is(e.target) && container_right.has(e.target).length === 0) {
              if ( $('body').hasClass('show-sidebar-right') ) {
                $('body').removeClass('show-sidebar-right');
                $('body').find('.js-menu-toggle-right').removeClass('active');
              }
            }
        });

        // Sidebar right for bulk selection and any other feature rather than query filter of the resource
        var showSidebarRight = () => {
            $('body').toggleClass('show-sidebar-right');
            $('#sidebar-right').toggleClass('active');
        };
        $('.js-menu-toggle-right').on('click', function() {
            var $this = $(this);
            showSidebarRight();
        });

    })
    var initSelectPicker = () => {
        $('.selectpicker').selectpicker('refresh');
        $('.span_count').parent().addClass('w-100 m-0 d-inline-block');
    }
    setTimeout(function () {
        initSelectPicker();
    }, 1000)
</script>
{% endblock extra_script %}