{% load i18n %}

<div class="w-100" ng-controller="CartList">
  {% if facet_type == 'groups' %}
    {% include 'search/_sidebar_group.html' %}
  {% endif %}
  <div class="row pb-3">
    <div class="col text-primary" id="title-ng-search">
      <span>{% trans "Total" %}: </span>
      <span ng-bind="total_counts"></span>
    </div>
    {% if facet_type == 'groups' %}
      <button class="btn btn-primary sidebar-toggle col-2" id="sidebarGC" aria-haspopup="true"
      aria-expanded="false">Search Group Categories</button>  
    {% endif %}
    {% include "search/_sort_filters.html" %}
  </div>
</div>


{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function () {
      $('#sidebarGC').on('click', function () {
          $('#sidebarGroup').toggleClass('active');
      });
  });
</script>
{% endblock extra_script %}