{% load i18n %}

<div class="col" ng-controller="CartList">
  {% if facet_type == 'groups' %}
    {% include 'search/_sidebar_group.html' %}
  {% endif %}
  <h3 class="text-primary">
    <span>{% trans "Total" %}: </span>
    <span ng-bind="total_counts"></span>
  </h3>
</div>

{% if facet_type == 'groupcategories' %}
  {% if user.is_authenticated and not READ_ONLY_MODE %}
    <div class="text-right d-flex mr-3"><a href="{% url "group_category_create" %}" class="btn btn-upload ml-2 btn--pill">{% trans "Create a New Group Category" %}</a></div>
  {% endif %}
{% endif %}
{% if facet_type == 'groups' %}
{% if user.is_authenticated and not READ_ONLY_MODE %}
  <div class="text-right d-flex mr-3"><a href="{% url "group_create" %}" class="btn btn-upload d-flex align-items-center">Create a New Group</a></div>
{% endif %}
<button class="btn btn-primary sidebar-toggle" id="sidebarGC" aria-haspopup="true" aria-expanded="false">Search Group Categories</button>  
{% endif %}
{% include "search/_sort_filters.html" %}


{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function () {
      $('#sidebarGC').on('click', function () {
          $('#sidebarGroup').toggleClass('active');
      });
  });
</script>
{% endblock extra_script %}