{% load i18n %}

<div class="side-inner bg-white" id="sidebar">
  <div class="row justify-content-between mb-2 pt-2">
    <div class="col-4 ml-2">{% trans "Filters" %}</div>
    <button type="button" id="clear-search" class="col-4 text-center delete_search_query_user">{% trans "Clear" %}</button>
    {% if request.user_agent.is_mobile %}
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-sidebar">
        <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
      </button>
    {% endif %}
  </div>
  {% verbatim %}
  <nav class="filter">
    <a href="#group-categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Group
      Categories</a>
    <ul class="collapse list-unstyled" id="group-categories">
      <li ng-repeat="category in groupCategories">
        <a data-value="{{ category.slug }}" data-filter="categories__slug__in"
          ng-click="multiple_choice_listener($event)" class="{{category.active}}">
          <div ng-if="category.fa_class" class="fa-stack fa-1g">
            <i class="fa fa-{{category.fa_class}} fa-stack-1x"></i>
          </div>{{ category.name | limitTo: 25 }}{{ category.name.length > 25 ? '...' : ''}}
          <span class="badge float-right">{{ category.member_count }}</span>
        </a>
      </li>
      {% endverbatim %}
    </ul>
  </nav>
</div>
{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function () {
      var showSidebar = () => {
          $('body').toggleClass('show-sidebar');
      };

      $('#sidebarGC').on('click', function () {
          showSidebar();
      });

      $('.js-menu-toggle').on('click', function() {
          var $this = $(this);
          showSidebar();
          if ( $('body').hasClass('show-sidebar') ) {
              $this.removeClass('active');
          } else {
              $this.addClass('active');
          }
      });

      $(document).mouseup(function(e) {
        var container = $(".sidebar");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
          if ( $('body').hasClass('show-sidebar') ) {
            $('body').removeClass('show-sidebar');
            $('body').find('.js-menu-toggle').removeClass('active');
          }
        }
      });

  });
</script>
{% endblock extra_script %}