{% load i18n %}

<div class="wrapper app-sidebar d-none">
  <div class="scrollbar-sidebar" id="ps_sidebarGroup" data-mdb-perfect-scrollbar='true'>
    <div id="sidebarGroup" class="bg-white">
      <div class="row justify-content-between mb-2 pt-2">
        <div class="col-4 ml-2">{% trans "Filters" %}</div>
        <button type="button" id="clear-search" class="col-4 text-center delete_search_query">{% trans "Clear" %}</button>
        {% if request.user_agent.is_mobile %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-sidebar">
            <i class="fa-solid fa-xmark" data-dismiss="modal"></i>
          </button>
        {% endif %}
      </div>
      {% verbatim %}
      <nav class="filter">
        <a href="#group-categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">Group
          Categories</a>
        <ul class="collapse list-unstyled" id="group-categories">
          <li ng-repeat="category in groupCategories">
            <a data-value="{{ category.slug }}" data-filter="categories__slug__in"
              ng-click="multiple_choice_listener($event)" class="{{category.active}}">
              <div ng-if="category.fa_class" class="fa-stack fa-1g">
                <i class="fa fa-{{category.fa_class}} fa-stack-1x"></i>
              </div>{{ category.name | limitTo: 25 }}{{ category.name.length > 25 ? '...' : ''}}
              <span class="badge float-right">{{ category.member_count }}</span>
            </a>
          </li>
          {% endverbatim %}
        </ul>
      </nav>
    </div>
  </div>
</div>

{% block extra_script %}
<script type="text/javascript">
const ps = new PerfectScrollbar("#ps_sidebarGroup", {
    wheelSpeed: 1,
    wheelPropagation: true,
    minScrollbarLength: 20
});
$(function() {
  $('#close-sidebar').on('click', function() {
      $('#sidebarGroup').toggleClass('active');
      $('.app-sidebar').toggleClass('d-none');
  })
})
</script>
{% endblock extra_script %}