{% load i18n %}

<div class="col-sm-2 d-inline-flex" id="sortFilter">
  <button type="button" class="btn btn-primary btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Order by">
    <div ng-if="dataValue == 'title' || dataValue == 'username' || dataValue == 'name'" ng-cloak>
      <i class="fa-solid fa-sort-alpha-asc fa-lg"></i>
    </div>
    <div ng-if="dataValue == '-title' || dataValue == '-username' || dataValue == '-name'" ng-cloak>
      <i class="fa-solid fa-sort-alpha-desc fa-lg"></i>
    </div>
    <div ng-if="dataValue == 'date' || dataValue == 'last_modified' || dataValue == 'date_joined'" ng-cloak>
      <i class="fa-solid fa-clock"></i>
      <i class="fa-solid fa-clock fa-level-up"></i>
    </div>
    <div ng-if="dataValue == '-date' || dataValue == '-last_modified' || dataValue == '-date_joined'" ng-cloak>
      <i class="fa-solid fa-clock"></i>
      <i class="fa-solid fa-clock fa-level-down"></i>
    </div>
    <div ng-if="dataValue == '-popular_count'" ng-cloak>
      <i class="fa-solid fa-fire fa-lg"></i>
    </div>
    <div ng-if="dataValue == null" ng-cloak>
      <i class="fa-solid fa-clock"></i>
      <i class="fa-solid fa-clock fa-level-down"></i>
    </div>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" id="sort">
    {% if facet_type != 'groups' and facet_type != 'people' and facet_type != 'groupcategories' %}
        <li><a data-value="-date" data-filter="order_by" class="selected btn-light btn_wrapper" ng-click="single_choice_listener($event)">{% trans "Most recent" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="date" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Less recent" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="-title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="-popular_count" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Most popular" %}</a></li>
    {% elif facet_type == 'groups' %}
        <li><a data-value="-last_modified" data-filter="order_by" class="selected btn-light btn_wrapper" ng-click="single_choice_listener($event)">{% trans "Most recent" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="last_modified" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Less recent" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="-title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
    {% elif facet_type == 'people' %}
        <li><a data-value="-date_joined" data-filter="order_by" class="selected btn-light btn_wrapper" ng-click="single_choice_listener($event)">{% trans "Most recent" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="date_joined" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Less recent" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="username" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="-username" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
    {% elif facet_type == 'groupcategories' %}
        <li><a class="btn-light btn_wrapper" data-value="name" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
        <li><a class="btn-light btn_wrapper" data-value="-name" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
    {% endif %}
  </ul>
</div>

{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function () {
      $('#sidebarFilter').on('click', function () {
          $('#sidebar').toggleClass('active');
      });
  });
</script>
{% endblock extra_script %}