{% load i18n %}
{% load thesaurus %}

<div id="tkeywords">
  {% for tname in THESAURI_FILTERS %}
    <nav class="filter" ng-cloak>
      <a href="#tkeywords_{{ tname }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-toggle">{{ tname|get_name_translation }}</a>
      <ul class="collapse list-unstyled" id="tkeywords_{{ tname }}">
        {% verbatim %}
          <li ng-repeat="tk in tkeywords" ng-if="tk.count > 0">
            <a data-value="{{ tk.id }}"
              data-filter="ebe16ff"
              ng-click="multiple_choice_listener($event)"
              class="{{tk.active}}">{{ tk.alt_label | limitTo: 25 }}{{ tk.alt_label.length > 25 ? '...' : ''}}
                <span class="badge float-right">{{ tk.count }}</span>
            </a>
          </li>
        {% endverbatim %}
      </ul>
    </nav>
  {% endfor %}
</div>