{% load i18n %}

<div class="search col-md-9">
  <form id="search" action="{% url "search" %}" >
    <span class="fa fa-search"></span>
    <div id="search-container" class="autocomplete-input">
      {% if HAYSTACK_SEARCH %}
      <input autocomplete="off" id="search_input" type="text" placeholder="{% trans 'Search' %}" name="q">
      <input type="hidden" name="abstract__icontains" id="search_abstract_input" placeholder="{% trans 'Search' %}" >
      <input type="hidden" name="purpose__icontains" id="search_purpose_input" placeholder="{% trans 'Search' %}" >
      <input type="hidden" name="f_method" id="filtering_type" value="or" >
      <span class="input-highlight"></span>
      {% else %}
      <input autocomplete="off" type="text" name="title__icontains" id="search_input" placeholder="{% trans 'Search' %}" >
      <input type="hidden" name="abstract__icontains" id="search_abstract_input" placeholder="{% trans 'Search' %}" >
      <input type="hidden" name="purpose__icontains" id="search_purpose_input" placeholder="{% trans 'Search' %}" >
      <input type="hidden" name="f_method" id="filtering_type" value="or" >
      <span class="input-highlight"></span>
      {% endif %}
    </div>
  </form>
</div>

{% block extra_script %}
<script text="text/javascript">
  $(function() {
    $("#search_input").on("change keyup paste click", function(){
        let _length = $("#search_input").val().length;
        let _width = (_length * 1.06) + 'em';
        if (_length > 0) {
          $(".input-highlight").css("width", _width);
        } else {
          $(".input-highlight").css("width", '0em');
        }
    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;
    
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
    
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    var title = getUrlParameter('title__icontains');
    
    if (title) {
      $("#search_input").val(title);
    }
  });
</script>
{% endblock %}