{% load i18n %}

<div class="search col-md-9">
  <form class="autocomplete-input input-group" id="text-search-autocomplete">
    <span class="input-group-btn">
      <button class="search_resources" type="submit" id="text_search_btn"><i class="fa fa-search"></i></button>
    </span>
    {% csrf_token %}
    <div id="text-search-container">
      <input autocomplete="off"  ng-model="text_query"  type="text" name="text_search_input" id="text_search_input" placeholder="{% trans 'Search' %}" >
	  <span class="input-highlight"></span>
    </div>
  </form>
</div>

{% block extra_script %}
<script text="text/javascript">
  $(function() {
    $("#text_search_input").on("change keyup paste click", function(){
        let _length = $("#text_search_input").val().length;
        let _width = (_length * 1.06) + 'em';
        if (_length > 0) {
          $(".input-highlight").css("width", _width);
        } else {
          $(".input-highlight").css("width", '0em');
        }
    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;
    
        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');
    
            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    var title = getUrlParameter('title__icontains');
    
    if (title) {
      $("#text_search_input").val(title);
    }
  });
</script>
{% endblock %}