{% load base_tags %}
{% load i18n %}

<script type="text/javascript">
  {% get_current_path as path %}

  {% if path == "/people/" %}
      SEARCH_URL = '{% url 'profiles-list' %}?q={{profile.username}}';

  {% elif "/people/profile" in path %}
      SEARCH_URL = '{% url 'base-resources-list' %}?225d70a={{profile.username}}';

  {% elif "/groups/group/" in path %}
      SEARCH_URL = '{% url 'profiles-list' %}?members={{object.slug}}';
  
  {% elif path == "/groups/" or "/groups/?c" in path or "/groups/?q" in path or "/groups/?order_by" in path %}
      SEARCH_URL = '{% url 'group-profiles-list' %}';

  {% elif "groups/categories/" in path %}
      SEARCH_URL = '{% url 'group-categories-list' %}?c={{object.slug}}';
      
  {% else %}
      SEARCH_URL = '{% url 'base-resources-list' %}';
  {% endif %}

</script>

{% include 'search/search_scripts.html' %}