{% load base_tags %}
{% load static %}

{% if DEBUG_STATIC %}
<script src="{% static "lib/js/angular.js" %}"></script>
<script src="{% static "lib/js/angular-cookies.js" %}"></script>
<script src={% static "lib/js/angular-sanitize.min.js" %}></script>
<script src="{% static "lib/js/angular-openlayers-directive.min.js" %}"></script>
{% endif %}

{% if include_spatial == 'true' %}
<style>
  .filter-map-container {  /* filter map */
    height: 300px;
  }
</style>

{% endif %}
{% block search_script_loading %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.js" integrity="sha512-Re9KhAaoh5qo/Cm/wtExVs7ETTKTx/81aXPHko2nWlUvTzELYhTwpp/DwUu+z8ul+DjtbJdPcmxEYwKewzG62w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-csp.css" integrity="sha512-TSigfdiJq7G9AWJnE/8D3M/HcBs9wfKpbrCbMg4iSs8IRVujA854B5wd/glfPzBRaeqiLLz1jHm6swYsci2txQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="{% static "geonode/js/search/explore.js" %}"></script>
<script src="{% static "geonode/js/search/search.js" %}"></script>
<script src="{% static "geonode/js/search/cart.js" %}"></script>

{% endblock search_script_loading %}
<script type="text/javascript">
  $("body").attr('ng-controller', 'geonode_search_controller');
  {% block search_scripts_endpoints %}
  CATEGORIES_ENDPOINT = '{% url 'categories-list' %}';
  GROUP_CATEGORIES_ENDPOINT = '{% url 'group-categories-list' %}';
  KEYWORDS_ENDPOINT = '{% url 'keywords-list' %}';
  var enable_thesauri = false;
  {% if THESAURI_FILTERS %}
    var enable_thesauri = true;
    T_KEYWORDS_ENDPOINT = '{% url 'tkeywords-list' %}';
  {% endif %}
  REGIONS_ENDPOINT = '{% url 'regions-list' %}';
  OWNERS_ENDPOINT = '{% url 'owners-list' %}';
  GROUPS_ENDPOINT = '{% url 'group-profiles-list' %}';
  DATATYPE_ENDPOINT = '{% url 'data_type-list' %}';
  RESOURCETYPE_ENDPOINT = '{% url 'base-resources-resource_types' %}';
  DATASETEXT_ENDPOINT = '{% url 'files-file_extension' %}';
  HAYSTACK_SEARCH = "{{ HAYSTACK_SEARCH }}".toLowerCase() === "true";
  HAYSTACK_FACET_COUNTS = "{{ HAYSTACK_FACET_COUNTS }}".toLowerCase() === "true";
  CLIENT_RESULTS_LIMIT = {{ CLIENT_RESULTS_LIMIT }};
  API_LIMIT_PER_PAGE = {{ API_LIMIT_PER_PAGE }};
 {% endblock %}

  {% get_current_path as path %}

  {% if path == "/people/" %}
      SEARCH_URL = '{% url 'profiles-list' %}?q={{profile.username}}';

  {% elif "/people/profile" in path %}
      SEARCH_URL = '{% url 'base-resources-list' %}?225d70a={{profile.username}}';

  {% elif "/groups/group/" in path %}
      SEARCH_URL = '{% url 'profiles-list' %}?members={{object.slug}}';
  
  {% elif path == "/groups/" or "/groups/?c" in path or "/groups/?q" in path or "/groups/?order_by" in path %}
      SEARCH_URL = '{% url 'group-profiles-list' %}';

  {% elif "groups/categories/" in path %}
      SEARCH_URL = '{% url 'group-categories-list' %}?c={{object.slug}}';
      
  {% else %}
      SEARCH_URL = '{% url 'base-resources-list' %}';
  {% endif %}

  var module = angular.module('search', ['geonode_main_search', 'cart']);
  module.constant('Configs', {
    url: SEARCH_URL
  });

  var deps = ['search'];
  {% if include_spatial == 'true' %}
    deps.push('openlayers-directive');
  {% endif %}
  angular.bootstrap(document, deps);
</script>
