{% extends "geonode_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Search" %} - {{ block.super }} {% endblock %}

{% block body_class %}search{% endblock %}

{% block body_outer %}
  <div class="page-header">
    <h2>{% trans "Search" %} <span ng-if="text_query != ''">:</span> <span ng-bind="text_query"></span></h2>
  </div>
  <i class="fa fa-angle-up" aria-hidden="true" id="jump_to_top" title="Jump to Top"></i>
  {% with include_type_filter='true' %}
  {% with header='Type' %}
  {% with filter='type__in' %}
  {% include "search/_search_content.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
    {% if HAYSTACK_SEARCH %}
    SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}'
    {% else %}
    SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}'
    {% endif %}

    $(function() {
        $('#jump_to_top').hide();
        $(window).scroll(function() {
            if ($(document).scrollTop() > 700) {
                $('#jump_to_top').show();
                $('#jump_to_top').animate({ scrollTop: 0 }, 'fast');
            }
            else {
                $('#jump_to_top').hide();
            }
        });
        $("#jump_to_top").click(function() {
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        });
    })
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}

  {% if not user.is_authenticated %}
  <div class="composition">
      <div class="composition-wrapper">
          <h1 class="ml13">Please sign in to see all available datasets</h1>
      </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script type="text/javascript">
        function animateLogin() {
            // Wrap every letter in a span
            $('.ml13').each(function(){
                $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter' onclick=\"window.location.href='https://data.wri-indonesia.id/account/login/?next=/layers/';\">$&</span>"));
            });
            anime.timeline({loop: true})
            .add({
                targets: '.ml13 .letter',
                translateY: [100,0],
                translateZ: 0,
                opacity: [0,1],
                easing: "easeOutExpo",
                duration: 900,
                delay: function(el, i) {
                    return 300 + 30 * i;
                }
            })
            .add({
                targets: '.ml13 .letter',
                translateY: [0,-100],
                opacity: [1,0],
                easing: "easeInExpo",
                duration: 2200,
                delay: function(el, i) {
                    return 100 + 30 * i;
                }
            });
        }
        $(function() {
            animateLogin();

            $(document).mouseup(function(e) 
            {
                var container = $(".close-signin");

                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    $('.composition').hide();
                } else {
                    $('.composition').remove();
                }
            });

            $('<a href="#" class="close-signin">').insertBefore(".ml13");
        
            $(".ml13").hover(function() {
                $(".ml13").hide();
                $("<h1 class='ml14' onclick=\"window.location.href='https://data.wri-indonesia.id/account/login/?next=/layers/';\">sign in</h1>").insertAfter(".ml13");
            });

            $('#jump_to_top').hide();
            $(window).scroll(function() {
                if ($(document).scrollTop() > 700) {
                    $('#jump_to_top').show();
                    $('#jump_to_top').animate({ scrollTop: 0 }, 'fast');
                }
                else {
                    $('#jump_to_top').hide();
                }
            });
            $("#jump_to_top").click(function() {
                $('html, body').animate({ scrollTop: 0 }, 'fast');
            });

        });
            
    </script>
  {% endif %}

{% endblock extra_script %}