{% extends "geonode_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Search" %} - {{ block.super }} {% endblock %}

{% block body_class %}search{% endblock %}

{% block body_outer %}
  <i class="fa fa-angle-up" aria-hidden="true" id="jump_to_top" title="Jump to Top"></i>
  <div class="page-header col-md-12" id="resources_list">
    {% comment %} <h2>{% trans "Search" %} <span ng-if="text_query != ''">:</span> <span ng-bind="text_query"></span></h2> {% endcomment %}
    {% if SEARCH_FILTERS.TEXT_ENABLED %}
      {% include "search/_text_container.html" %}
    {% endif %}
  </div>
  {% with include_type_filter='true' %}
  {% with header='Type' %}
  {% with filter='type__in' %}
  {% include "search/_search_content.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% endblock %}

{% block extra_script %}
{{ block.super }}
  {% if GEONODE_SECURITY_ENABLED %}
    {% include "_permissions_form_js.html" %}
  {% endif %}
  <script type="text/javascript">
    {% if HAYSTACK_SEARCH %}
    SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}'
    {% else %}
    SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}'
    {% endif %}

    $(function() {
        $('#jump_to_top').hide();
        $(window).scroll(function() {
            if ($(document).scrollTop() > 700) {
                $('#jump_to_top').show();
                $('#jump_to_top').animate({ scrollTop: 0 }, 'fast');
            }
            else {
                $('#jump_to_top').hide();
            }
        });
        $("#jump_to_top").click(function() {
            $('html, body').animate({ scrollTop: 0 }, 'fast');
        });
    })
  </script>
  {% with include_spatial='true' %}
  {% include 'search/search_scripts.html' %}
  {% endwith %}

  {% include 'section/require_signin.html' %}

{% endblock extra_script %}