{% extends "pinax/notifications/base.html" %}

{% load i18n %}
{% load user_messages %}

{% block body_id %}notification-settings{% endblock %}

{% block head_title %}{% trans "Notification Settings" %}{% endblock %}

{% block body %}
<div class="card w-100 border-dark rounded">
  <form method="POST" class="form" action="">
    <div class="card-header">
        <h3 class="text-center">{% trans "Notification Settings" %}</h3>
    </div>
    <div class="card-body">
        {% url "account_settings" as email_url %}
        {% if not request.user.email %}
        {% blocktrans %}
        <p class="alert alert-warning">
            <span class="warning">Note</span>:
            You do not have a verified email address to which notices can be sent. <a href="{{ email_url }}">Add one</a>
            now.
        </p>
        {% endblocktrans %}
        {% endif %}
            {% csrf_token %}
            <table class="table table-striped notice_settings">
                <tr>
                    <th>{% trans "Notification Type" %}</th>
                    {% for header in notice_settings.column_headers %}
                    <th>
                        {% trans header.title %}
                    </th>
                    {% endfor %}
                </tr>
                {% for row in notice_settings.rows %}
                {% show_notification row.notice_type.label request.user as notice_enabled %}
                <tr class="notice-row" {% if not notice_enabled %}style="visibility:collapse" {% endif %}>
                    <td>
                        <strong>{% trans row.notice_type.display %}</strong><br />
                        <span class="notice_type_description">
                            {% trans row.notice_type.description %}
                        </span>
                    </td>
                    {% for cell in row.cells %}
                    <td>
                        <input type="checkbox" name="{{ cell.0 }}" {% if not notice_enabled %}disabled="true"
                            {% else %}{% if cell.1 %}checked="yes" {% endif %}{% endif %} />
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
    </div>
    <div class="card-footer">
        <button id="submitNotification" type="submit" class="btn btn-save btn-block">{% trans "Change" %}</button>
    </div>
  </form>
</div>
{% endblock %}

{% block extra_script %}
  

  <script type="text/javascript">
    $(function() {
        $("#submitNotification").click(function() {
            $(document.body).append(`{% with toast_title="Notification Settings" %}
              {% with toast_message='Your notification setting has been saved.' %}
                {% include "toast/_trigger_toast.html" %}
              {% endwith %}
            {% endwith %}`);
            $('.toast').toast('show');
        })
    })
  </script>
{% endblock %}