{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block extra_script %}

<script type="text/javascript">
  $(document).ready(function() {

    let csrftoken = Cookies.get('csrftoken');

    $('#change-password').submit(function(e) {
      e.preventDefault();
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        method: 'POST',
        url: `{% url 'account_change_password' %}`,
        headers: {
          "X-CSRFToken": csrftoken
        },
        error: function(xhr, desc, err) {
          const res = JSON.parse(xhr.responseText);
          const _err = res.form.fields.password1.errors[0]
          let msg = _err;
          let title = "Can't Reset Your Password";
          const $toast = toastr["error"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
        }
      }).done(function() {
        setInterval('location.reload()', 1000); 
      });
      return false;
    });

  });
</script>
{% endblock extra_script %}