{% load i18n %}
{% load static %}
{% load base_tags %}
{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function(){
      
        $("#change-password").submit(function(t){
          return t.preventDefault(),
          $.ajax({
            data:$(this).serialize(),type:$(this).attr("method"),method:"POST",
            url:"{% url 'account_change_password' %}",headers:{"X-CSRFToken":'{{csrf_token}}'},
            error:function(e,t,o){
              let r=JSON.parse(e.responseText).form.fields.password1.errors[0];
              console.log(r)
              $(document.body).append(`{% with toast_title="Sorry, we can't reset your password" %}
                  {% with toast_message='Please ask your administrator for this cause.' %}
                    {% include "toast/_auth_toast.html" %}
                  {% endwith %}
                {% endwith %}`);
              $('.toast').toast('show')
            }}).done(function(){setInterval("location.reload()",1e3)}),!1})

    });
        
</script>
{% endblock extra_script %}