{% load i18n %}

<script type="text/javascript">

  $(function() {
      $("#security_refresh").click(function(){
          $.ajax(
            {
              type: "POST",
              url: "{% url 'invalidate_permissions_cache' %}",
              dataType: 'json',
              data: { uuid: "{{ resource.uuid }}" },
              beforeSend: function(){
                  // Handle the beforeSend event
                  try {
                      $("#progress").modal("show");
                  } catch (err) {
                      console.log(err);
                  }
              },
              complete: function(){
                  // Handle the complete event
                  try {
                      $("#progress").modal("hide");
                  } catch (err) {
                      console.log(err);
                  }
              },
              error: function(jqXHR, textStatus){
                  console.log(textStatus);
              },
              cache: false,
              timeout: 60000
            }
          ).fail(function (jqXHR, textStatus, error) {
                message = JSON.parse(jqXHR.responseText);
                body = message.message;
                console.log(textStatus, message);
          }).done(function(){ location.reload(); });
          return false;
      });

      $("#attributes_sats_refresh").click(function(){
          $.ajax(
            {
              type: "POST",
              url: "{% url 'attributes_sats_refresh' %}",
              dataType: 'json',
              data: { uuid: "{{ resource.uuid }}" },
              beforeSend: function(){
                  // Handle the beforeSend event
                  try {
                      $("#progress").modal("show");
                  } catch (err) {
                      console.log(err);
                  }
              },
              complete: function(){
                  // Handle the complete event
                  try {
                      $("#progress").modal("hide");
                  } catch (err) {
                      console.log(err);
                  }
              },
              cache: false
            }
          ).fail(function (jqXHR, textStatus, error) {
                message = JSON.parse(jqXHR.responseText);
                console.log(textStatus, message);
          }).done(function(){ location.reload(); });
          return false;
      });

      $("#tiledlayer_refresh").click(function(){
          $.ajax(
            {
              type: "POST",
              url: "{% url 'invalidate_tiledlayer_cache' %}",
              dataType: 'json',
              data: { uuid: "{{ resource.uuid }}" },
              beforeSend: function(){
                  // Handle the beforeSend event
                  try {
                      $("#progress").modal("show");
                  } catch (err) {
                      console.log(err);
                  }
              },
              complete: function(){
                  // Handle the complete event
                  try {
                      $("#progress").modal("hide");
                  } catch (err) {
                      console.log(err);
                  }
              },
              cache: false
            }
          ).fail(function (jqXHR, textStatus, error) {
                message = JSON.parse(jqXHR.responseText);
                body = message.message;
                console.log(textStatus, message);
          }).done(function(){ location.reload(); });
          return false;
      });
  });

</script>