{% load i18n %}

<script type="text/javascript">

  $(function() {
      $("#security_refresh").click(function(){
          $.ajax(
            {
              type: "POST",
              url: "{% url 'invalidate_permissions_cache' %}",
              dataType: 'json',
              data: { uuid: "{{ resource.uuid }}" },
              beforeSend: function(){
                  $(document.body).append(`{% with toast_title="Refresh Security Rules Cache" %}
                        {% include "toast/_toast_loading.html" %}
                  {% endwith %}`);
                  $('.toast').toast({delay: 99999999999});
                  $('#prog').remove();
                  $('.toast').toast('show');
              },
              complete: function(){
                  $('#liveToast').remove();
              },
              error: function(jqXHR, textStatus){
                  console.log(textStatus);
              },
              cache: false,
              timeout: 60000
            }
          ).fail(function (jqXHR, textStatus, error) {
                message = JSON.parse(jqXHR.responseText);
                body = message.message;
                $(document.body).append(`{% with toast_title="Failed Refresh Security Rules Cache" %}
                    {% with toast_message='`+ body +`' %}
                      {% with toast_alert='error' %}
                        {% include "toast/_trigger_toast.html" %}
                      {% endwith %}
                    {% endwith %}
                {% endwith %}`);
                $('.toast').toast('show');
          });
          return false;
      });

      $("#attributes_sats_refresh").click(function(){
          $.ajax(
            {
              type: "POST",
              url: "{% url 'attributes_sats_refresh' %}",
              dataType: 'json',
              data: { uuid: "{{ resource.uuid }}" },
              beforeSend: function(){
                  $(document.body).append(`{% with toast_title="Refresh Attributes and Statistics" %}
                        {% include "toast/_toast_loading.html" %}
                  {% endwith %}`);
                  $('.toast').toast({delay: 99999999999});
                  $('#prog').remove();
                  $('.toast').toast('show');
              },
              complete: function(){
                  $('#liveToast').remove();
              },
              cache: false
            }
          ).fail(function (jqXHR, textStatus, error) {
                message = JSON.parse(jqXHR.responseText);
                body = message.message;
                $(document.body).append(`{% with toast_title="Failed Refresh Attributes and Statistics" %}
                    {% with toast_message='`+ body +`' %}
                      {% with toast_alert='error' %}
                        {% include "toast/_trigger_toast.html" %}
                      {% endwith %}
                    {% endwith %}
                {% endwith %}`);
                $('.toast').toast('show');
          });
          return false;
      });

      $("#tiledlayer_refresh").click(function(){
          $.ajax(
            {
              type: "POST",
              url: "{% url 'invalidate_tiledlayer_cache' %}",
              dataType: 'json',
              data: { uuid: "{{ resource.uuid }}" },
              beforeSend: function(){
                  $(document.body).append(`{% with toast_title="Clear Tiled-Layer Cache" %}
                        {% include "toast/_toast_loading.html" %}
                  {% endwith %}`);
                  $('.toast').toast({delay: 99999999999});
                  $('#prog').remove();
                  $('.toast').toast('show');
              },
              complete: function(){
                  $('#liveToast').remove();
              },
              cache: false
            }
          ).fail(function (jqXHR, textStatus, error) {
                message = JSON.parse(jqXHR.responseText);
                body = message.message;
                $(document.body).append(`{% with toast_title="Failed Clear Tiled-Layer Cache" %}
                    {% with toast_message='`+ body +`' %}
                      {% with toast_alert='error' %}
                        {% include "toast/_trigger_toast.html" %}
                      {% endwith %}
                    {% endwith %}
                {% endwith %}`);
                $('.toast').toast('show');
          });
          return false;
      });
  });

</script>