{% block extra_script %}
<script type="text/javascript">
  $(function() {
      $("#feedback-form").submit(function(t) {
          t.preventDefault();
          $.ajax({
              data: new FormData(this),
              type:$(this).attr('method'),
              url:"{% url 'feedback' %}",
              headers:{"X-CSRFToken":'{{csrf_token}}'},
              processData: false,
              contentType: false,
              success: function(data) {
                  $("#request-download-layer")[0].reset()
              }
          }).done(function(){location.reload(); $(".modal").modal("hide")},!1);
      });
  });
</script>
{% endblock extra_script %}