{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}
{% load avatar_tags %}

{% block extra_script %}
<script src="{% static "geonode/js/base/js.cookie.min.js" %}"></script>

<script type="text/javascript">
  {% comment %} $(document).ready(function() {
    
    let csrftoken = Cookies.get('csrftoken');

    $('#form-signin').click(function(e) {
      e.preventDefault();
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        url: `{% url "account_login" %}?next={{ request.path }}`,
        headers: {
          "X-CSRFToken": csrftoken
        },
        success: function(res) {
          /*
          let msg = `Login Successful. Welcome to the {{ SITEURL }}`;
          let title = `Hi {{ user.first_name }}`;
          const $toast = toastr["success"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
          */

        },
        error: function(xhr, desc, err) {
          console.log(err);
        }
      }).done(function() {
        setInterval('location.reload()', 2000); 
      });
      return false;
    });

  }); {% endcomment %}
</script>
{% endblock extra_script %}