{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}
{% load avatar_tags %}

{% block extra_script %}

<script type="text/javascript">
  $(document).ready(function() {
    
    let csrftoken = Cookies.get('csrftoken');

    $('#form-signin').submit(function(e) {
      e.preventDefault();
      let formData = $(this).serialize();
      formData += 'h-captcha-response'
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        url: `{% url "account_login" %}?next={{ request.path }}`,
        headers: {
          "X-CSRFToken": csrftoken
        },
        error: function(xhr, desc, err) {
          const res = JSON.parse(xhr.responseText);
          const _err = res.form.errors[0]
          let msg = _err;
          let title = "Login Error";
          const $toast = toastr["warning"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
        }
      }).done(function() {
        // setInterval('location.reload()', 1000); 
      });
      return false;
    });

  });
</script>
{% endblock extra_script %}