{% load i18n %}
{% load static %}
{% load base_tags %}
{% load avatar_tags %}
{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function() {

      $("#form-signin").submit(function(o){
        const e=$(this).serialize(),s=Object.assign(...e.split("&").map(t=>t.split("=")).map(([t,o])=>({[t]:o}))),r=s["h-captcha-response"],a=s["g-recaptcha-response"];
        if(void 0===a||""==a)
          $.ajax({
            data:{secret:"{{HCAPTCHA_SECRET}}",response:r},url:"https://hcaptcha.com/siteverify",
            success:function(t){
              $(document.body).append(`{% with toast_title='Captcha Response' %}
                  {% with toast_message='Your captcha is valid. You can proceed to login.' %}
                    {% include "toast/_auth_toast.html" %}
                  {% endwith %}
                {% endwith %}`);
              $('.toast').toast('show');
            },error:function(t,o,e){
              $(document.body).append(`{% with toast_title='Captcha Response' %}
                  {% with toast_message='Your captcha is invalid. Please try again.' %}
                    {% include "toast/_auth_toast.html" %}
                  {% endwith %}
                {% endwith %}`);
              $('.toast').toast('show');
            }});
        else if(r===a)
          return o.preventDefault(),
          $.ajax({
            data:e,type:$(this).attr("method"),url:'{% url "account_login" %}?next={{request.path}}',headers:{"X-CSRFToken":'{{csrf_token}}'},
            error:function(t,o,e){
              if(400==t.status){
                $(document.body).append(`{% with toast_title='Login Error' %}
                    {% with toast_message='The username and/or password you specified are not correct.' %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
              }else{
                let o=JSON.parse(t.responseText).form.errors[0];
                console.log(o);
                $(document.body).append(`{% with toast_title='Login Error' %}
                    {% with toast_message='The username and/or password you specified are not correct.' %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
              }}})
          .done(function(t,o,e){setInterval("location.reload()",1e3)}),!1;return!1})

  });
  
</script>
{% endblock extra_script %}
