{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}
{% load avatar_tags %}

{% block extra_script %}
<script src="{% static "lib/js/jquery.js" %}"></script>

<script src="{% static "geonode/js/base/js.cookie.min.js" %}"></script>

<script type="text/javascript">
  $(document).ready(function() {

    const _user ='{{ user.is_authenticated }}';
    let csrftoken = Cookies.get('csrftoken');

    if (_user != 'False') {
      $('#logged-out').hover(function() {
        const $this = $(this);
        $this
          .data('users', $this.text())
          .text("Logged out?");
      }, function() {
        const $this = $(this);
        $this.text($this.data('users'));
      });
    }

    $('#logged-out').click(function(e) {
      e.preventDefault();
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        method: 'POST',
        url: `{% url "account_logout" %}`,
        headers: {
          "X-CSRFToken": csrftoken
        },
        success: function(res) {
          /*
          let msg = "You have been successfully logout";
          let title = "Logout";
          const $toast = toastr["success"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
          */

        },
        error: function(xhr, desc, err) {
          console.log(err);
        }
      }).done(function() {
        setInterval('location.reload()', 1000); 
      });
      return false;
    });

  });
</script>
{% endblock extra_script %}