{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block extra_script %}

<script type="text/javascript">
  $(document).ready(function() {

    let csrftoken = Cookies.get('csrftoken');

    $('#reset-password').submit(function(e) {
      e.preventDefault();
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        method: 'POST',
        url: `{% url 'account_reset_password' %}`,
        headers: {
          "X-CSRFToken": csrftoken
        },
        success: function(res) {
          let msg = "We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.";
          let title = "Reset Password";
          const $toast = toastr["success"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
        },
        error: function(xhr, desc, err) {
          console.log(err);
        }
      }).done(function() {
        setInterval('location.reload()', 1000); 
      });
      return false;
    });

  });
</script>
{% endblock extra_script %}