{% load i18n %}
{% load static %}
{% load base_tags %}
{% block extra_script %}
  <script type="text/javascript">
      $(document).ready(function(){

        $('#reset-password').submit(
          function(e){e.preventDefault(); 
            $.ajax({
              data: $(this).serialize(), 
              type: $(this).attr('method'), 
              method: 'POST', 
              url: `{% url 'account_reset_password' %}`, 
              headers:{"X-CSRFToken":'{{csrf_token}}'}, 
              success: function(res){
                $(document.body).append(`{% with toast_title='Reset Password' %}
                    {% with toast_message='We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.' %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
              },error: function(xhr, desc, err){
                const _responseText = xhr.responseJSON.form.fields.email.errors[0];
                $(document.body).append(`{% with toast_title='Incorrect Email Address' %}
                    {% with toast_message='The e-mail address is not assigned to any user account' %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
              }})
            .done(function(){setInterval('location.reload()', 1000);}); return false;});

          
    });
  </script>
{% endblock extra_script %}