
{% load i18n %}
{% load static %}

<script type="text/javascript">

  $(function() {

    $("#permission-form").submit(function(t) {
        var form = $(this);
        var action = form.attr("action");
        var permissions = form.serializeObject();
        Pace.start();
        $.ajax(
          {
            type:$(this).attr('method'),
            url: action,
            data: JSON.stringify(permissions),
            beforeSend: function() {
              // Handle the beforeSend event
              try {
                   $(".lmask").modal("show");
              } catch(err) {
                  console.log(err);
              }
            },
            complete: function(){
                // Handle the complete event
                try {
                    $(".lmask").modal("hide");
                } catch(err) {
                    console.log(err);
                }
            },
            success: function(data) {
              $("#resourceModalPerms").modal("hide");
            }, /* - END success - */
            cache: false
          }
        ).fail(function (jqXHR, textStatus, error) {
              $("#modal_perms").modal("hide");
        }).done(function() {
          location.reload();
          Pace.stop();
        });
        return false;

    });

    $("#security_refresh").click(function(){
        $.ajax(
          {
            type: "POST",
            url: "{% url 'invalidate_permissions_cache' %}",
            dataType: 'json',
            data: { uuid: "{{ resource.uuid }}" },
            beforeSend: function(){
                // Handle the beforeSend event
                try {
                    $(".lmask").modal("show");
                } catch (err) {
                    console.log(err);
                }
                try {
                    $("#_perms_processing").modal("show");
                } catch(err) {
                    console.log(err);
                }
            },
            complete: function(){
                // Handle the complete event
                try {
                    $(".lmask").modal("hide");
                } catch (err) {
                    console.log(err);
                }
                try {
                    $("#_perms_processing").modal("hide");
                } catch(err) {
                    console.log(err);
                }
            },
            success: function(data) {
              $("#modal_perms").modal("hide");
              message = data;
              title = "";
              body = message.message;
              if (message.success) {
                  title = "OK";
              } else {
                  title = "Warning";
              }
            },
            error: function(jqXHR, textStatus){
                try {
                    if(textStatus === 'timeout')
                    {
                        $("#_permissions_feedbacks").find('.modal-title w-100').text('Timeout');
                        $("#_permissions_feedbacks").find('.modal-body').text('Failed from timeout: Could not create Thumbnail');
                        $("#_permissions_feedbacks").modal("show");
                    } else {
                        $("#_permissions_feedbacks").find('.modal-title w-100').text('Error: ' + textStatus);
                        $("#_permissions_feedbacks").find('.modal-body').text('Could not set Layer Permissions');
                        $("#_permissions_feedbacks").modal("show");
                    }
                } catch(err) {
                    console.log(err);
                } finally {
                    return true;
                }
            },
            cache: false,
            timeout: 60000
          }
        ).fail(function (jqXHR, textStatus, error) {
              // Handle error here
              $("#modal_perms").modal("hide");
              message = JSON.parse(jqXHR.responseText);
              body = message.message;
              title = "Error";
        }).done(function(){ location.reload(); });
        return false;
    });

    $("#attributes_sats_refresh").click(function(){
        $.ajax(
          {
            type: "POST",
            url: "{% url 'attributes_sats_refresh' %}",
            dataType: 'json',
            data: { uuid: "{{ resource.uuid }}" },
            beforeSend: function(){
                // Handle the beforeSend event
                try {
                    $(".lmask").modal("show");
                } catch (err) {
                    console.log(err);
                }
            },
            complete: function(){
                // Handle the complete event
                try {
                    $(".lmask").modal("hide");
                } catch (err) {
                    console.log(err);
                }
            },
            success: function(data) {
              $("#modal_perms").modal("hide");
              message = data;
              title = "";
              body = message.message;
              if (message.success) {
                  title = "OK";
              } else {
                  title = "Warning";
              }
            },
            cache: false
          }
        ).fail(function (jqXHR, textStatus, error) {
              // Handle error here
              $("#modal_perms").modal("hide");
              message = JSON.parse(jqXHR.responseText);
              body = message.message;
              title = "Error";
        }).done(function(){ location.reload(); });
        return false;
    });

    $("#tiledlayer_refresh").click(function(){
        $.ajax(
          {
            type: "POST",
            url: "{% url 'invalidate_tiledlayer_cache' %}",
            dataType: 'json',
            data: { uuid: "{{ resource.uuid }}" },
            beforeSend: function(){
                // Handle the beforeSend event
                try {
                    $(".lmask").modal("show");
                } catch (err) {
                    console.log(err);
                }
            },
            complete: function(){
                // Handle the complete event
                try {
                    $(".lmask").modal("hide");
                } catch (err) {
                    console.log(err);
                }
            },
            success: function(data) {
              $("#modal_perms").modal("hide");
              message = data;
              title = "";
              body = message.message;
              if (message.success) {
                  title = "OK";
              } else {
                  title = "Warning";
              }
            },
            cache: false
          }
        ).fail(function (jqXHR, textStatus, error) {
              // Handle error here
              $("#modal_perms").modal("hide");
              message = JSON.parse(jqXHR.responseText);
              body = message.message;
        }).done(function(){ location.reload(); });
        return false;
    });
  });
</script>