
{% load i18n %}
{% load static %}

<script type="text/javascript">

  $(function() {

    $("#permission-form").submit(function(t) {
        var form = $(this);
        var action = form.attr("action");
        var permissions = form.serializeObject();
        Pace.start();
        $.ajax(
          {
            type:$(this).attr('method'),
            url: action,
            data: JSON.stringify(permissions),
            beforeSend: function() {
              // Handle the beforeSend event
              try {
                   $(".lmask").modal("show");
              } catch(err) {
                  console.log(err);
              }
            },
            complete: function(){
                // Handle the complete event
                try {
                    $(".lmask").modal("hide");
                } catch(err) {
                    console.log(err);
                }
            },
            success: function(data) {
              $("#resourceModalPerms").modal("hide");
            }, /* - END success - */
            cache: false
          }
        ).fail(function (jqXHR, textStatus, error) {
              $("#modal_perms").modal("hide");
        }).done(function() {
            location.reload();
            Pace.stop();
        });
        return false;

    });

  });
</script>