{% load i18n %}
{% load static %}
{% load base_tags %}
{% load layer_tags %}
{% block extra_script %}
    <script type="text/javascript">
      $(document).ready(function(){
      $("#remove_layer").submit(function(t){
        return resource_title="{{resource.title}}",layername="{{resource.layer.service_typename}}",t.preventDefault(),
          $.ajax({
            data:{layername:layername},type:$(this).attr("method"),method:"POST",url:'{% url "layer_remove" %}',headers:{"X-CSRFToken":'{{csrftoken}}'},
            success:function(data){
              $(document.body).append(data);
            }}).done(function(){setInterval(function(){location.href="{% url 'catalogue_browse' %}"},2e3)}),!1})});</script>
{% endblock extra_script %}
