{% load i18n %}
{% load static %}
{% load base_tags %}
{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function(){let e=Cookies.get("csrftoken");
  $("#remove_gc").submit(function(t){
    return slug="{{object.slug}}",t.preventDefault(),
      $.ajax({
        data:{slug:slug},type:$(this).attr("method"),method:"POST",url:'{% url "group_remove" object.slug %}',headers:{"X-CSRFToken":e},
        success:function(e){
          $(document.body).append(`{% with toast_title='Delete Group Categories' %}
              {% with toast_message=object.slug|add:' has been deleted.' %}
                {% include "toast/_toast.html" %}
              {% endwith %}
            {% endwith %}`);
          $('.toast').toast('show')
        }}).done(function(){setInterval(function(){location.href="{% url 'group_category_list' %}"},1e3)}),!1})});</script>
{% endblock extra_script %}
