{% load i18n %}
{% load static %}
{% load base_tags %}
{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#remove_gc").submit(function(t){
      return slug="{{object.slug}}",t.preventDefault(),

      $.ajax({
        data:{slug:slug},type:$(this).attr("method"),method:"POST",url:'{% url "group_category_remove" object.slug %}',headers:{"X-CSRFToken":'{{csrftoken}}'},
        success:function(data){
          $(document.body).append(data);
          $('.toast').toast('show');
        }}).done(function(){setInterval(function(){location.href="{% url 'group_category_list' %}"},1e3)}),!1})

  });
</script>
{% endblock extra_script %}
