{% load i18n %}
{% load static %}
{% load document_tags %}
{% block extra_script %}
<script type="text/javascript">
  $(document).ready(function(){

      $("#remove_document").submit(function(t){
        return t.preventDefault(),
        $.ajax({
          data:{docid:"{{resource.id}}"},type:$(this).attr("method"),method:"POST",url:'{% url "document_remove" %}',headers:{"X-CSRFToken":'{{csrf_token}}'},
          success:function(data){
            $(document.body).append(data);
            $('.toast').toast('show')
        }}).done(function(){setInterval(function(){location.href="{% url 'catalogue_browse' %}"},1e3)}),!1})

  });
</script>
{% endblock extra_script %}
