{% load i18n %}
{% load static %}
{% load base_tags %}
{% block extra_script %}
  <script type="text/javascript">
    $(document).ready(function(){
      $("#remove_apps").submit(function(t){
        return t.preventDefault(),
          $.ajax({
            data:{geoappid:"{{resource.id}}"},type:$(this).attr("method"),method:"POST",url:'{% url "geoapp_remove" %}',headers:{"X-CSRFToken":'{{csrftoken}}'},
            success:function(data){
              $(document.body).append(data);
            }
          }).done(function(){
              setInterval(function(){location.href="{% url 'catalogue_browse' %}"},2e3)})
      ,!1})
    });
  </script>
{% endblock extra_script %}
