{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block extra_script %}

<script type="text/javascript">
  $(document).ready(function() {

    // get token from js cookie
    let csrftoken = Cookies.get('csrftoken');
    
    $('#request-download-layer').submit(function(e) {
      e.preventDefault();
      $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        method: 'POST',
        url: `{% url 'request_permissions' %}`,
        data: { uuid: "{{ resource.uuid }}" },
        headers: {
          "X-CSRFToken": csrftoken
        },
        success: function(res) {
          let msg = "We have sent an email to the resource owner on your request.";
          let title = "Request Download";
          const $toast = toastr["success"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
        },
        error: function(xhr, desc, err) {
          let msg = "Permission to download the resource could not be requested to resource owner because of an error.";
          let title = "Request Error";
          const $toast = toastr["warning"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
        }
      }).done(function() {
        setInterval('location.reload()', 1000); 
      });
      return false;
    });

  });
</script>
{% endblock extra_script %}