{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block extra_script %}

<script type="text/javascript">
  $(document).ready(function() {

    let retentionChoices = [
      {
          id: '1 day',
          text: '1 day'
      },
      {
          id: '1 week',
          text: '1 week'
      },
      {
          id: '1 month',
          text: '1 month'
      },
      {
          id: '6 months',
          text: '6 months'
      },
      {
          id: '1 year',
          text: '1 year'
      },
      {
          id: '2 years',
          text: '2 years'
      },
      {
          id: '3 years',
          text: '3 years'
      },
      {
          id: '5 years',
          text: '5 years'
      },
      {
          id: 'Forever',
          text: 'Forever'
      }
    ];

    $(".retention-array").select2({
      data: retentionChoices
    })
    
    let csrftoken = Cookies.get('csrftoken');
    
    $('#request-download-layer').submit(function(e) {
      e.preventDefault();
      let formData = $(this).serialize();
      const uri = $(location).attr('href');
      formData += '&uuid={{ resource.uuid }}';
      formData += '&resource_title={{ resource.title }}';
      formData += '&absolute_url='+uri;
      $.ajax({
        data: formData,
        type: $(this).attr('method'),
        method: 'POST',
        url: `{% url 'request_permissions' %}`,
        headers: {
          "X-CSRFToken": csrftoken
        },
        success: function(res) {
          let msg = "We have sent an email to the resource owner on your request.";
          let title = "Request Download";
          const $toast = toastr["success"](msg, title);
          toastr.options = {
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true
          }
          $('#request-download-layer')[0].reset();
        },
        error: function(xhr, desc, err) {
          if (xhr.status = 403) {
            let msg = "Please fill in the form completely.";
            let title = "Request Error";
            const $toast = toastr["error"](msg, title);
            toastr.options = {
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": true
            }
          } else {
            let msg = "Permission to download the resource could not be requested to resource owner because of an error.";
            let title = "Request Error";
            const $toast = toastr["error"](msg, title);
            toastr.options = {
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": true
            }
          }
        }
      }).done(function() {
        $('.modal').modal('hide');
      });
      return false;
    });

  });
</script>
{% endblock extra_script %}