{% load i18n %}
{% load static %}
{% load base_tags %}
{% block extra_script %}
    <script type="text/javascript">
      $(document).ready(function(){

        $("#signup_form").submit(function(s){
          const e=$(this).serialize(),o=Object.assign(...e.split("&").map(t=>t.split("=")).map(([t,s])=>({[t]:s}))),r=o["h-captcha-response"],a=o["g-recaptcha-response"];
          if(void 0===a||""==a)
            $.ajax({
              data:{secret:"{{HCAPTCHA_SECRET}}",response:r},
              url:"https://hcaptcha.com/siteverify",
              success:function(t){
                $(document.body).append(`{% with toast_title='Captcha Response' %}
                    {% with toast_message='Your captcha is valid. You can proceed to login.' %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
              },error:function(t,s,e){
                $(document.body).append(`{% with toast_title='Captcha Response' %}
                    {% with toast_message='Your captcha is invalid. Please try again.' %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
            }});
          else if(r===a)return s.preventDefault(),
            $.ajax({
              data:e,type:$(this).attr("method"),
              url:'{% url "account_signup" %}',
              headers:{"X-CSRFToken":'{{csrf_token}}'},
              success:function(t){
                $(document.body).append(`{% with toast_title='Sign up Successful' %}
                    {% with toast_message="We'll notify the admin first to aprrove your request. Once granted, you can access this site." %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
              }
              ,error:function(t,s,e){
                const o=JSON.parse(t.responseText),r=$("#id_password1_login").val(),a=$("#id_password2_login").val();
                let n=o.form.fields.email.errors[0];
                r.length<=6?n="Set your password length more than 6 characters":r!=a&&(n="Password missmatch. Please ensure your password confirmation exactly the same.");
                console.log(n);
                $(document.body).append(`{% with toast_title='Password missmatch' %}
                    {% with toast_message="Please ensure your password confirmation exactly the same. Set your password more than 6 characters." %}
                      {% include "toast/_auth_toast.html" %}
                    {% endwith %}
                  {% endwith %}`);
                $('.toast').toast('show')
              }}).done(function(){setInterval("location.reload()",2e3)}),!1;return!1})});</script>
{% endblock extra_script %}
