{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block extra_script %}

<script type="text/javascript">
  $(document).ready(function() {
    
    const csrftoken = Cookies.get('csrftoken');
    const secret_key = '{{ HCAPTCHA_SECRET }}';

    $('#signup_form').submit(function(e) {
      const _formData = $(this).serialize();
      const _formDataObject = Object.assign(..._formData.split('&').map(s => s.split('=')).map(([k, v]) => ({ [k]: v })));
      const h_captcha = _formDataObject['h-captcha-response'];
      const g_captcha = _formDataObject['g-recaptcha-response'];

      if (typeof g_captcha === "undefined" || g_captcha == "") {
        $.ajax({
          data: {
            'secret': secret_key,
            'response': h_captcha
          },
          url: 'https://hcaptcha.com/siteverify',
          success: function(res) {
            let msg = `Your captcha is valid. You can proceed to login.`;
            let title = "Captcha Response.";
            const $toast = toastr["success"](msg, title);
            toastr.options = {
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": true,
              "showDuration": "800",
              "hideDuration": "1000"
            }
          },
          error: function(xhr, desc, err) {
            let msg = `Your captcha is invalid. Please try again.`;
            let title = "Captcha Response.";
            const $toast = toastr["error"](msg, title);
            toastr.options = {
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": true,
              "showDuration": "800",
              "hideDuration": "1000"
            }
          }
        });

      } else if (h_captcha === g_captcha) {
        e.preventDefault();
        $.ajax({
          data: _formData,
          type: $(this).attr('method'),
          url: `{% url "account_signup" %}?next={{ request.path }}`,
          headers: {
            "X-CSRFToken": csrftoken
          },
          success: function(res) {
            let msg = `Sign up Successful. Please check your email to verify your account.`;
            let title = "Register";
            const $toast = toastr["success"](msg, title);
            toastr.options = {
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": true,
              "showDuration": "800",
              "hideDuration": "1000"
            }
          },
          error: function(xhr, desc, err) {
            const res = JSON.parse(xhr.responseText);
            const _pass = $('#id_password1_login').val();
            const _pass2 = $('#id_password2_login').val();
            const _err = res.form.fields.email.errors[0];
  
            let title = "Register Error";
            let msg = _err;
            if (_pass.length <= 6) {
              msg = 'Set your password length more than 6 characters';
            } else if (_pass != _pass2) {
              msg = 'Password missmatch. Please ensure your password confirmation exactly the same.';
            }
            const $toast = toastr["error"](msg, title);
            toastr.options = {
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": true
            }
          }
        }).done(function() {
          setInterval('location.reload()', 1000); 
        });
        return false;
      }
    });

  });
</script>
{% endblock extra_script %}