{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %} {% trans "Favorites" %} -- {{ block.super }} {% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
      <h3>{% trans "Favorites for" %} {{ user.username }}</h3>
  </div>
  
  {# list of user's current favorites #}
  <div class="card-body">
      {% if favorites %}
      <table id="favoritesListId" class="table">
          <thead>
              <th>{% trans "Item" %}</th>
              <th>{% trans "Type" %}</th>
              <th>&nbsp;</th>
          </thead>
          {% for favorite in favorites %}
          <tr>
              <td><a href='{{ favorite.content_object.detail_url }}' >{{ favorite.content_object }}</a></td>
              <td>{{ favorite.content_type }}</td>
              <td><button data-url="{% url 'delete_favorite' favorite.pk %}" class="btn btn-danger delete-btn">{% trans "Delete from Favorites" %}</button></td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <h4>No favorites</h4>
      {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_script %}
{{ block.super }}

{% include 'search/search_scripts.html' %}  

<script type="text/javascript">
    // add click behavior to the Delete Favorite button.
    // ajax call to delete favorite and remove row on success.
    $("#favoritesListId .delete-btn").click(function(event) {
        var deleteUrl = this.dataset.url;
        var tr = $(this).closest('tr');
        $.post(
            deleteUrl,
            function(data) {
                removeDomElementWithFade(tr);
        });
    });

    function removeDomElementWithFade(elem) {
        elem.fadeOut(800, function(){
            elem.remove();
        });
    }
</script>

{% endblock extra_script %}
