{% extends "geonode_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block body_class %}announcements{% endblock %}

{% block body %}
<form action="{{ post_url }}" method="POST" class="form form-horizontal" novalidate>
  <div class="card mb-2 bg-primary text-center">
    <h3 class="text-light p-1">{% if announcement %}{% trans "Edit Announcement" %}{% else %}{% trans "Create Announcement" %}{% endif %}</h3>
  </div>

  <div class="card">
    {% if announcement %}
      {% url "announcements_update" pk=announcement.pk as post_url %}
    {% else %}
      {% url "announcements_create" as post_url %}
    {% endif %}
    <div class="card-body">
        {% csrf_token %}
        {{ form|crispy }}
    </div>
    <div class="card-footer">
      <div class="row">
        <a href="{% url "announcements_list" %}" class="btn btn-secondary col m-3">{% trans "Back to Announcement" %}</a>
        {% if announcement %}
        <a href="{% url "announcements_delete" pk=announcement.pk %}" class="btn btn-danger col m-3">{% trans "Delete" %}</a>
        {% endif %}
        <button type="submit" class="btn btn-save col m-3">{% trans "Save" %}</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_script %}
  
  
<script type="text/javascript">

    tinymce.init({
        selector: 'textarea#id_content',
        theme: 'silver',
        height: "680",
        plugins: [
            "print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons"
        ],
        toolbar: [
            "undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save | insertfile image media template link anchor codesample | ltr rtl"
        ],
        toolbar_sticky: "true",
        content_css: '//www.tiny.cloud/css/codepen.min.css',
        toolbar_mode: 'sliding',
        contextmenu: "link image imagetools table",
        cleanup_on_startup: true
  });

  $(function() {
    // dirty hacks to use bootstrap 4 datetimepicker rather than initial renderer
    $('#id_publish_end').attr('data-toggle', 'datetimepicker');
    $('#id_publish_end').attr('data-target', '#id_publish_end');
    $('#id_publish_end').addClass('datetimepicker-input');

    $('#id_publish_start').attr('data-toggle', 'datetimepicker');
    $('#id_publish_start').attr('data-target', '#id_publish_start');
    $('#id_publish_start').addClass('datetimepicker-input');

    $('#id_publish_start').datetimepicker({
      sideBySide: true,
      format : 'YYYY-MM-DD HH:mm'
    });

    $('#id_publish_end').datetimepicker({
      sideBySide: true,
      format : 'YYYY-MM-DD HH:mm'
    });

    $('#id_site_wide').attr('checked', true);
    $('#id_members_only').attr('checked', true);
    $('#id_members_only').attr('data-toggle', 'toggle');
    $('#id_members_only').attr('data-width', '100%');
    $('#id_members_only').attr('data-height', '50');
    
    $('#div_id_site_wide').css('display', 'none');

    $('#id_members_only').bootstrapToggle({
        on: 'For registered members',
        off: 'All users including guests'
    });

    $('.form-check-label').css('display', 'none');

  })
</script>
{% endblock extra_script %}
