{% extends "geonode_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block body_class %}announcements{% endblock %}

{% block body %}
<div class="card w-100 mb-2">
    <div class="card-header text-center">
      <h3>{% trans "Delete Announcement?" %}</h3>
    </div>
    {% url "announcements_delete" pk=announcement.pk as post_url %}

    <div class="card-body">
      
          <p><b>{{ announcement.title }}</b></p>
          <p><em>{{ announcement.content }}</em></p>
    </div>

    <div class="card-footer">
      <form action="{{ post_url }}" method="POST" class="form form-horizontal">
          {% csrf_token %}
          <div class="row">
              <a href="{% url "announcements_list" %}" class="btn btn-secondary col m-3">{% trans "Cancel" %}</a>
              <button type="submit" class="btn btn-danger col m-3">{% trans "Delete" %}</button>
          </div>
      </form>
    </div>
</div>
{% endblock %}
