{% extends "geonode_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block body_class %}announcements{% endblock %}

{% block body %}
  <div class="card w-100 mb-2">
    <h2 class="text-center p-2 m-0">{% if announcement %}{% trans "Edit Announcement" %}{% else %}{% trans "Create Announcement" %}{% endif %}</h2>
  </div>

  <div class="card w-100">
    {% if announcement %}
      {% url "announcements_update" pk=announcement.pk as post_url %}
    {% else %}
      {% url "announcements_create" as post_url %}
    {% endif %}
    <div class="card-body">
      <form action="{{ post_url }}" method="POST" class="form form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-actions">
          <a href="{% url "announcements_list" %}" class="btn btn-primary">{% trans "Cancel" %}</a>
          {% if announcement %}
          <a href="{% url "announcements_delete" pk=announcement.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
          {% endif %}
          <button type="submit" class="btn btn-save">{% trans "Save" %}</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  $(function() {
    // dirty hacks to use bootstrap 4 datetimepicker rather than initial renderer
    $('#id_publish_end').attr('data-toggle', 'datetimepicker');
    $('#id_publish_end').attr('data-target', '#id_publish_end');
    $('#id_publish_end').addClass('datetimepicker-input');

    $('#id_publish_start').attr('data-toggle', 'datetimepicker');
    $('#id_publish_start').attr('data-target', '#id_publish_start');
    $('#id_publish_start').addClass('datetimepicker-input');

    $('#id_publish_start').datetimepicker({
      sideBySide: true,
      format : 'YYYY-MM-DD HH:mm'
    });

    $('#id_publish_end').datetimepicker({
      sideBySide: true,
      format : 'YYYY-MM-DD HH:mm'
    });

    $('#id_site_wide').attr('checked', true);
    $('#id_site_wide').attr('data-toggle', 'toggle');
    $('#id_site_wide').attr('data-width', '100%');
    $('#id_site_wide').attr('data-height', '50');
    $('#id_members_only').attr('checked', true);
    $('#id_members_only').attr('data-toggle', 'toggle');
    $('#id_members_only').attr('data-width', '100%');
    $('#id_members_only').attr('data-height', '50');
    
    $('#id_site_wide').bootstrapToggle({
        on: 'Announcement for all users',
        off: '....'
    });

    $('#id_members_only').bootstrapToggle({
        on: 'For registered members',
        off: 'All users including guests'
    });

  })
</script>
{% endblock extra_script %}
